{% extends "base_site.html" %} {% block title %} Custom Page {{ page }} {% endblock
title %} {% block stylesheets %} {{ super() }} {% endblock stylesheets %} {% block
content %}
<div style="height: 50vh">
  <nav class="navbar navbar-default nav-controls" role="navigation">
    <ul class="pagination pagination-lg" style="margin: 0px; width: 230px">
      <li>
        <button
          type="button"
          class="btn btn-primary"
          onclick="eNMS.custom.showCustomForm()"
          data-tooltip="Tooltip"
        >
          <span class="glyphicon glyphicon-equalizer"></span>
        </button>
      </li>
    </ul>
  </nav>
  <div class="col-md-8 col-sm-8 col-xs-12">
    <fieldset class="section">
      <legend align="center" class="section">
        Example Form
      </legend>
      <div class="form-group" style="width: 60%; display: block; margin: 0 auto;">
        <select id="properties" class="form-control"> </select>
      </div>
      <div style="height:550px;"></div>
    </fieldset>
  </div>
</div>
{% endblock content %} {% block javascripts %} {{ super()}}
<script
  type="module"
  src="{{ url_for('static', filename='js/custom/custom_2.js') }}"
></script>
{% endblock javascripts %}
