<div id="show-logs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="title"></h4>
      </div>
      <div class="modal-body">
        <pre id="logs"></pre>
      </div>
    </div>
  </div>
</div>
<div id="compare-logs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Compare results</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label>First device</label>
            {{ compare_form.first_device(class="form-control") }}
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label>First version</label>
            {{ compare_form.first_version(class="form-control") }}
          </div>

        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label>Second device</label>
            {{ compare_form.second_device(class="form-control") }}
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label>Second version</label>
            {{ compare_form.second_version(class="form-control") }}
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div style="width: 100%; margin: 0 auto;" id="view" class="col-md-12 col-sm-12 col-xs-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>