{% extends "base_site.html" %}

{% block title %} Projects {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Tasks scheduling</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 1%">ID</th>
                    <th style="width: 15%">Task name</th>
                    <th>Creator</th>
                    <th style="width: 10%">Time before next run</th>
                    <th>Status</th>
                    <th style="width: 10%">View</th>
                    <th style="width: 20%">Edit</th>
                    <th style="width: 20%">Delete</th>
                    <th style="width: 20%">Pause / Resume</th>
                  </tr>
                </thead>
                <tbody>
                  {% for task in tasks %}
                  <tr>
                    <td>{{ task.id }}</td>
                    <td>
                      <a>{{ task.name }}</a>
                      <br />
                      <small>Created {{ task.creation_time }}</small>
                    </td>
                    <td>
                      <img src="/static/images/user.png" title="{{ task.creator }}" class="avatar" alt="Avatar">
                    </td>
                    <td>
                      <small>57% Complete</small>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success btn-xs">Active</button>
                    </td>
                    <td>
                      <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    </td>
                    <td>
                      <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                    </td>
                    <td>
                      <form action="/delete_task" method='post'>
                      <input type="hidden" name="task_name" value={{ task.name }} />
                      <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</button>
                      </form>
                    </td>
                    <td>
                      {% if task.status == 'Active' %}
                      <form action="/pause_task" method='post'>
                      <input type="hidden" name="task_name" value={{ task.name }} />
                      <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Pause</button>
                      </form>
                      {% else %}
                      <form action="/resume_task" method='post'>
                      <input type="hidden" name="task_name" value={{ task.name }} />
                      <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Resume</button>
                      </form>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- end project list -->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}
