{% extends "base_site.html" %}

{% block title %} Object overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  {% for type in ('node', 'link') %}
    <div id="edit-{{ type }}" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="title"></h4>
          </div>
          {% set form = add_node_form if type == 'node' else add_link_form %}
          <form id="edit-{{ type }}-form" data-parsley-validate class="form-horizontal form-label-left" method="post">
            <div class="modal-body">
              <div class="form-group" style="height: 450px">
                {% for field in form if field.widget.input_type != 'hidden'  %}
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ field.label }}</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    {{ field(id= type + '-' + field.name, class="form-control") }}
                  </div><br><br>
                {% endfor %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="reset">Reset</button>
              <button type="button" class="btn btn-success" onclick="editObject('{{ type }}')">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row" style="height: 350px">
      <!-- begin column -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div style="padding-bottom:5px;">
          <form id="form" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" >
            <label class="btn btn-default btn-file" style="width:100%;">Import a network topology
              <input id="file" name="file" style="visibility:hidden; display:none" type="file">
            </label>
          </form>
        </div>
        <div class="x_panel">
          <div class="x_content">
            <div class="panel-group">
              <div style="padding-bottom:5px;">
                <button class="btn btn-default btn-file" onclick="showModal('node')" style="width:100%;">
                  Add a new node
                </button>
              </div>
            </div>
            <table id="node-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  {% for field in node_fields %}
                    <th>{{ names[field] }}</th>
                  {% endfor %}
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for node in nodes %}
                <tr id="node-{{ node.name }}">
                  {% for field in node_fields %}
                    <td>{{ node[field] }}</td>
                  {% endfor %}
                  <td>
                    <button type="button" class="btn btn-info btn-xs" onclick="showObjectModal('node', '{{ node['name'] }}')">Edit</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" onclick="deleteObject('node', '{{ node['name'] }}')">Delete</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end column -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row" style="height: 350px">
      <!-- begin column -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="panel-group">
              <div style="padding-bottom:5px;">
                <button class="btn btn-default btn-file" onclick="showModal('link')" style="width:100%;">
                  Add a new link
                </button>
              </div>
            </div>
            <table id="link-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  {% for field in link_fields %}
                    <th>{{ names[field] }}</th>
                  {% endfor %}
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for link in links %}
                <tr id="link-{{ link.name }}">
                  {% for field in link_fields %}
                    <td>{{ link[field] }}</td>
                  {% endfor %}
                  <td>
                    <button type="button" class="btn btn-info btn-xs" onclick="showObjectModal('link', '{{ link['name'] }}')">Edit</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" onclick="deleteObject('link', '{{ link['name'] }}')">Delete</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end column -->
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    $('#node-table').DataTable();
    $('#link-table').DataTable();

      document.getElementById("file").onchange = function() {
        $("#form").submit();
      };

    function showModal(type) {
      $('#title').text(`Add a new ${type}`);
      $(`#edit-${type}-form`).trigger("reset");
      $(`#edit-${type}`).modal('show');
    }

    function showObjectModal(type, name) {
      $('#title').text(`Edit ${type} properties`);
      $.ajax({
        type: "POST",
        url: `/objects/get/${type}/${name}`,
        success: function(properties){
          for (const [property, value] of Object.entries(properties)) {
            $(`#${type}-${property}`).val(value);
          }
        }
      });
      $(`#edit-${type}`).modal('show');
    }

    var node_fields = [{% for field in node_fields %} '{{ field }}', {% endfor %}];
    var link_fields = [{% for field in link_fields %} '{{ field }}', {% endfor %}];

    function editObject(type) {
      var fields = type == 'node' ? node_fields : link_fields
      var mode = $('#title').text() == `Edit ${type} properties` ? 'edit' : 'add'
      var result = {};
      var values = [];
      $.each($(`#edit-${type}-form`).serializeArray(), function() {
        result[this.name] = this.value;
      });

      var name = result.name;
      for (i = 0; i < fields.length; i++) {
        values.push(`<td>${result[fields[i]]}</td>`);
      }
      values.push(`<td>
      <button type="button" class="btn btn-info btn-xs" onclick="showObjectModal('${type}', '${name}')">Edit</button>
      </td>
      <td>
      <button type="button" class="btn btn-danger btn-xs" onclick="deleteObject('${type}', '${name}')">Delete</button>
      </td>`);

      if ($(`#edit-${type}-form`).parsley().validate()) {
        $.ajax({
          type: "POST",
          url: "/objects/edit_object",
          dataType: "json",
          data: $(`#edit-${type}-form`).serialize(),
          success: function(msg) {
            if (mode == 'edit') {
              $(`#${type}-${name}`).html(values.join(''));
            } else {
              values.unshift(`<tr id="${name}">`);
              values.push('</tr>');
              $(`#${type}-table tbody`).append(values.join(''));
            }
            message = `Object ${name} ` + (mode == 'edit' ? 'edited !' : 'created !')
            alertify.notify(message, 'success', 5);
          }
        });
        $(`#edit-${type}`).modal('hide');
      }
    }
  
    function deleteObject(type, name) {
      $(`#${type}-${name}`).remove();
      $.ajax({
        type: "POST",
        url: `/objects/delete/${type}/${name}`,
        success: function(msg){
          alertify.notify(`Object ${name} deleted`, 'error', 5);
        }
      });
    }
  </script>
{% endblock javascripts %}
