{% extends "base_site.html" %}

{% block title %} Object filtering {% endblock title %}

{% block stylesheets %}
    {{ super() }}
    <style>

  </style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <!-- begin column -->
      <div class="col-md-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="x_title">
              {{ form['filters'](id="filters", class="form-control", placeholder="Name") }}
            </div>
            <form id="filter-form" data-parsley-validate class="form-horizontal form-label-left" method="post">
              <div class="form-group">
                {{ form['name'](class="form-control", placeholder="Name") }}<br>
                <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Property</th>
                      <th>Value</th>
                      <th>Regex</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for property in form.node_properties %}
                      <tr>
                        <td>{{ names[property] }}</td>
                        <td>{{ form['node_' + property](class="form-control") }}</td>
                        <td>{{ form['node_' + property + '_regex'](class="form-control") }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="x_title">
                  <h3>Link filters</h3>
                  <div class="clearfix"></div>
                </div>
                <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Property</th>
                      <th>Value</th>
                      <th>Regex</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for property in form.link_properties %}
                      <tr>
                        <td>{{ names[property] }}</td>
                        <td>{{ form['link_' + property](class="form-control") }}</td>
                        <td>{{ form['link_' + property + '_regex'](class="form-control") }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="button" class="btn btn-success" onclick="saveFilter()">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end column -->
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>

    function saveFilter() {
      var result = {};
      var fields = [{% for field in fields %} '{{ field }}', {% endfor %}];
      $.each($('#filter-form').serializeArray(), function() {
        result[this.name] = this.value;
      });
      var name = result.name;

      $.ajax({
        type: "POST",
        url: `/objects/process_filter`,
        dataType: "json",
        data: $('#filter-form').serialize(),
        success: function(mode){
          notification = mode == 'update' ? 'updated' : 'created'
          if (mode == 'creation') {
            $("#filters").append($("<option></option>")
              .attr("value", name).text(name));
            $("#filters").val(name);
          }
          alertify.notify(`Filter ${name} ${notification} !`, 'success', 5);
        }
      });
    }

    // when a filter is selected, apply it
    $('#filters').on('change', function() {
      $.ajax({
        type: "POST",
        url: `/objects/filter_${this.value}`,
        success: function(properties){
          for (const [property, value] of Object.entries(properties)) {
            if (property.includes("regex")) {
              $(`#${property}`).prop('checked', value);
            } else {
              $(`#${property}`).val(value);
            }
          }
        }
      });
    });

    $("#filters").empty();
    $.each({{filters|tojson|safe}}, function(key, value) {
      $("#filters").append($("<option></option>")
        .attr("value", value).text(value));
    });

  </script>
{% endblock javascripts %}
