{% extends "base_site.html" %}

{% block title %} Object overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  {% include 'object_modals.html' %}
  {% include 'object_tables.html' %}
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    var node_fields = {{ node_fields|tojson|safe }};
    var link_fields = {{ link_fields|tojson|safe }};
    var nodes = {{ nodes|tojson|safe }};
    var links = {{ links|tojson|safe }};
  </script>
  <script src="{{ url_for('objects_blueprint.static', filename='object_functions.js') }}"></script>
  <script src="{{ url_for('objects_blueprint.static', filename='object_management.js') }}"></script>
{% endblock javascripts %}
