{% extends "base_site.html" %}

{% block title %} Object overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div id="edit" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="title">Add a new pool</h4>
        </div>
            <div class="x_panel">
              <div class="x_content">
                <form id="edit-form" data-parsley-validate class="form-horizontal form-label-left" method="post">
                  <div class="form-group">
                    {{ form['name'](class="form-control required", placeholder="Name") }}<br>
                    {{ form['description'](class="form-control required", placeholder="Description") }}<br>
                    <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>Property</th>
                          <th>Value</th>
                          <th>Regex</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for property in form.node_properties %}
                          <tr>
                            <td>{{ names[property] }}</td>
                            <td>{{ form['node_' + property](class="form-control") }}</td>
                            <td>{{ form['node_' + property + '_regex'](class="form-control") }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <div class="x_title">
                      <h3>Link pool</h3>
                      <div class="clearfix"></div>
                    </div>
                    <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>Property</th>
                          <th>Value</th>
                          <th>Regex</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for property in form.link_properties %}
                          <tr>
                            <td>{{ names[property] }}</td>
                            <td>{{ form['link_' + property](class="form-control") }}</td>
                            <td>{{ form['link_' + property + '_regex'](class="form-control") }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                      <button class="btn btn-primary" type="reset">Reset</button>
                      <button type="button" class="btn btn-success" onclick="savePool()">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

      </div>
    </div>
  </div>
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row" style="height: 350px">
      <!-- begin column -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="panel-group">
              <div style="padding-bottom:5px;">
                <button class="btn btn-default btn-file" onclick="showModal()" style="width:100%;">
                  Add a new pool
                </button>
              </div>
            </div>
            <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for pool in pools %}
                <tr id="{{ pool.name }}">
                  <td>{{ pool['name'] }}</td>
                  <td>{{ pool['description'] }}</td>
                  <td>
                    <button type="button" class="btn btn-info btn-xs" onclick="showPoolModal('{{ pool['name'] }}')">Edit</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" onclick="deletePool('{{ pool['name'] }}')">Delete</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end column -->
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    $('#table').DataTable();

    function showModal() {
      $(`#edit-form`).trigger("reset");
      $("#edit").modal('show');
    }

    function showModal() {
      $("#title").text("Add a new pool");
      $("#edit-form").trigger("reset");
      $("#edit").modal("show");
    }

    function showPoolModal(name) {
      $('#title').text(`Edit pool properties`);
      $.ajax({
        type: "POST",
        url: `/objects/get_pool/${name}`,
        success: function(properties){
          for (const [property, value] of Object.entries(properties)) {
            if (property.includes("regex")) {
              $(`#${property}`).prop('checked', value);
            } else {
              $(`#${property}`).val(value);
            }
          }
        }
      });
      $("#edit").modal('show');
    }

    function savePool() {
      var mode = $('#title').text() == 'Edit pool properties' ? 'edit' : 'add'
      var result = {};
      var values = [];

      $.each($('#edit-form').serializeArray(), function() {
        result[this.name] = this.value;
        if (["name", "description"].includes(this.name)) {
          values.push(`<td>${this.value}</td>`);
        }
      });
      var name = result.name;
      values.push(`
      <td>
        <button type="button" class="btn btn-info btn-xs" onclick="showPoolModal('${name}')">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger btn-xs" onclick="deletePool('${name}')">Delete</button>
      </td>
      `);

      if ($('#edit-form').parsley().validate()) {
        $.ajax({
          type: "POST",
          url: `/objects/process_pool`,
          dataType: "json",
          data: $('#edit-form').serialize(),
          success: function(){
            if (mode == 'edit') {
              $(`#${name}`).html(values.join(''));
            } else {
              values.unshift(`<tr id="${name}">`);
              values.push('</tr>');
              $(`#table tbody`).append(values.join(''));
            }
            message = `Pool ${name} ` + (mode == 'edit' ? 'edited !' : 'created !')
            alertify.notify(message, 'success', 5);
          }
        });
        $('#edit').modal('hide');
      }
    }

    function deletePool(name) {
      $(`#${name}`).remove();
      $.ajax({
        type: "POST",
        url: `/objects/delete_pool/${name}`,
        success: function(msg){
          alertify.notify(`Pool ${name} deleted`, 'error', 5);
        }
      });
    }
  </script>
{% endblock javascripts %}
