<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span>pyNMS</span></a>
  </div>

  <div class="clearfix"></div>


  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="dashboard">Dashboard</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-users"></i> Users <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="users">Overview</a></li>
            <li><a href="manage_users">Manage users</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-sitemap"></i> Devices <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="devices">Overview</a></li>
            <li><a href="device_creation">Create device</a></li>
            <li><a href="device_deletion.html">Delete device</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-map-marker"></i> Views <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="geographical_view">Geographical view</a></li>
            <li><a href="logical_view">Logical view</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-keyboard-o"></i> Automation <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="netmiko">Netmiko</a>
              <li><a>Napalm<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="level2.html">Configuration</a>
                  </li>
                  <li><a href="#level2_1">Getters</a>
                  </li>
                  <li><a href="#level2_2">Ping & Traceroute</a>
                  </li>
                </ul>
              </li>
          </ul>
        </li>
        <li><a><i class="fa fa-clock-o"></i> Scheduler <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="scheduler_configuration">Configuration</a></li>
            <li><a href="task_creation">Task creation</a></li>
            <li><a href="task_management">Task management</a></li>
            <li><a href="calendar">Calendar</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-copyright"></i> About <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="project">Project</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Useful templates</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-bar-chart-o"></i> Useful stuff <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="form.html">General Form</a></li>
            <li><a href="form_advanced.html">Advanced Components</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
