<html lang="en">
  <head>
    <link
      href="{{ url_for('static', filename='xterm/xterm.min.css') }}"
      rel="stylesheet"
    />
  </head>
  <body style="background-color: black;">
    <div style="width: 100%; height: 100%;" id="terminal"></div>
    <script src="{{ url_for('static', filename='xterm/xterm.min.js') }}"></script>
    <script src="{{ url_for('static', filename='xterm/xterm-addon-fit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='socketio/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='pytty.js') }}"></script>
  </body>
</html>
