{% extends "base_site.html" %}

{% block title %} User management {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">

    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <br />
            <form data-parsley-validate class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">

              <div style="padding-bottom:5px;">
                <label class="btn btn-default btn-file" style="width:100%;">Choose a playbook
                  <input id="file" name="file" style="visibility:hidden; display:none" type="file" required=True>
                </label>
              </div>

              <div class="form-group" style="height: 450px">
                {% for field in form if field.widget.input_type != 'hidden'  %}
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label }}</label>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    {% if field.label.text == 'Name' %}
                      {{ field(class="form-control", placeholder=field.label.text, required=True) }}
                    {% else %}
                      {{ field(class="form-control", placeholder=field.label.text) }}
                    {% endif %}
                  </div>
                {% endfor %}
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="submit" class="btn btn-success">Save changes</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->

  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
