{% extends "base_site.html" %}

{% block title %} User overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Tasks scheduling</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 20%">Name</th>
                  <th style="width: 20%">Vendor</th>
                  <th style="width: 20%">OS</th>
                  <th style="width: 20%">Type</th>
                  <th style="width: 20%">Edit</th>
                </tr>
              </thead>

              <tbody>
                {% for script in scripts %}
                  <tr>
                    <td><a>{{ script.name }}</a></td>
                    <td><a>{{ script.vendor }}</a></td>
                    <td><a>{{ script.operating_system }}</a></td>
                    <td>{{ script.type }}</td>
                    <td>
                      <div class="modal fade content-{{ script.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                              </button>
                              <h4 class="modal-title" id="myModalLabel">Edit properties</h4>
                            </div>

                            <div class="modal-body">
                              {% if script.type == 'AnsibleScript' %}
                                Playbook path: {{ script.playbook_path }}
                              {% else %}
                                <pre> {{ script.content }} </pre>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>

                      <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target=".content-{{ script.id }}"><i class="fa fa-pencil">
                        </i> Content </a>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- end project list -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
