{% extends "base_site.html" %}

{% block title %} User overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  {% include 'script_scheduling.html' %}
  {% for script_type, script_form in type_to_form.items() %}
    <div id="edit-{{ script_type }}" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="title"></h4>
          </div>
          {% set form = script_form %}
          {% include script_type + '.html' %}
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_content">
            <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th style="width: 20%">Name</th>
                  <th style="width: 20%">Type</th>
                  <th style="width: 15%">Vendor</th>
                  <th style="width: 15%">Operating system</th>
                  <th style="width: 15%">Waiting time</th>
                  <th>Edit</th>
                  <th>Run</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for script in scripts %}
                  <tr id="{{ script.id }}">
                    <td><a>{{ script.name }}</a></td>
                    <td>{{ script.type }}</td>
                    <td><a>{{ script.vendor }}</a></td>
                    <td><a>{{ script.operating_system }}</a></td>
                    <td><a>{{ script.waiting_time }}</a></td>
                  <td>
                    <button type="button" class="btn btn-info btn-xs" onclick="showObjectModal('{{ script['type'] }}', '{{ script.id }}')">Edit</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary btn-xs" onclick="showSchedulingModal('{{ script.id }}')">Run</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" onclick="deleteObject('{{ script.id }}')">Delete</button>
                  </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- end project list -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- Scheduling: wizard / bootstrap datetimepicker -->
  <script src="{{ url_for('static', filename='enms/scheduling.js') }}"></script>
  <script>

    var scriptId = null
        table = $('#table').DataTable();

    function showSchedulingModal(id){
      scriptId = id;
      $("#scheduling").modal('show');
    }

    function scheduleScript() {
      if ($("#scheduling-form").parsley().validate()) {
        $.ajax({
          type: "POST",
          url: `/tasks/job_scheduler/script/${scriptId}`,
          dataType: "json",
          data: $("#scheduling-form").serialize(),
          success: function() {
            alertify.notify('Task scheduled', 'success', 5);
          }
        });
        $("#scheduling").modal('hide');
      } else {
        alertify.notify('Some fields are missing', 'error', 5);
      }
    }

    var types = [{% for type in type_to_form %} "{{ type }}", {% endfor %}];
    for (i = 0; i < types.length; i++) {
      $(`#${types[i]}-button`).text("Update");
    }

    function showObjectModal(type, id) {
      $.ajax({
        type: "POST",
        url: `/scripts/get/${type}/${id}`,
        success: function(properties){
          $('#title').text(`Edit ${properties.name} properties`);
          for (const [property, value] of Object.entries(properties)) {
            if(typeof(value) === "boolean") {
              $(`#${type}-${property}`).prop('checked', value);
            } else {
              $(`#${type}-${property}`).val(value);
            }
          }
        }
      });
      $(`#edit-${type}`).modal('show');
    }

    function deleteObject(id) {
      $.ajax({
        type: "POST",
        url: `/scripts/delete_${id}`,
        success: function(scriptName){
          table.row($(`#${id}`)).remove().draw(false);
          alertify.notify(`Script ${scriptName} deleted`, 'error', 5);
        }
      });
    }
  </script>
{% endblock javascripts %}
