{% extends "base_site.html" %}

{% block title %} User overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  {% include 'script_scheduling.html' %}
  {% for script_type, script_form in type_to_form.items() %}
    <div id="edit-{{ script_type }}" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="title"></h4>
          </div>
          {% set form = script_form %}
          {% include script_type + '.html' %}
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_content">
            <table id="script-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th style="width: 20%">Name</th>
                  <th style="width: 20%">Type</th>
                  <th style="width: 15%">Vendor</th>
                  <th style="width: 15%">Operating system</th>
                  <th style="width: 15%">Waiting time</th>
                  <th>Edit</th>
                  <th>Run</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for script in scripts %}
                  <tr id="{{ script.name }}">
                    <td><a>{{ script.name }}</a></td>
                    <td>{{ script.type }}</td>
                    <td><a>{{ script.vendor }}</a></td>
                    <td><a>{{ script.operating_system }}</a></td>
                    <td><a>{{ script.waiting_time }}</a></td>
                  <td>
                    <button type="button" class="btn btn-info btn-xs" onclick="showObjectModal('{{ script['type'] }}', '{{ script['name'] }}')">Edit</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary btn-xs" onclick="showSchedulingModal('{{ script['name'] }}')">Run</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" onclick="deleteObject('{{ script['name'] }}')">Delete</button>
                  </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- end project list -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- Initialize datetimepicker and SmartWizard -->
  <script>
    var dates = ['start_date', 'end_date'];
    var today = new Date();
    for (var i = 0; i < dates.length; i++) {
      $('#' + dates[i]).datetimepicker({
        format: 'DD/MM/YYYY HH:mm:ss',
        widgetPositioning: {
            horizontal: 'left',
            vertical: 'bottom'
        },
        useCurrent: false,
      });
      $('#' + dates[i]).data("DateTimePicker").minDate(today);
    }
    function schedule(){
      $('#wizard').smartWizard({
        onFinish: scheduleScript
      });
      $('.buttonNext').addClass('btn btn-success');
      $('.buttonPrevious').addClass('btn btn-primary');
      $('.buttonFinish').addClass('btn btn-default');
    }

    var script = null;
    function showSchedulingModal(scriptName){
      script = scriptName;
      console.log(script);
      $("scheduling").modal('show');
    }

    function runScript() {
      if ($("#scheduling-form").parsley().validate()) {
        $.ajax({
          type: "POST",
          url: "/tasks/job_scheduler",
          dataType: "json",
          data: $("#scheduling-form").serialize(),
          success: function() {
            alertify.notify('Task scheduled', 'success', 5);
          }
        });
        $("#scheduling").modal('hide');
      } else {
        alertify.notify('Some fields are missing', 'error', 5);
      }
    }

    $('#script-table').DataTable();
    var types = [{% for type in type_to_form %} "{{ type }}", {% endfor %}];
    for (i = 0; i < types.length; i++) {
      $(`#${types[i]}-button`).text("Update");
    }


    function showObjectModal(type, name) {
      $('#title').text(`Edit ${name} properties`);
      $.ajax({
        type: "POST",
        url: `/scripts/get/${type}/${name}`,
        success: function(properties){
          console.log(properties);
          for (const [property, value] of Object.entries(properties)) {
            if(typeof(value) === "boolean") {
              $(`#${type}-${property}`).prop('checked', value);
            } else {
              $(`#${type}-${property}`).val(value);
            }
          }
        }
      });
      $(`#edit-${type}`).modal('show');
    }

    function createScript(type) {
      if ($(`#${type}-form`).parsley().validate() ) {
        $.ajax({
          type: "POST",
          url: `/scripts/create_script_${type}`,
          dataType: "json",
          data: $(`#${type}-form`).serialize(),
          success: function() {
            alertify.notify("Script updated", 'success', 5);
          }
        });
        $(`#edit-${type}`).modal('hide');
      }
    }

    var type_to_fields = {
      {% for script_type, script_form in type_to_form.items() %}
        '{{ script_type }}': [{% for field in script_form %} '{{ field }}', {% endfor %}],
      {% endfor %}
    }

    function deleteObject(name) {
      $(`#${name}`).remove();
      $.ajax({
        type: "POST",
        url: `/scripts/delete_${name}`,
        success: function(msg){
          alertify.notify(`Script ${name} deleted`, 'error', 5);
        }
      });
    }
  </script>
{% endblock javascripts %}
