{% extends "base_site.html" %}

{% block title %} User management {% endblock title %}

{% block stylesheets %}
  {{ super() }}
 <!-- Vis CSS -->
  <link href="{{ url_for('scripts_blueprint.static', filename='vis/vis-network.min.css') }}" rel="stylesheet">
  <!-- Vis JS -->
  <script src="{{ url_for('scripts_blueprint.static', filename='vis/vis.js') }}"></script>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="btn-group-vertical" style="z-index:500; position: absolute; top: 10px; right:30px;">
              <button id="edge_mode" type="button" class="btn btn-primary" style="width:150px;" onclick="edgeMode()">Create edge</button>
            </div>
            <div class="btn-group-vertical" style="z-index:500; position: absolute; top: 10px; left:30px;">
              <button id="edge_mode" type="button" class="btn btn-primary" style="width:150px;" onclick="showModal('addScript')">Add script</button>
            </div>
            <div id="network" style="height:600px; width:100%;></div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <script>
    function showModal(modal_name){
      $(`#${modal_name}`).modal('show');
      }
  
    var container = document.getElementById('network');
    var dsoptions = {
      manipulation: {
        enabled: false,
        addNode: function (data, callback) {
          // filling in the popup DOM elements
          console.log(data);
        },
        editNode: function (data, callback) {
          // filling in the popup DOM elements
          console.log('edit', data);
        },
        addEdge: function (data, callback) {
          console.log('add edge', data);
          if (data.from == data.to) {
              var r = confirm("Do you want to connect the node to itself?");
              if (r === true) {
                  callback(data);
              }
          }
          else {
              callback(data);
          }
          // after each adding you will be back to addEdge mode
          network.addEdgeMode();
        }
    }};

    var o_nodes = [
      {
        id: 1,
        label: 'Start'
      },
      {
        id: 2,
        label: 'End'
      }
    ];

    var nodes = new vis.DataSet(o_nodes);

    // create an array with edges
    var edges = [{
        from: 1,
        to: 2,
        arrows:{
          to: {
            enabled: true,
          }
        }
      }];

    // Create a DataSet with data (enables two way data binding)
    var data = {
      nodes: nodes,
      edges: edges
    };
    var options = {};
    var network = new vis.Network(container, data, dsoptions);
    
    function edgeMode() {
      if ($('#edge_mode').text() == "Create edge") {
        $('#edge_mode').text("Move node");
        network.addEdgeMode();
      } else {
        $('#edge_mode').text("Create edge")
        network.addNodeMode();
      }
    }
    // here you init the addEdge mode
    //network.addEdgeMode();

    network.on('click', function() {
      nodes.add({
        label: 'Node 65'
      })
      //network.addEdgeMode();
    });
    </script>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
