{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/leaflet/leaflet.css') }}" rel="stylesheet">
  <style>
      #mapid { height: 550px; }
  </style>
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Overview of all devices</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <div id="mapid"></div>
              <script src="{{ url_for('static', filename='vendors/leaflet/leaflet.js') }}"></script>
          
          <script>
          var mymap = L.map('mapid').setView([48, 2], 5);
          L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(mymap);
          

          var greenIcon = L.icon({
              iconUrl: 'https://github.com/afourmy/ngNMS/blob/master/app/static/images/default_router.gif',
              iconSize:     [18, 12], // size of the icon
              iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
              popupAnchor:  [8, -5] // point from which the popup should open relative to the iconAnchor
          });
          
          function loadXMLDoc()
          {
              var req = new XMLHttpRequest()
              req.onreadystatechange = function()
              {
                  if (req.readyState == 4)
                  {
                      if (req.status != 200)
                      {
                          //error handling code here
                      }
                      else
                      {
                          var response = JSON.parse(req.responseText)
                      }
                  }
              }
          
              req.open('POST', '/ajax_connection_to_device')
              req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
              var un = document.getElementById('scname').value
              var postVars = 'username='+un
              req.send(postVars)
              
              return false
          }
          
          {% for device, properties in table.items() %}
          var marker = L.marker([{{ device.latitude }}, {{ device.longitude }}], {icon: greenIcon}).addTo(mymap);
          
          marker.bindPopup("{% for property_name, property in properties.items() %}\
          <b>{{property_name}}</b>: {{property}}<br>{% endfor %}<br>\
          <form action='' method='POST' id='#form'>\
          <input type='hidden' name='scname' id='scname' value={{ device.ip_address }}>\
          <input type='button' value='Connect' class='btn btn-round btn-danger' onclick='return loadXMLDoc()'/>");
          {% endfor %}
          
          </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Datatables -->
  <script src="{{ url_for('static', filename='vendors/leaflet/leaflet.js') }}"></script>
{% endblock javascripts %}
