{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/vis/vis-network.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Overview of all devices</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <script src="{{ url_for('static', filename='vendors/vis/vis.js') }}"></script>
          <div id="mynetwork" style="height: 500px"></div>
          <script>
  // create an array with nodes
  var nodes = new vis.DataSet([
    {id: 1, label: 'Node 1', image: 'static/images/default_router.gif', shape: 'image', title: 'test'},
    {id: 2, label: 'Node 2', image: 'static/images/default_router.gif', shape: 'image'},
    {id: 3, label: 'Node 3', image: 'static/images/default_router.gif', shape: 'image'},
    {id: 4, label: 'Node 4', image: 'static/images/default_router.gif', shape: 'image'},
    {id: 5, label: 'Node 5', image: 'static/images/default_router.gif', shape: 'image'}
  ]);

  // create an array with edges
  var edges = new vis.DataSet([
    {from: 1, to: 3, label: 'test'},
    {from: 1, to: 2},
    {from: 2, to: 4},
    {from: 2, to: 5},
    {from: 3, to: 3}
  ]);

  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {};
  var network = new vis.Network(container, data, options);
          </script>
          

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
