{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/vis/vis-network.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Overview of all devices</small></h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <script src="{{ url_for('static', filename='vendors/vis/vis.js') }}"></script>
          <div id="mynetwork" style="height: 500px"></div>
          <script>
            // create an array with nodes
            var nodes = new vis.DataSet([
            {% for device, properties in device_table.items() %}
            {id: {{ device.id }}, label: {{ device.id }}, image: 'static/images/default_router.gif', shape: 'image', title: 'test'},
          
            {% endfor %}
            ]);
          
            // create an array with edges
            var edges = new vis.DataSet([
            {% for link, properties in link_table.items() %}
            { from: {{ link['source']['id'] }}, to: {{ link['destination']['id'] }} },
            {% endfor %}
            ]);
          
            // create a network
            var container = document.getElementById('mynetwork');
            var data = {
              nodes: nodes,
              edges: edges
            };
            var options = {};
            var network = new vis.Network(container, data, options);
          </script>
          

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
