{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "jquery": true
    },
    "rules": {
        "no-invalid-this": 0,
        "linebreak-style": 0
    },
    "extends": ["eslint:recommended", "google"]
}