# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.db-journal
*.log
*.log.*
/eNMS/database.*

# created by eNMS
logs
network_data
files/services

# venv
env
venv

# other
.DS_Store

# ansible retry files
*.retry

# sphinx docs 
_build
_templates

# javascript
package-lock.json
node_modules/

# google earth file
*.kmz

# AP Scheduler
*.sqlite

# VS Code
*.code-workspace
.vscode
eNMS/.vscode
