# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.mypy_cache
.coverage

# database & logs
*.db
*.db-journal
*.log
*.log.*
/eNMS/database.*

# venv
env
venv

# other
.DS_Store

# ansible retry files
*.retry

# sphinx docs 
_build
_templates

# javascript
package-lock.json
node_modules/

# google earth file
*.kmz

# AP Scheduler
*.sqlite

# VS Code
.vscode
eNMS/.vscode

# exclude everything in git subfolders, except gitkeep
git/automation/*
git/operational_data/*
!git/automation/.gitkeep
!git/operational_data/.gitkeep

# Exclude Assets Bundle
eNMS/static/bundles
eNMS/static/.webassets-cache