<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %} {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/logo.png') }}"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google" content="notranslate" />
    {% endblock meta %}
    <title>eNMS | {% block title %}{% endblock %}</title>
    {% block stylesheets %}
    <link
      href="{{ url_for('static', filename='lib/base/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/base/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/base/bootstrap-select/bootstrap-select.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/base/nprogress/nprogress.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/base/alertify/alertify.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/base/diffview/diffview.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/base/vis/vis.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/base/jspanel/jspanel.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/base/font-awesome/font-awesome.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/base/jsoneditor/jsoneditor.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/base/gentelella/gentelella.min.css') }}"
      rel="stylesheet"
    />
    {% endblock stylesheets %} {% endblock head %}
  </head>
  <body class="{% block body_class %}nav-md {% endblock body_class %}">
    {% block body %}
    <div class="container body">
      <div class="main_container">
        {% block sidebar %}
        <div
          class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}"
        >
          {% include "sidebar.html" %}
        </div>
        {% endblock sidebar %} {% block header %}
        <div class="top_nav">
          {% include "header.html" %}
        </div>
        {% endblock header %} {% block content %} {% endblock content %} {%
        block footer %}
        <footer>
          {% include "footer.html" %}
        </footer>
        {% endblock footer %}
      </div>
    </div>
    {% block javascripts %}
    <script>
      const page = "{{ endpoint }}";
      const documentationUrl = "{{ documentation_url }}";
      const parameters = {{ parameters|tojson|safe }};
      const formProperties = {{ form_properties|tojson|safe }};
      const names = {{ names|tojson|safe }};
      const relations = {{ relations|tojson|safe }};
      let action = {};
      let csrf_token = "{{ csrf_token() }}";
    </script>
    <script src="{{ url_for('static', filename='lib/base/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/moment/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/nprogress/nprogress.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/alertify/alertify.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/smart-wizard/smart-wizard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/diffview/diffview.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/vis/vis.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/jspanel/jspanel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/base/jsoneditor/jsoneditor.min.js') }}"></script>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    <script src="{{ url_for('static', filename='inventory.js') }}"></script>
    <script src="{{ url_for('static', filename='automation.js') }}"></script>
    {% endblock %} {% endblock body %}
  </body>
</html>
