<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google" content="notranslate" />
  </head>
  <body
    style="height: 100%; width: 100%; padding:0; margin:0; background: #002240;"
  >
    <div
      style="background: #002240; width: 230px; height: 100%; float: left"
    ></div>

    <div
      style="background: #aa1212; width: calc(100% - 230px); left: 230px; position: absolute; height: 100%;"
    >
      <div
        style="position: absolute; background: #38f351; height: 60px; width: 100%"
      ></div>

      <div
        style="background: #4bdbff; top: 60px; width:100%; position: absolute"
      >
        <div style="height: 1200px">test</div>
      </div>
    </div>
  </body>
</html>
