<html lang="en">
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" />
    <link
      href="{{ url_for('static', filename='lib/xterm/xterm.min.css') }}"
      rel="stylesheet"
    />
  </head>
  <body style="background-color: black;">
    <div style="width: 100%; height: 100%;" id="terminal"></div>
    <script src="{{ url_for('static', filename='lib/xterm/xterm.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/xterm/xterm-addon-fit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/socketio/socket.io.min.js') }}"></script>
    <script>
      const connection = "{{ connection }}";
      const term = new Terminal({ cursorBlink: true });
      const fitAddon = new FitAddon.FitAddon();
      const socket = io.connect("/terminal", { query: `id=${connection}` });
      socket.emit('join', {'room': connection});
      term.loadAddon(fitAddon);
      term.open(document.getElementById("terminal"));
      fitAddon.fit();
      term.write("Connecting...");
      term.onKey((event) => socket.emit("input", event.key, connection));
      socket.on("output", (data) => {
        term.write(data)
      });
    </script>
  </body>
</html>
