{% extends "base_site.html" %} {% block title %} Dashboard {% endblock title %} {% block
stylesheets %} {{ super() }}
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet" />
{% endblock stylesheets %} {% block content %}
<nav class="navbar navbar-default" role="navigation">
  <div class="tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-television"></i> Devices</span>
      <div id="count-device" class="count"></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-random"></i> Links</span>
      <div id="count-link" class="count"></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-asterisk"></i> Services</span>
      <div id="count-service" class="count"></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-sitemap"></i> Workflows</span>
      <div id="count-workflow" class="count"></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-clock-o"></i> Tasks</span>
      <div id="count-task" class="count"></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Users</span>
      <div id="count-user" class="count"></div>
    </div>
  </div>
</nav>
{% for type, type_properties in properties.items() %}
<div class="col-md-6 col-sm-6 col-xs-12">
  <fieldset class="section">
    <legend align="center" class="section">
      {{ type|capitalize }}s
    </legend>
    <div class="form-group" style="width: 60%; display: block; margin: 0 auto;">
      <select id="{{ type }}-properties" class="form-control">
        {% for property in type_properties %}
        <option value="{{ property }}"
          >{{ names.get(property, property.replace("_", " ").capitalize() ) }}</option
        >
        {% endfor %}
      </select>
    </div>
    <div id="{{ type }}" style="height: 550px;"></div>
  </fieldset>
</div>
{% endfor %} {% endblock content %} {% block javascripts %} {{ super() }}
<script src="{{ url_for('static', filename='lib/echarts/echarts.min.js') }}"></script>
{% endblock javascripts %}
