<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ error }}</title>
    <link href="{{ url_for('static', filename='css/error.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div class="col-middle">
      <h1 class="error-number">{{ error }}</h1>
      {% if error == 403 %}
      <h2>Access Denied</h2>
      <p>Full authentication is required to access this resource.</p>
      {% else %}
      <h2>Sorry but we couldn't find this page</h2>
      <p>This page you are looking for does not exist.</p>
      {% endif %}
    </div>
  </body>
</html>
