<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ error }}</title>
    <link
      href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" />
    <link
      href="{{ url_for('static', filename='css/themes/{}.css'.format(themes['default'])) }}"
      rel="stylesheet"
    />
  </head>
  <body class="login">
    <div class="login_content">
      <section>
        <form method="post" autocomplete="off">
          {{ login_form.csrf_token }}
          <h1>eNMS</h1>
          <label>Authentication</label>
          <div>
            {{ login_form.authentication_method(class="form-control") }}
          </div>
          <br />
          <div>
            {{ login_form.name(class="form-control required", placeholder="Name") }}
          </div>
          <div>
            {{ login_form.password(class="form-control required",
            placeholder="Password") }}
          </div>
          <br />
          <div>
            <button type="submit" class="btn btn-primary submit" name="login">
              Sign in
            </button>
          </div>
        </form>
      </section>
    </div>
  </body>
</html>
