{% extends "base_site.html" %} {% block title %} Geographical View {% endblock title %}
{% block stylesheets %} {{ super() }}
<link
  href="{{ url_for('static', filename='css/visualization.css') }}"
  rel="stylesheet"
/>
{% endblock stylesheets %} {% block content %}
<form id="device-filtering-form" class="overlay"></form>
<form id="link-filtering-form" class="overlay"></form>
<div id="network"></div>
{% endblock content %} {% block javascripts %} {{ super()}}
<script src="{{ url_for('static', filename='lib/3d-force-graph/3d-force-graph.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/cesium/Cesium.js') }}"></script>
<script>
</script>
{% endblock javascripts %}
