{% extends "base_site.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
  <link href="{{ url_for('static', filename='lib/base/3_bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='base/base.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body_class %} login {% endblock body_class %}

{% block body %}
  <script src="{{ url_for('static', filename='lib/base/1_jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/base/9_parsleyjs/parsley.min.js') }}"></script>
  <div class="login_wrapper">
    <section class="login_content">
      <form data-parsley-validate method="post" autocomplete="off">
        {{ login_form.csrf_token }}
        <h1>Sign in</h1>
        <label>Authentication method</label>
        <div>
          {{ login_form.authentication_method(class="form-control") }}
        </div><br>
        <div>
          {{ login_form.name(class="form-control required", placeholder="Name") }}
        </div>
        <div>
          {{ login_form.password(class="form-control required", placeholder="Password") }}
        </div>
        <div>
        <button type="submit" class="btn btn-default submit" name="login">Submit</button>
        </div>
        <div class="separator"></div>
      </form>
    </section>
  </div>
{% endblock body %}
