<div class="left_col scroll-view">
  <br />
  <div class="navbar nav_title" style="border:0;">
    <center>
      <h3 style="font-size:30px; color:#30C2A5">eNMS</h3>
      <h3 style="font-size:20px;">{{ version }}</h3>
    </center>
  </div>
  <div class="clearfix"></div>
  <br />
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li>
          <a
            ><i class="fa fa-home"></i>Home<span
              class="fa fa-chevron-down"
            ></span
          ></a>
          <ul class="nav child_menu">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/table/changelog">Changelog</a></li>
            <li><a href="/table/syslog">Syslog</a></li>
          </ul>
        </li>
        <li id="Admin">
          <a
            ><i class="fa fa-users"></i>Admin<span
              class="fa fa-chevron-down"
            ></span
          ></a>
          <ul class="nav child_menu">
            <li><a href="/table/user">User Management</a></li>
            <li><a href="/table/server">Server Management</a></li>
            <li><a href="/administration">Administration</a></li>
          </ul>
        </li>
        <li>
          <a
            ><i class="fa fa-sitemap"></i>Inventory<span
              class="fa fa-chevron-down"
            ></span
          ></a>
          <ul class="nav child_menu">
            <li><a href="/table/device">Device Management</a></li>
            <li><a href="/table/configuration">Configuration Management</a></li>
            <li><a href="/table/link">Link Management</a></li>
            <li><a href="/table/pool">Pool Management</a></li>
          </ul>
        </li>
        <li>
          <a
            ><i class="fa fa-map-marker"></i>Views<span
              class="fa fa-chevron-down"
            ></span
          ></a>
          <ul class="nav child_menu">
            <li><a href="/view/network">Network View</a></li>
            <li><a href="/view/site">Site View</a></li>
          </ul>
        </li>
        <li>
          <a
            ><i class="fa fa-clock-o"></i>Automation<span
              class="fa fa-chevron-down"
            ></span
          ></a>
          <ul class="nav child_menu">
            <li><a href="/table/service">Service Management</a></li>
            <li><a href="/table/workflow">Workflow Management</a></li>
            <li><a href="/workflow_builder">Workflow Builder</a></li>
          </ul>
        </li>
        <li>
          <a
            ><i class="fa fa-clock-o"></i>Scheduling<span
              class="fa fa-chevron-down"
            ></span
          ></a>
          <ul class="nav child_menu">
            <li><a href="/table/task">Task Management</a></li>
            <li><a href="/table/event">Event Management</a></li>
            <li><a href="/calendar">Calendar</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
