<form
  id="search-{{ type }}-form"
  class="form-horizontal form-label-left"
  method="post"
>
  <div class="page-title">
    {% if type == "service" %}
    <button
      style="background:transparent; border:none; color:transparent; width: 20vw;"
      type="button"
    >
      <select id="service-type" class="form-control"></select>
    </button>
    {% endif %} {% if type not in ("run", "result", "syslog") %} {% set func =
    "openServicePanel" if type == "service" else "showTypePanel" %}
    <button
      class="btn btn-primary"
      onclick="{{ func }}('{{ type }}')"
      data-tooltip="New"
      type="button"
    >
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    {% endif %} {% if type == "pool" %}
    <button
      class="btn btn-primary btn-file"
      onclick="updatePools()"
      data-tooltip="Update all pools"
      type="button"
    >
      <span class="glyphicon glyphicon-flash"></span>
    </button>
    {% endif %} {% if type != "result" %}
    <button
      class="btn btn-info btn-file"
      onclick="showPanel('{{ type }}_filtering')"
      data-tooltip="Advanced Search"
      type="button"
    >
      <span class="glyphicon glyphicon-search"></span>
    </button>
    {% endif %}
    <button
      class="btn btn-info btn-file"
      onclick="refreshTable('{{ type }}', true)"
      data-tooltip="Refresh"
      type="button"
    >
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
    {% if type == "result" %}
    <button
      class="btn btn-info btn-file"
      onclick="compare('{{ type }}')"
      data-tooltip="Compare"
      type="button"
    >
      <span class="glyphicon glyphicon-adjust"></span>
    </button>
    {% endif %} {% if type == "result" %}
    <button
      style="background:transparent; border:none; color:transparent;"
      type="button"
    >
      {{ form.runtimes(class="form-control add-id") }}
    </button>
    {% endif %} {% if type == "service" %}
    <a
      id="left-arrow"
      class="btn btn-info btn-file"
      onclick="action['Backward']()"
      data-tooltip="Previous Workflow"
      type="button"
    >
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a
      id="right-arrow"
      class="btn btn-info btn-file"
      onclick="action['Forward']()"
      data-tooltip="Next Workflow"
      type="button"
    >
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <div class="pull-right">
      <select
        id="parent-filtering"
        name="parent-filtering"
        class="form-control"
      >
        <option value="true">Display top-level services only</option>
        <option value="false">Display all services</option>
      </select>
    </div>
    <input type="hidden" id="workflow-filtering" name="workflow-filtering" />
    {% endif %}
  </div>
  <table
    id="{{ type }}-table"
    class="table table-striped table-bordered dt-responsive nowrap"
    cellspacing="0"
    width="100%"
  >
    <thead>
      <tr>
        {% for field in table_properties[type] + fixed_columns %}
        <th>
          {{ names.get(field, field.replace("_", " ").capitalize() ) }}
        </th>
        {% endfor %}
      </tr>
      <tr>
        {% for property in table_properties[type] %} {% if property in
        filtering_properties[type] %} {% if property_types[property] == "bool"
        %}
        <th>
          <select
            id="{{ type }}_filtering-{{ property }}"
            name="{{ property }}"
            class="form-control"
            style="min-width: 100px;"
          >
            <option value="">Any</option>
            <option value="bool-true">Success</option>
            <option value="bool-false">Failure</option>
          </select>
        </th>
        {% else %}
        <th>
          <input
            id="{{ type }}_filtering-{{ property }}"
            name="{{ property }}"
            type="text"
            class="form-control"
            style="width: 100%;"
          />
        </th>
        {% endif %} {% else %}
        <th></th>
        {% endif %} {% endfor %} {% for field in fixed_columns %}
        <th></th>
        {% endfor %}
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</form>
