{% extends "base_site.html" %} {% block title %} Workflow Builder {% endblock title %}
{% block stylesheets %} {{ super() }}
<link href="{{ url_for('static', filename='lib/vis/vis.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/builder.css') }}" rel="stylesheet" />
{% endblock stylesheets %} {% block content %}
<div class="controls">
  <div class="controls_mode navbar navbar-default navbar-color">
    <table class="table" cellspacing="0" style="margin: 0px;" width="100%">
      <tbody>
        <tr>
          <td style="text-align: center; vertical-align: middle;">
            <button
              type="button"
              class="btn btn-primary"
              onclick="action['Create new service']()"
              data-tooltip="Create New Service"
            >
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </td>
          <td style="min-width: 200px;">
            <select
              id="service-type-list"
              class="form-control"
              data-width="200px"
              data-size="20"
            ></select>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            <button
              type="button"
              class="btn btn-primary"
              onclick="eNMS.builder.switchMode()"
              data-tooltip="Change Mode"
            >
              <span id="mode-icon" class="glyphicon glyphicon-move"></span>
            </button>
          </td>
          <td style="min-width: 200px;">
            <select id="edge-type-list" class="form-control">
              <option value="success">Success</option>
              <option value="failure">Failure</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav
    class="navbar navbar-default navbar-custom navbar-color"
    style="padding-bottom: 2px;"
    role="navigation"
  >
    <div style="width: 100%; margin: 0px;">
      <select
        id="current-workflow"
        class="form-control"
        data-dropdown-align-right="true"
        data-size="20"
      ></select>
    </div>
    <ul class="pagination" style="margin: 0px; padding-top: 10px;">
      <li>
        <a
          onclick="action['Edit workflow']()"
          data-tooltip="Edit Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-edit cursor"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Duplicate workflow']()"
          data-tooltip="Duplicate Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-duplicate"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Create workflow']()"
          data-tooltip="Create Top Level Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-plus"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Add to Workflow']()"
          data-tooltip="Add to Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-book"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Create Label Button']()"
          data-tooltip="Create Label"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-font"></span
        ></a>
      </li>
      <li>
        <a onclick="action['Skip']()" data-tooltip="Skip" style="cursor: pointer;"
          ><span class="glyphicon glyphicon-ban-circle"></span
        ></a>
      </li>
      <li>
        <a onclick="action['Delete']()" data-tooltip="Delete" style="cursor: pointer;"
          ><span class="glyphicon glyphicon-trash"></span
        ></a>
      </li>
      <li>
        <a
          onclick="eNMS.builder.getTree()"
          data-tooltip="Workflow Tree"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-tree-conifer"></span
        ></a>
      </li>
      <li>
        <a
          onclick="eNMS.builder.displayTextSearchField()"
          data-tooltip="Workflow Search"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-search"></span
        ></a>
      </li>
      <li>
        <a onclick="action['Zoom In']()" data-tooltip="Zoom In" style="cursor: pointer;"
          ><span class="glyphicon glyphicon-zoom-in"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Zoom Out']()"
          data-tooltip="Zoom Out"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-zoom-out"></span
        ></a>
      </li>
      <li>
        <a
          id="export-workflow-btn"
          onclick="action['Export']()"
          data-tooltip="Export Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-export"></span
        ></a>
      </li>
      <li id="left-arrow">
        <a
          onclick="action['Backward']()"
          data-tooltip="Previous Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-chevron-left"></span
        ></a>
      </li>
      <li id="up-arrow">
        <a
          onclick="action['Upward']()"
          data-tooltip="Switch to Parent Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-chevron-up"></span
        ></a>
      </li>
      <li id="right-arrow">
        <a
          onclick="action['Forward']()"
          data-tooltip="Next Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-chevron-right"></span
        ></a>
      </li>
    </ul>
    <div
      id="workflow-search-div"
      class="input-group"
      style="width: 100%; margin-bottom: 5px; margin-top: 3px; display: none;"
    >
      <input
        id="workflow-search"
        type="text"
        placeholder="&#xF002;"
        class="form-control"
        style="font-family: Arial, FontAwesome;"
      />
    </div>
  </nav>
  <nav
    class="navbar navbar-default navbar-custom navbar-color"
    style="padding-bottom: 2px; margin-left: 10px;"
    role="navigation"
  >
    <div style="width: 100%;">
      <select id="current-runtime" class="form-control" data-size="20"></select>
    </div>
    <ul class="pagination" style="margin: 0px; padding-top: 10px;">
      <li>
        <a
          onclick="action['Runtimes Display']()"
          data-tooltip="Personal or All Runtimes"
          style="cursor: pointer;"
          ><span id="runtime-display-icon" class="fa fa-user"></span
        ></a>
      </li>
      <li>
        <a
          onclick="eNMS.workflowBuilder.filterDevice()"
          data-tooltip="Device Filtering"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-registration-mark"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Workflow Logs']()"
          data-tooltip="Logs"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-list"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Workflow Result Tree']()"
          data-tooltip="Result Tree"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-list-alt"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Workflow Result Comparison']()"
          data-tooltip="Result Comparison"
          style="cursor: pointer;"
          ><span class="fa fa-adjust"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Run Workflow']()"
          data-tooltip="Run Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-play"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Parameterized Workflow Run']()"
          data-tooltip="Parameterized Run"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-play-circle"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Stop Workflow']()"
          data-tooltip="Stop Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-stop"></span
        ></a>
      </li>
    </ul>
    <div
      id="device-filter-div"
      class="input-group table-search"
      style="width: 100%; margin-bottom: 5px; margin-top: 3px; display: none;"
    >
      <select id="device-filter" name="device-filter" style="width: 100%;"></select>
    </div>
  </nav>
</div>
<div id="builder"></div>
<ul id="contextMenu" oncontextmenu="return false;" class="dropdown-menu" role="menu">
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Edit</a>
  </li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Duplicate</a>
  </li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Logs</a>
  </li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Results</a>
  </li>
  <li class="menu-entry node-selection workflow-selection">
    <a tabindex="-1" href="#">Enter workflow</a>
  </li>
  <li class="dropdown-submenu menu-entry node-selection">
    <a class="menu-submenu" tabindex="-1" href="#"
      >Position<span class="caret-right"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Horizontal Alignment</a></li>
      <li><a tabindex="-1" href="#">Vertical Alignment</a></li>
      <li><a tabindex="-1" href="#">Horizontal Distribution</a></li>
      <li><a tabindex="-1" href="#">Vertical Distribution</a></li>
    </ul>
  </li>
  <li class="dropdown-submenu menu-entry node-selection">
    <a class="menu-submenu" tabindex="-1" href="#"
      >Reference<span class="caret-right"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Service Name</a></li>
      <li><a tabindex="-1" href="#">Top-level Result</a></li>
      <li><a tabindex="-1" href="#">Per-device Result</a></li>
    </ul>
  </li>
  <li class="menu-entry divider node-selection">&nbsp</li>
  <li class="menu-entry node-selection"><a tabindex="-1" href="#">Run</a></li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Parameterized Run</a>
  </li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Restart Workflow from Here</a>
  </li>
  <li class="menu-entry divider node-selection">&nbsp</li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Skip</a>
  </li>
  <li class="menu-entry divider node-selection">&nbsp</li>
  <li class="menu-entry node-selection edge-selection">
    <a tabindex="-1" href="#">Delete</a>
  </li>
  <li class="menu-entry edge-selection">
    <a tabindex="-1" href="#">Edit Edge</a>
  </li>
  <li class="menu-entry label-selection">
    <a tabindex="-1" href="#">Edit Label</a>
  </li>
  <li class="menu-entry label-selection">
    <a tabindex="-1" href="#">Delete</a>
  </li>
  <li class="dropdown-submenu menu-entry global">
    <a class="menu-submenu" tabindex="-1" href="#"
      >Change Mode<span class="caret-right"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Move Nodes</a></li>
      <li class="divider"><a tabindex="-1" href="#">&nbsp</a></li>
      <li><a tabindex="-1" href="#">Create 'Success' edge</a></li>
      <li><a tabindex="-1" href="#">Create 'Failure' edge</a></li>
    </ul>
  </li>
  <li class="dropdown-submenu menu-entry global">
    <a class="menu-submenu" tabindex="-1" href="#"
      >Workflow<span class="caret-right"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Edit workflow</a></li>
      <li><a tabindex="-1" href="#">Create workflow</a></li>
      <li><a tabindex="-1" href="#">Add to Workflow</a></li>
      <li class="divider"><a tabindex="-1" href="#">&nbsp</a></li>
      <li><a tabindex="-1" href="#">Run Workflow</a></li>
      <li><a tabindex="-1" href="#">Parameterized Workflow Run</a></li>
      <li><a tabindex="-1" href="#">Stop Workflow</a></li>
      <li class="divider"><a tabindex="-1" href="#">&nbsp</a></li>
      <li><a tabindex="-1" href="#">Workflow Result Tree</a></li>
      <li><a tabindex="-1" href="#">Workflow Result Table</a></li>
      <li><a tabindex="-1" href="#">Workflow Logs</a></li>
    </ul>
  </li>
  <li class="dropdown-submenu menu-entry global">
    <a class="menu-submenu" tabindex="-1" href="#"
      >Reference<span class="caret-right"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Link to Workflow</a></li>
      <li><a tabindex="-1" href="#">Link to Runtime</a></li>
    </ul>
  </li>
  <li class="menu-entry global">
    <a tabindex="-1" href="#">Create Label</a>
  </li>
</ul>
{% endblock content %} {% block javascripts %} {{ super()}}
<script src="{{ url_for('static', filename='lib/vis/vis.min.js') }}"></script>
{% endblock javascripts %}
