{% extends "base_site.html" %} {% block title %} Workflow Builder {% endblock title %}
{% block stylesheets %} {{ super() }}
<link href="{{ url_for('static', filename='css/workflow.css') }}" rel="stylesheet" />
{% endblock stylesheets %} {% block content %}
<div class="controls">
  <div class="controls_mode navbar navbar-default">
    <table class="table" cellspacing="0" style="margin: 0px;" width="100%">
      <tbody>
        <tr>
          <td style="text-align: center; vertical-align: middle;">
            <button
              type="button"
              class="btn btn-primary"
              onclick="action['Create New Service']()"
              data-tooltip="Create New Service"
            >
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </td>
          <td style="min-width: 200px;">
            <select id="service-type" class="form-control" data-width="200px"></select>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            <button
              type="button"
              class="btn btn-primary"
              onclick="eNMS.workflow.switchMode()"
              data-tooltip="Change Mode"
            >
              <span id="mode-icon" class="glyphicon glyphicon-move"></span>
            </button>
          </td>
          <td style="min-width: 200px;">
            <select id="edge-type" class="form-control">
              <option value="success">Success</option>
              <option value="failure">Failure</option>
              <option value="prerequisite">Prerequisite</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav class="navbar navbar-default navbar-custom" role="navigation">
    <div style="width: 690px; margin: 0px;">
      <div style="width: 70%; float: left;">
        <select
          id="current-workflow"
          class="form-control"
          data-dropdown-align-right="true"
        ></select>
      </div>
      <div style="width: 30%; float: left; padding-left: 5px;">
        <select id="current-runtime" class="form-control"></select>
      </div>
    </div>
    <ul class="pagination" style="margin: 0px; padding-top: 5px;">
      <li>
        <a
          onclick="action['Edit Workflow']()"
          data-tooltip="Edit Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-edit cursor"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Duplicate Workflow']()"
          data-tooltip="Duplicate Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-duplicate"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Create Workflow']()"
          data-tooltip="Create Top Level Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-plus"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Add to Workflow']()"
          data-tooltip="Add to Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-book"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Create Label']()"
          data-tooltip="Create Label"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-font"></span
        ></a>
      </li>
      <li>
        <a onclick="action['Skip']()" data-tooltip="Skip" style="cursor: pointer;"
          ><span class="glyphicon glyphicon-ban-circle"></span
        ></a>
      </li>
      <li>
        <a onclick="action['Delete']()" data-tooltip="Delete" style="cursor: pointer;"
          ><span class="glyphicon glyphicon-trash"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Workflow Logs']()"
          data-tooltip="Workflow Logs"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-list"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Workflow Results Tree']()"
          data-tooltip="Workflow Results"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-list-alt"></span
        ></a>
      </li>
    </ul>
    <ul class="pagination" style="margin: 0px;">
      <li>
        <a
          onclick="eNMS.workflow.getWorkflowState(false, true)"
          data-tooltip="Refresh"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-refresh"></span
        ></a>
      </li>
      <li>
        <a onclick="action['Zoom In']()" data-tooltip="Zoom In" style="cursor: pointer;"
          ><span class="glyphicon glyphicon-zoom-in"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Zoom Out']()"
          data-tooltip="Zoom Out"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-zoom-out"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Run Workflow']()"
          data-tooltip="Run Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-play"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Parameterized Workflow Run']()"
          data-tooltip="Parameterized Run"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-play-circle"></span
        ></a>
      </li>
      <li>
        <a
          onclick="action['Stop Workflow']()"
          data-tooltip="Stop Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-stop"></span
        ></a>
      </li>
      <li id="left-arrow">
        <a
          onclick="action['Backward']()"
          data-tooltip="Previous Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-chevron-left"></span
        ></a>
      </li>
      <li id="up-arrow">
        <a
          onclick="action['Upward']()"
          data-tooltip="Switch to Parent Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-chevron-up"></span
        ></a>
      </li>
      <li id="right-arrow">
        <a
          onclick="action['Forward']()"
          data-tooltip="Next Workflow"
          style="cursor: pointer;"
          ><span class="glyphicon glyphicon-chevron-right"></span
        ></a>
      </li>
    </ul>
  </nav>
</div>
<div id="network"></div>
<ul id="contextMenu" class="dropdown-menu" role="menu">
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Edit</a>
  </li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Duplicate</a>
  </li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Logs</a>
  </li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Results</a>
  </li>
  <li class="menu-entry node-selection workflow-selection">
    <a tabindex="-1" href="#">Enter Workflow</a>
  </li>
  <li class="dropdown-submenu menu-entry node-selection">
    <a class="menu-submenu menu-layer" tabindex="-1" href="#"
      >Reference<span class="caret-right"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Service Name</a></li>
      <li><a tabindex="-1" href="#">Top-level Result</a></li>
      <li><a tabindex="-1" href="#">Per-device Result</a></li>
    </ul>
  </li>
  <li class="menu-entry divider node-selection">&nbsp</li>
  <li class="menu-entry node-selection"><a tabindex="-1" href="#">Run</a></li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Parameterized Run</a>
  </li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Restart Workflow from Here</a>
  </li>
  <li class="menu-entry divider node-selection">&nbsp</li>
  <li class="menu-entry node-selection edge-selection">
    <a tabindex="-1" href="#">Delete</a>
  </li>
  <li class="menu-entry edge-selection">
    <a tabindex="-1" href="#">Edit Edge</a>
  </li>
  <li class="menu-entry label-selection">
    <a tabindex="-1" href="#">Edit Label</a>
  </li>
  <li class="menu-entry label-selection">
    <a tabindex="-1" href="#">Delete Label</a>
  </li>
  <li class="dropdown-submenu menu-entry global">
    <a class="menu-submenu menu-layer" tabindex="-1" href="#"
      >Change Mode<span class="caret-right"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Move Nodes</a></li>
      <li class="divider"><a tabindex="-1" href="#">&nbsp</a></li>
      <li><a tabindex="-1" href="#">Create 'Success' edge</a></li>
      <li><a tabindex="-1" href="#">Create 'Failure' edge</a></li>
      <li><a tabindex="-1" href="#">Create 'Prerequisite' edge</a></li>
    </ul>
  </li>
  <li class="dropdown-submenu menu-entry global">
    <a class="menu-submenu menu-layer" tabindex="-1" href="#"
      >Workflow<span class="caret-right"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Edit Workflow</a></li>
      <li><a tabindex="-1" href="#">Create Workflow</a></li>
      <li><a tabindex="-1" href="#">Add to Workflow</a></li>
      <li class="divider"><a tabindex="-1" href="#">&nbsp</a></li>
      <li><a tabindex="-1" href="#">Run Workflow</a></li>
      <li><a tabindex="-1" href="#">Parameterized Workflow Run</a></li>
      <li><a tabindex="-1" href="#">Stop Workflow</a></li>
      <li class="divider"><a tabindex="-1" href="#">&nbsp</a></li>
      <li><a tabindex="-1" href="#">Workflow Results Tree</a></li>
      <li><a tabindex="-1" href="#">Workflow Results Table</a></li>
      <li><a tabindex="-1" href="#">Workflow Logs</a></li>
    </ul>
  </li>
  <li class="menu-entry global">
    <a tabindex="-1" href="#">Create Label</a>
  </li>
</ul>
{% endblock content %} {% block javascripts %} {{ super()}}
<script type="module" src="{{ url_for('static', filename='js/workflow.js') }}"></script>
{% endblock javascripts %}
