<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- meta -->
<meta name="description" content="Graphical automation">
<meta name="author" content="Antoine Fourmy">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- styles -->
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
<!-- /styles -->

</head>
<body>

  <div id="wrap">

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">eNAPALM</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if request.endpoint == 'home' %} class="active" {% endif %}><a href="{{ url_for('home') }}">Home</a></li>
            <li {% if request.endpoint == 'about' %} class="active" {% endif %}><a href="{{ url_for('about') }}">About</a></li>
            
            <!-- Devices menu -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Devices <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li {% if request.endpoint == 'devices' %} class="active" {% endif %}><a href="{{ url_for('devices') }}">List of devices</a></li>
                <li {% if request.endpoint == 'manage_devices' %} class="active" {% endif %}><a href="{{ url_for('manage_devices') }}">Manage devices</a></li>
              </ul>
            </li>
            
            <!-- Netmiko menu -->
            <li {% if request.endpoint == 'netmiko' %} class="active" {% endif %}><a href="{{ url_for('netmiko') }}">Netmiko</a></li>
            
            <!-- NAPALM menu -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">NAPALM <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li {% if request.endpoint == 'napalm' %} class="active" {% endif %}><a href="{{ url_for('napalm_getters') }}">NAPALM getters</a></li>
                <li {% if request.endpoint == 'napalm' %} class="active" {% endif %}><a href="{{ url_for('napalm_configuration') }}">NAPALM configuration</a></li>
                <li class="divider"></li>
                <li><a>NAPALM daemon</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li><a href="{{ url_for('register') }}">Signup</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
          </ul>
        </div>
      </div>
    </div>

    <main id="content" role="main" class="container">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-block alert-error fade in">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
      
    </main>

  </div>

  <div id="footer">
    <div class="container">
      <br><p><a href="https://github.com/afourmy/e-napalm">eNAPALM on github</a> (MIT License)</p>
      {% block footer %}{% endblock %}
    </div>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>

</body>
</html>
