{% extends "base_site.html" %}

{% block title %} Administration {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <form id="form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
      <div class="row">
        <div class="x_panel">
          <div class="x_content">
            <div class="col-md-10 col-xs-10 col-md-offset-1">
              <div class="x_title">
                <h4 class="text-center">TACACS+ Server</h4>
              </div><br>
              {% for field in tacacs_form if field.widget.input_type != 'hidden'  %}
                <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  {% if tacacs_server %}
                    {{ field(class="form-control required", value=tacacs_server[field.name]) }}
                  {% else %}
                    {{ field(class="form-control required", placeholder=field.label.text) }}
                  {% endif %}
                </div><br><br><br>
              {% endfor %}
              <div class="x_title">
                <h4 class="text-center">Syslog Server</h4>
              </div><br>
              {% for field in syslog_form if field.widget.input_type != 'hidden'  %}
                <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  {% if syslog_server %}
                    {{ field(class="form-control required", value=syslog_server[field.name]) }}
                  {% else %}
                    {{ field(class="form-control required", placeholder=field.label.text) }}
                  {% endif %}
                </div><br><br><br>
              {% endfor %}
              <div class="x_title">
                <h4 class="text-center">Geographical Parameters</h4>
              </div><br>
              {% for field in geographical_parameters_form if field.widget.input_type != 'hidden'  %}
                <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  {{ field(class="form-control required", value=parameters[field.name]) }}
                </div><br><br><br>
              {% endfor %}
              <div class="x_title">
                <h4 class="text-center">SSH Terminal Parameters</h4>
              </div><br>
              {% for field in gotty_parameters_form if field.widget.input_type != 'hidden'  %}
                <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ field.label }}</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  {{ field(class="form-control required", value=parameters[field.name]) }}
                </div><br><br><br>
              {% endfor %}
              <div class="x_title">
                <h4 class="text-center">Notification Parameters</h4>
              </div><br>
              {% for field in notification_parameters_form if field.widget.input_type != 'hidden'  %}
                <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ field.label }}</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  {{ field(class="form-control", value=parameters[field.name]) }}
                </div><br><br><br>
              {% endfor %}
                <label>Select a pool for database filtering :</label>
                <div class="form-group" style="height: 250px">
                  {{ database_filtering_form.pool(class="form-control") }}
                </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script src="{{ url_for('admin_blueprint.static', filename='administration.js') }}"></script>
{% endblock javascripts %}
