{% extends "base_site.html" %}

{% block title %} Administration {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="x_panel">
        <div class="x_content">
          <div class="col-md-10 col-xs-10 col-md-offset-1">
            <form id="parameters-form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
              {{ form.boolean_fields() }}
              {% for title, properties in form.categories.items() %}
                <div class="x_title">
                  <h4 class="text-center">{{ title }}</h4>
                </div><br>
                {% for property in properties %}
                  {% set field, value = form[property], parameters[property] %}
                  <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    {{ field(class="form-control", value=value, checked=value, placeholder=field.label.text) }}
                  </div><br><br><br>
                {% endfor %}
              {% endfor %}
            </div>
            <div class="form-group">
              <div class="col-md-e col-sm-9 col-xs-12 col-md-offset-5">
                <button type="button" class="btn btn-success" onclick="saveParameters()">Save Parameters</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    const parameters = {{ parameters|tojson|safe }};
  </script>
  <script src="{{ url_for('admin_blueprint.static', filename='administration.js') }}"></script>
{% endblock javascripts %}
