{% extends "base_site.html" %}

{% block title %} User management {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <div class="x_panel">
          <div class="x_title">
            <h4 class="text-center">TACACS+ server</h4>
          </div>
          <div class="x_content">
            <br />
            <form id="tacacs_form" data-parsley-validate class="form-horizontal form-label-left" method="post">
              <div class="form-group" style="height: 450px">
                {% for field in tacacs_form if field.widget.input_type != 'hidden'  %}
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ field.label }}</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    {% if tacacs_server %}
                      {{ field(class="form-control required", value=tacacs_server[field.name]) }}
                    {% else %}
                      {{ field(class="form-control required", placeholder=field.label.text) }}
                    {% endif %}
                  </div><br><br><br>
                {% endfor %}
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="button" class="btn btn-success" onclick="saveTacacsServer()">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-6">
        <div class="x_panel">
          <div class="x_title">
            <h4 class="text-center">Syslog server</h4>
          </div>
          <div class="x_content">
            <br />
            <form id="syslog_form" data-parsley-validate class="form-horizontal form-label-left" method="post">
              <div class="form-group" style="height: 450px">
                {% for field in syslog_form if field.widget.input_type != 'hidden'  %}
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ field.label }}</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    {% if syslog_server %}
                      {{ field(class="form-control required", value=syslog_server[field.name]) }}
                    {% else %}
                      {{ field(class="form-control required", placeholder=field.label.text) }}
                    {% endif %}
                  </div><br><br><br>
                {% endfor %}
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="button" class="btn btn-success" onclick="saveSyslogServer()">Save changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-6">
        <div class="x_panel">
          <div class="x_title">
            <h4 class="text-center">OpenNMS import (ReST API)</h4>
          </div>
          <div class="x_content">
            <br />
            <form id="opennms_form" data-parsley-validate class="form-horizontal form-label-left" method="post">
              <div class="form-group" style="height: 450px">
                {% for field in opennms_form if field.widget.input_type != 'hidden'  %}
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ field.label }}</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    {% if opennms_server %}
                      {{ field(class="form-control required", value=opennms_server[field.name]) }}
                    {% else %}
                      {{ field(class="form-control required", placeholder=field.label.text) }}
                    {% endif %}
                  </div><br><br><br>
                {% endfor %}
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="button" class="btn btn-success" onclick="queryOpenNMS()">Retrieve nodes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-6">
        <div class="x_panel">
          <div class="x_title">
            <h4 class="text-center">Netbox import (ReST API)</h4>
          </div>
          <div class="x_content">
            <br />
            <form id="opennms_form" data-parsley-validate class="form-horizontal form-label-left" method="post">
              <div class="form-group" style="height: 450px">
                TODO
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="button" class="btn btn-success" onclick="queryOpenNMS()">Retrieve nodes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script src="{{ url_for('admin_blueprint.static', filename='administration.js') }}"></script>
{% endblock javascripts %}
