{% extends "base_site.html" %}

{% block title %} Administration {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_content" style="min-height: 450px">
            <form id="import-export-form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
              {{ migrations_form.list_fields() }}
              {{ migrations_form.boolean_fields() }}
              <div>
                <label>Empty Database before Import</label>
                {{ migrations_form.empty_database_before_import() }}<br><br>
                <label>
                  Directory pathname to use in eNMS_HOME/migrations/import_export :<br>
                  Example: "10312018_backup"
                </label>
                <div class="form-group">
                  <input class="form-control required" list="versions" id="name" name="name" />
                  <datalist id="versions"></datalist>
                </div>
              </div>
              <div>
                <label>eNMS object types to include in Import / Export :</label>
                <div class="form-group">
                  {{ migrations_form.import_export_types(class="form-control required", size="10") }}
                </div>
              </div>
            </form>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-e col-sm-9 col-xs-12 col-md-offset-5">
                <button type="button" class="btn btn-success" onclick="migrationsImport()">Import</button>
                <button type="button" class="btn btn-success" onclick="migrationsExport()">Export</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_content" style="min-height: 450px">
            <form id="logs-form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
              <div>
                <label>Clear Logs older than:</label>
                <div class="form-group">
                  {{ logs_form.clear_logs_date(class="form-control required") }}
                </div>
              </div>
            </form>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-e col-sm-9 col-xs-12 col-md-offset-5">
                <button type="button" class="btn btn-success" onclick="clearLogs()">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_content" style="min-height: 450px">
            <div class="panel-group">
              <div style="padding-bottom:5px;">
                <button class="btn btn-default btn-file" onclick="resetStatus()" style="width:100%;">
                  Reset Services & Workflows Status
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    const folders = {{ folders|tojson|safe }};
  </script>
  <script src="{{ url_for('admin_blueprint.static', filename='database.js') }}"></script>
{% endblock javascripts %}
