<div class="right_col" role="main">
  <!-- begin row -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div style="height:80vh;" class="x_content">
          <div class="panel-group" >
            <div style="padding-bottom:5px;">
              <button class="btn btn-default btn-file" onclick="showModal()" style="width:100%;">
                Add a new user
              </button>
            </div>
          </div>
          <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                {% for field in fields %}
                  <th>{{ names[field] }}</th>
                {% endfor %}
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>