<form id="edit-user-form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
  <div class="modal-body">
    <div class="form-group">
      {% for field in form %}
        {% if field.widget.input_type == 'hidden' %}
          {{ field(id="user-" + field.name) }}
        {% else %}
          <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
          <div class="col-md-10 col-sm-10 col-xs-12">
            {{ field(id="user-" + field.name, class="form-control", size='15') }}
          </div><br><br>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button class="btn btn-primary" type="reset">Reset</button>
    <button type="button" class="btn btn-success" onclick="processData('user')">Save</button>
  </div>
</form>