{% extends "base_site.html" %}

{% block title %} General Elements {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">

    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content" style="height:500px;">
          
            <div role="tabpanel" data-example-id="togglable-tabs">
              <ul class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#project" role="tab" data-toggle="tab" aria-expanded="true">Project</a>
                </li>
                <li role="presentation" class=""><a href="#author" role="tab" data-toggle="tab" aria-expanded="false">Author</a>
                </li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="project">
                  <p><p><a href="https://github.com/afourmy/eNMS"> Github </a></p></p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="author">
                  <p><a href="https://github.com/afourmy"> Github </a></p>
                  <p><a href="http://afourmy.com"> Website </a></p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->

  </div>
{% endblock content %}
