<div id="task-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="title"></h4>
      </div>
      <form id="task-modal-form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
        <div class="modal-body" style="min-height:70vh;">
          <div class="form-group">
            {{ scheduling_form.id() }}
            <label>Name</label>
            <div class='form-group'>
              {{ scheduling_form.name(class="form-control", required=true) }}
            </div>
            <label>Description</label>
            <div class='form-group'>
              {{ scheduling_form.description(class="form-control") }}
            </div>
            <label>Service or Workflow</label>
            <div class="form-group">
              {{ scheduling_form.job(class="form-control") }}
            </div>
            <label>Start date</label>
            <div class='form-group'>
              {{ scheduling_form.start_date(class="form-control", required=true) }}
            </div>
            <label>End date</label>
            <div class='form-group'>
              {{ scheduling_form.end_date(class="form-control") }}
            </div>
            <label>Frequency (seconds)</label>
            <div class='form-group'>
              {{ scheduling_form.frequency(class="form-control", autocomplete="off") }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" onclick="scheduleTask()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>