{% extends "base_site.html" %}

{% block title %} Projects {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Projects <small>Listing design</small></h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Projects</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <!-- start project list -->
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 1%">ID</th>
                    <th style="width: 15%">Task name</th>
                    <th>Creator</th>
                    <th style="width: 10%">Time before next run</th>
                    <th>Status</th>
                    <th style="width: 10%">View</th>
                    <th style="width: 20%">Edit</th>
                    <th style="width: 20%">Delete</th>
                    <th style="width: 20%">Pause / Resume</th>
                  </tr>
                </thead>
                <tbody>
                  {% for task in tasks %}
                  <tr>
                    <td>{{ task.id }}</td>
                    <td>
                      <a>{{ task.name }}</a>
                      <br />
                      <small>Created {{ task.creation_time }}</small>
                    </td>
                    <td>
                      <img src="/static/images/user.png" title="{{ task.creator }}" class="avatar" alt="Avatar">
                    </td>
                    <td class="project_progress">
                      <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
                      </div>
                      <small>57% Complete</small>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success btn-xs">Active</button>
                    </td>
                    <td>
                      <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    </td>
                    <td>
                      <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                    </td>
                    <td>
                      <form action="/delete_task" method='post'>
                      <input type="hidden" name="task_name" value={{ task.name }} />
                      <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</button>
                      </form>
                    </td>
                    <td>
                      {% if task.status == 'Active' %}
                      <form action="/pause_task" method='post'>
                      <input type="hidden" name="task_name" value={{ task.name }} />
                      <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Pause</button>
                      </form>
                      {% else %}
                      <form action="/resume_task" method='post'>
                      <input type="hidden" name="task_name" value={{ task.name }} />
                      <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Resume</button>
                      </form>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- end project list -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}
