{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<form action="" method="post" class="form form-group" style="width:100%">
    <div class="col-md-3">      
        <div class="panel panel-default" style="height: 500px">
        
            <div class="panel-heading">NAPALM query</div>
            <div class="panel-body">
            {{ form.csrf_token }}
            
            Select a device :<br>
            {{ form.devices(id="devices", class="form-control") }}<br>
            
            {{ form.username(id="username", class="form-control", placeholder=form.username
            .label.text, required=true) }}
            {{ form.password(id="password", class="form-control", placeholder=form.password.label.text, required=true) }}
            {{ form.secret(id="secret", class="form-control", placeholder=form.secret.label.text) }}<br>
            
            {{ form.functions(id="assigned", class="form-control", size='9') }}<br>
            
            <input type="submit" name="napalm_query" value="Start" class="btn btn-primary btn-lg btn-block">
    
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default" style="height: 500px">
            <div class="panel-heading">Output of the query</div>
            <div class="panel-body">
            {{ form.output(id="output", class="form-control", rows='20') }}
            </div>
        </div>
    </div>
</form>

{% endblock %}

