{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<form action="" method="post" class="form form-group" enctype=multipart/form-data style="width:100%">

<div class="col-md-3">      
    <div class="panel panel-default" style="height: 500px">
        <div class="panel-heading">Netmiko parameters</div>
        <div class="panel-body">
            {{ form.csrf_token }}
            
            <br>{% for subfield in form.protocol %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}<br><br>

        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-default" style="height: 500px">
        <div class="panel-heading">Script (list of commands or Jinja2 template)</div>
        <div class="panel-body">
        {{ form.raw_script(id="raw_script", class="form-control", rows='20') }}
        </div>
    </div>
</div>

<div class="col-md-3">      
    <div class="panel panel-default" style="height: 500px">
        <div class="panel-heading">Select devices</div>
        <div class="panel-body">
            {{ form.csrf_token }}
            {{ form.devices(id="Devices", class="form-control", size='20') }}<br>
            <button data-target="#confirm" data-toggle="modal" type="button" class="btn btn-primary btn-lg btn-block">Send script</button>
        </div>
    </div>
</div>

</form>

{% endblock %}

