{% extends "base_site.html" %}

{% block title %} Device Management {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='difflib/diffview.min.css') }}" rel="stylesheet">
  <style>
    #main { height:90vh; }
    @media (min-width: 1000px) {
      .modal-lg {
        width: 1200px;
      }
    }
  </style>
{% endblock stylesheets %}

{% block content %}
  {% include 'device_modal.html' %}
  <div id="configurations-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Configurations</h4>
        </div>
        <div class="modal-body">
          <label class="control-label col-md-2 col-sm-2 col-xs-12">Display :</label>
          <div class="col-md-10 col-sm-10 col-xs-12">
            {{ compare_configurations_form.display(class="form-control") }}
          </div>
          <label class="control-label col-md-2 col-sm-2 col-xs-12">Compare With :</label>
          <div class="col-md-10 col-sm-10 col-xs-12">
            {{ compare_configurations_form.compare_with(class="form-control") }}
          </div>
          <hr><hr><hr><hr>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <pre id="configurations"></pre>
            </div>
          </div>
          <button class="btn btn-default btn-file" onclick="showRawLogs()" style="width:100%;">
            Raw logs
          </button>
          <button class="btn btn-default btn-file" onclick="clearConfigurations()" style="width:100%;">
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <!-- begin column -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height: 90vh">
          <div style="min-height:90vh;" class="x_content">
            <div class="page-title">
              <div class="title_left">
                <h3>Device Configurations</h3>
              </div>
              <div class="title_right">
                <h3>Pool filtering</h3> {{ pool_restriction_form.pools(id='restrict-pool', class="form-control") }}
              </div>
            </div>
            <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th style="width: 10%">Name</th>
                  <th style="width: 10%">Model</th>
                  <th style="width: 10%">Last failure</th>
                  <th style="width: 10%">Last runtime</th>
                  <th style="width: 10%">Last update</th>
                  <th style="width: 10%">Last status</th>
                  <th style="width: 5%">Configuration</th>
                  <th style="width: 5%">Download</th>
                  <th style="width: 5%">Edit</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end column -->
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    const propertyTypes = {{ property_types|tojson|safe }};
  </script>
  <!-- Difflib -->
  <script src="{{ url_for('static', filename='difflib/diffview.min.js') }}"></script>
  <script src="{{ url_for('inventory_blueprint.static', filename='objectCommonFunctions.js') }}"></script>
  <script src="{{ url_for('inventory_blueprint.static', filename='configurationManagement.js') }}"></script>
{% endblock javascripts %}
