{% extends "base_site.html" %}

{% block title %} Device Management {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  {% include 'confirm_deletion_modal.html' %}
  {% include 'device_automation_modal.html' %}
  {% include 'device_modal.html' %}
  {% include 'connection_parameters_modal.html' %}
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <!-- begin column -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height: 90vh">
          <div style="min-height:90vh;" class="x_content">
            <div class="panel-group">
              <div style="padding-bottom:5px;">
                <button class="btn btn-default btn-file" onclick="showCreateModal('device')" style="width:100%;">
                  Create a New Device
                </button>
              </div>
            </div>
            <div class="page-title">
              <div class="title_left">
                <h3>Existing Devices</h3>
              </div>
            </div>
            <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  {% for field in fields %}
                    <th>{{ names[field] }}</th>
                  {% endfor %}
                  <th style="width: 5%">Automation</th>
                  <th style="width: 5%">Connect</th>
                  <th style="width: 5%">Edit</th>
                  <th style="width: 5%">Duplicate</th>
                  <th style="width: 5%">Delete</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end column -->
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    const propertyTypes = {{ property_types|tojson|safe }};
    var fields = {{ fields|tojson|safe }};
    var devices = {{ devices|tojson|safe }};
  </script>
  <script src="{{ url_for('inventory_blueprint.static', filename='objectCommonFunctions.js') }}"></script>
  <script src="{{ url_for('inventory_blueprint.static', filename='deviceManagement.js') }}"></script>
{% endblock javascripts %}
