{% extends "base_site.html" %}

{% block title %} Administration {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="x_panel" style="min-height: 500px">
          <div class="x_title">
            <h4 class="text-center">Import / Export Topology</h4>
          </div>
          <div class="x_content">
            <form id="import-form" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" autocomplete="off">
              {% for field in import_export_form %}
                {% if field.widget.input_type == 'hidden' %}
                  {{ field() }}
                {% elif field.name in ('replace', 'update_pools') %}
                  <fieldset>
                    <div class="item">
                      {{ field() }}
                      <label>{{ field.name }}</label>
                    </div>
                  </fieldset>
                {% else %}
                  <label>{{ field.label }}</label>
                  <div class='form-group'>
                    {{ field(class="form-control") }}
                  </div>
                {% endif %}
              {% endfor %}
              <label class="btn btn-default btn-file" style="width:100%;">Import Network Topology
                <input id="file" name="file" style="visibility:hidden; display:none" type="file">
              </label>
            </form>
            <div class="panel-group">
              <div style="padding-bottom:5px;">
                <button class="btn btn-default btn-file" onclick="exportTopology()" style="width:100%;">
                  Export Network Topology
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-6">
        <div class="x_panel" style="min-height: 500px">
          <div class="x_title">
            <h4 class="text-center">OpenNMS import</h4>
          </div>
          <div class="x_content">
            <br>
            <form id="opennms_form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
              <div class="form-group">
                {% for field in opennms_form if field.widget.input_type != 'hidden'  %}
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ field.label }}</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    {{ field(class="form-control required", placeholder=field.label.text, value=parameters[field.name]) }}
                  </div><br><br><br>
                {% endfor %}
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="button" class="btn btn-success" onclick="queryOpenNMS()">Import</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <div class="x_panel" style="min-height: 500px">
          <div class="x_title">
            <h4 class="text-center">Netbox import</h4>
          </div>
          <div class="x_content">
            <br>
            <form id="netbox_form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
              <div class="form-group">
                {% for field in netbox_form if field.widget.input_type != 'hidden'  %}
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ field.label }}</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    {{ field(class="form-control required", placeholder=field.label.text) }}
                  </div><br><br><br>
                {% endfor %}
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="button" class="btn btn-success" onclick="queryNetbox()">Import</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-6">
        <div class="x_panel" style="min-height: 500px">
          <div class="x_title">
            <h4 class="text-center">LibreNMS import</h4>
          </div>
          <div class="x_content">
            <br>
            <form id="librenms_form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
              <div class="form-group">
                {% for field in librenms_form if field.widget.input_type != 'hidden'  %}
                  <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ field.label }}</label>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    {{ field(class="form-control required", placeholder=field.label.text) }}
                  </div><br><br><br>
                {% endfor %}
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="button" class="btn btn-success" onclick="queryLibreNMS()">Import</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script src="{{ url_for('inventory_blueprint.static', filename='importExport.js') }}"></script>
{% endblock javascripts %}
