{% extends "base_site.html" %}

{% block title %} Pool Management {% endblock title %}

{% block stylesheets %}
  <!-- Vis CSS -->
  <link href="{{ url_for('static', filename='vis/vis-network.min.css') }}" rel="stylesheet">
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <!-- begin column -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height: 90vh">
          <div style="min-height:90vh;" class="x_content">
            <div class="panel-group">
              <div style="padding-bottom:5px;">
                <button class="btn btn-default btn-file" onclick="showTypePanel('pool')" style="width:100%;">
                  Create a New Pool
                </button>
              </div>
              <div style="padding-bottom:5px;">
                <button class="btn btn-default btn-file" onclick="updatePool('all')" style="width:100%;">
                  Update all pools
                </button>
              </div>
            </div>
            <div class="page-title">
              <div class="title_left">
                <h3>Existing Pools</h3>
              </div>
            </div>
            <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  {% for field in fields %}
                    <th>{{ names[field] }}</th>
                  {% endfor %}
                  <th style="width: 5%">Visualize</th>
                  <th style="width: 5%">Edit properties</th>
                  <th style="width: 5%">Update</th>
                  <th style="width: 5%">Duplicate</th>
                  <th style="width: 5%">Edit objects</th>
                  <th style="width: 5%">Delete</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end column -->
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  
  
  <script src="{{ url_for('inventory_blueprint.static', filename='objectCommonFunctions.js') }}"></script>
  <script src="{{ url_for('inventory_blueprint.static', filename='poolManagement.js') }}"></script>
{% endblock javascripts %}
