{% extends "base_site.html" %}

{% block title %} Pool Management {% endblock title %}

{% block stylesheets %}
  <!-- Vis CSS -->
  <link href="{{ url_for('static', filename='vis/vis-network.min.css') }}" rel="stylesheet">
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  {% include 'confirm_deletion_modal.html' %}
  {% include 'link_modal.html' %}
  {% include 'device_automation_modal.html' %}
  {% include 'device_modal.html' %}
  {% include 'connection_parameters_modal.html' %}
  {% include 'pool_modal.html' %}
  <ul id="contextMenu" class="dropdown-menu" role="menu">
    <li class="menu rc-device-menu"><a tabindex="-1" href="#">Device properties</a></li>
    <li class="menu rc-device-menu"><a tabindex="-1" href="#">Connect</a></li>
    <li class="menu rc-device-menu"><a tabindex="-1" href="#">Automation</a></li>
    <li class="menu rc-link-menu"><a tabindex="-1" href="#">Link properties</a></li>
  </ul>
  <div id="view-pool" style="z-index:1500;" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">View Pool</h4>
        </div>
        <div class="modal-body">
          <div id="network" style="height:400px; width:100%;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div id="edit-pool-objects" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="title">Edit pool objects</h4>
        </div>
        <form id="pool-objects-form"  data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
          {{ pool_object_form.list_fields() }}
          <!-- begin column -->
          <div class="col-md-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                <div class="form-group">
                  <div class="form-group">
                    <label>Devices</label>
                    <div class='form-group'>
                      {{ pool_object_form.devices(class="form-control", size=10) }}
                    </div>
                    <label>Links</label>
                    <div class='form-group'>
                      {{ pool_object_form.links(class="form-control", size=10) }}
                    </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="button" class="btn btn-success" onclick="savePoolObjects()">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end column -->
        </form>
      </div>
    </div>
  </div>
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <!-- begin column -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height: 90vh">
          <div style="min-height:90vh;" class="x_content">
            <div class="panel-group">
              <div style="padding-bottom:5px;">
                <button class="btn btn-default btn-file" onclick="showCreateModal('pool')" style="width:100%;">
                  Create a New Pool
                </button>
              </div>
              <div style="padding-bottom:5px;">
                <button class="btn btn-default btn-file" onclick="updatePool('all')" style="width:100%;">
                  Update all pools
                </button>
              </div>
            </div>
            <div class="page-title">
              <div class="title_left">
                <h3>Existing Pools</h3>
              </div>
            </div>
            <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  {% for field in fields %}
                    <th>{{ names[field] }}</th>
                  {% endfor %}
                  <th style="width: 5%">Visualize</th>
                  <th style="width: 5%">Edit properties</th>
                  <th style="width: 5%">Update</th>
                  <th style="width: 5%">Duplicate</th>
                  <th style="width: 5%">Edit objects</th>
                  <th style="width: 5%">Delete</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end column -->
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    const propertyTypes = {{ property_types|tojson|safe }};
  </script>
  <script src="{{ url_for('static', filename='enms/contextMenu.js') }}"></script>
  <script src="{{ url_for('static', filename='vis/vis.min.js') }}"></script>
  <script src="{{ url_for('inventory_blueprint.static', filename='objectCommonFunctions.js') }}"></script>
  <script src="{{ url_for('views_blueprint.static', filename='logicalView.js') }}"></script>
  <script src="{{ url_for('inventory_blueprint.static', filename='poolManagement.js') }}"></script>
{% endblock javascripts %}
