<form id="file_transfer-form" name="send" data-parsley-validate class="form-horizontal form-label-left" method="post">
  <div class="col-md-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <div class="form-group" style="height: 650px">
          {% for field in form if field.widget.input_type != 'hidden'  %}
            {% if field.name not in ("overwrite_file", "disable_md5", "inline_transfer") %}
              {% set validate = "" if field.name == "description" else " required" %}
              <label>{{ names[field.name] }}</label>
              <div class='form-group'>
                {{ field(id="file_transfer-" + field.name, class="form-control" + validate, placeholder=field.label.text) }}
              </div>
            {% endif %}
          {% endfor %}
          <fieldset>
            {% for field in form if field.name in ('overwrite_file', 'disable_md5', 'inline_transfer')  %}
                <div class="item">
                {{ field(id="file_transfer-" + field.name) }}
                <label for="file_transfer-" + field.name>{{ field.label.text }}</label>
                </div>
            {% endfor %}
          </fieldset>
          <div class="ln_solid"></div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">
            <button class="btn btn-primary" type="reset">Reset</button>
            <button id="file_transfer-button" type="button" class="btn btn-success" onclick="createScript('file_transfer')">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>