{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/leaflet/leaflet.css') }}" rel="stylesheet">
  <style>
      #mapid { height: 550px; }
  </style>
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
    
      <div id="filters" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Filter the view</h4>
            </div>
            <div class="modal-body">
            
              <form data-parsley-validate class="form-horizontal form-label-left" method="post">
              
                    <div class="form-group">
                    
                      <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th>Property</th>
                            <th>Value</th>
                            <th>Regex</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for property in form.node_properties %}
                          <tr>
                              <td>{{ names[property] }}</td>
                              <td>{{ form['node' + property](class="form-control") }}</td>
                              <td>{{ form['node' + property + 'regex'](class="form-control") }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    
                      <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th>Property</th>
                            <th>Value</th>
                            <th>Regex</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for property in form.link_properties %}
                          <tr>
                              <td>{{ names[property] }}</td>
                              <td>{{ form['link' + property](class="form-control") }}</td>
                              <td>{{ form['link' + property + 'regex'](class="form-control") }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      
                    </div>

              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="reset">Reset</button>
              <button type="submit" class="btn btn-success" name="add_node">Submit</button>
            </div>

            </form>

          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <div id="mapid"></div>
                <script src="{{ url_for('static', filename='vendors/leaflet/leaflet.js') }}"></script>
            
            <script>
            var ourCustomControl = L.Control.extend({
            
            options: {
                position: 'topleft' 
                //control position - allowed: 'topleft', 'topright', 'bottomleft', 'bottomright'
            },
            
            onAdd: function (mymap) {
                var container = L.DomUtil.create('input', 'leaflet-bar leaflet-control leaflet-control-custom');
            
                container.style.backgroundColor = 'white';
                container.style.height = '30px';
                container.type="button";
                container.value = "Filters";
            
                container.onclick = function(){
                  $('#filters').modal('show');
  
                }
                return container;
              }
            })
            
            var mymap = L.map('mapid').setView([48, 2], 5);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(mymap);
            
            var greenIcon = L.icon({
                iconUrl: 'static/images/default/default_router.gif',
                iconSize:     [18, 12], // size of the icon
                iconAnchor:   [9, 6], // point of the icon which will correspond to marker's location
                popupAnchor:  [8, -5] // point from which the popup should open relative to the iconAnchor
            });
  
            mymap.addControl(new ourCustomControl());
            
            function loadXMLDoc()
            {
                var req = new XMLHttpRequest()
                req.onreadystatechange = function()
                {
                    if (req.readyState == 4)
                    {
                        if (req.status != 200)
                        {
                            //error handling code here
                        }
                        else
                        {
                            var response = JSON.parse(req.responseText)
                        }
                    }
                }
            
                req.open('POST', '/ajax_connection_to_node')
                req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                var ip = document.getElementById('ip_address').value
                var postVars = 'ip_address='+ip
                req.send(postVars)
                
                return false
            }
            
            {% for obj, properties in node_table.items() %}  
                var marker = L.marker([{{ obj.latitude }}, {{ obj.longitude }}], {icon: greenIcon}).addTo(mymap);
                
                marker.bindPopup("{% for property in properties %}\
                <b>{{ names[property] }}</b>: {{ obj[property] }}<br>{% endfor %}<br>\
                <form action='' method='POST' id='#form'>\
                <input type='hidden' name='ip_address' id='ip_address' value={{ obj.ip_address }}>\
                <input type='button' value='Connect' class='btn btn-round btn-danger' onclick='return loadXMLDoc()'/>");
              {% endfor %}
              {% for obj, properties in link_table.items() %}
                var pointA = new L.LatLng({{ obj['source']['latitude'] }}, {{ obj['source']['longitude'] }});
                var pointB = new L.LatLng({{ obj['destination']['latitude'] }}, {{ obj['destination']['longitude'] }});
                var pointList = [pointA, pointB];
                
                var firstpolyline = new L.Polyline(pointList, {
                    color: 'red',
                    weight: 3,
                    opacity: 1,
                    smoothFactor: 1
                });
                firstpolyline.addTo(mymap);
                
              firstpolyline.bindPopup("{% for property in properties %}\
              <b>{{ names[property] }}</b>: {{ obj[property] }}<br>{% endfor %}");
            {% endfor %}
            
            </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Datatables -->
  <script src="{{ url_for('static', filename='vendors/leaflet/leaflet.js') }}"></script>
{% endblock javascripts %}
