{% extends "base_site.html" %}

{% block title %} Administration {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="x_panel">
        <div class="x_content">
          
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    const parameters = {{ parameters|tojson|safe }};
  </script>
  <script src="{{ url_for('static', filename='administration.js') }}"></script>
{% endblock javascripts %}
