{% extends "base_site.html" %} {% block title %} Administration {% endblock
title %} {% block stylesheets %} {{ super() }}
<style>
  .btn-group-vertical > .btn {
    margin-bottom: 20px;
  }
</style>
{% endblock stylesheets %} {% block content %}
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="x_panel">
        <div class="x_content" style="min-height:80vh;">
          <div class="x_title">
            <h4 class="text-center">Miscellaneous</h4>
          </div>
          <br />
          <center>
            <div class="btn-group-vertical" style="width:100%">
              <button
                type="button"
                class="btn btn-primary btn-file"
                onclick="showConfiguration()"
              >
                Configuration
              </button>
              <button
                class="btn btn-primary btn-file"
                onclick="getGitContent()"
              >
                Fetch Git Configurations
              </button>
              <button class="btn btn-primary btn-file" onclick="scanCluster()">
                Scan Cluster Subnet
              </button>
              <button
                class="btn btn-primary btn-file"
                onclick="scheduler('pause')"
              >
                Pause Scheduler
              </button>
              <button
                class="btn btn-primary btn-file"
                onclick="scheduler('resume')"
              >
                Resume Scheduler
              </button>
            </div>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="x_panel">
        <div class="x_content" style="min-height:80vh;">
          <div class="x_title">
            <h4 class="text-center">Database</h4>
          </div>
          <br />
          <center>
            <div class="btn-group-vertical" style="width:100%">
              <button
                class="btn btn-primary btn-file"
                onclick="showMigrationPanel()"
              >
                Migration
              </button>
              <button
                class="btn btn-primary btn-file"
                onclick="eNMS.showPanel('database_deletion')"
              >
                Deletion
              </button>
              <button
                class="btn btn-primary btn-file"
                onclick="showImportServicePanel()"
              >
                Import Service
              </button>
            </div>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="x_panel">
        <div class="x_content" style="min-height:80vh;">
          <div class="x_title">
            <h4 class="text-center">Topology Import</h4>
          </div>
          <br />
          <center>
            <div class="btn-group-vertical" style="width:100%">
              <button
                class="btn btn-primary btn-file"
                onclick="showImportTopologyPanel()"
              >
                Excel
              </button>
              <button class="btn btn-primary btn-file" onclick="queryOpenNMS()">
                OpenNMS
              </button>
              <button class="btn btn-primary btn-file" onclick="queryNetbox()">
                Netbox
              </button>
              <button
                class="btn btn-primary btn-file"
                onclick="queryLibreNMS()"
              >
                LibreNMS
              </button>
            </div>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="x_panel">
        <div class="x_content" style="min-height:80vh;">
          <div class="x_title">
            <h4 class="text-center">Topology Export</h4>
          </div>
          <br />
          <center>
            <div class="btn-group-vertical" style="width:100%">
              <button
                class="btn btn-primary btn-file"
                onclick="eNMS.showPanel('excel_export')"
              >
                Excel
              </button>
            </div>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block javascripts %} {{ super()}}
<script src="{{ url_for('static', filename='administration.js') }}"></script>
<script>
  const folders = {{ folders|tojson|safe }};
</script>
{% endblock javascripts %}
