{% extends "base_site.html" %}

{% block title %} Administration {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="x_panel">
        <div class="col-md-10 col-xs-10 col-md-offset-1">
          <div class="x_title">
            <h4 class="text-center">Database Migration</h4>
          </div>


          <div class="ln_solid"></div>
          <div class="x_title">
            <h4 class="text-center">Database Helpers</h4>
          </div>
          <form id="database-helpers-form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
            <div>
              <label>Clear Logs older than:</label>
              <div class="form-group">
                {{ database_helpers_form.clear_logs_date(class="form-control") }}
              </div>
              <label>Mass Deletion</label>
              <div class="form-group">
                {{ database_helpers_form.deletion_types(class="form-control", size="10") }}
              </div>
            </div>
          </form><br>
          <div class="form-group">
            <div class="col-md-e col-sm-9 col-xs-12 col-md-offset-5">
              <button type="button" class="btn btn-success" onclick="databaseHelpers()">Submit</button>
            </div>
          </div><br>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    const folders = {{ folders|tojson|safe }};
  </script>
  <script src="{{ url_for('static', filename='administration.js') }}"></script>
{% endblock javascripts %}
