{% extends "base_site.html" %} {% block stylesheets %} {{ super() }} {% endblock
stylesheets %} {% block content %} {% if type == "pool" %} {% endif %}
<div class="right_col" role="main">
  <div class="row">
    <div class="x_panel">
      <div style="min-height:90vh;" class="x_content">
        {% include "table_template.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block javascripts %} {{ super() }} {% if type ==
"pool" %}
<script src="{{ url_for('static', filename='logicalView.js') }}"></script>
{% elif type == "instance" %}
<script src="{{ url_for('static', filename='administration.js') }}"></script>
{% endif %} {% endblock javascripts %}
