{% extends "base_site.html" %} {% block stylesheets %} {{ super() }} {% endblock
stylesheets %} {% block content %} {% if type == "pool" %} {% endif %}
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div style="min-height:90vh;" class="x_content">
          <div class="page-title">
            {% if type == "service" %}
            <button
              style="background:transparent; border:none; color:transparent; width: 20vw;"
            >
              {{ service_table_form.services(id="service-type",
              class="form-control") }}
            </button>
            {% endif %} {% if type not in ("configuration", "run", "syslog") %} {% set
            func = "openServicePanel" if type == "service" else "showTypePanel"
            %}
            <button
              class="btn btn-primary btn-file"
              onclick="{{ func }}('{{ type }}')"
            >
              Create
            </button>
            {% endif %} {% if type == "pool" %}
            <button class="btn btn-primary btn-file" onclick="updatePools()">
              Update all pools
            </button>
            {% endif %}
            <button
              class="btn btn-info btn-file"
              onclick="showFilteringPanel('{{ type }}_filtering')"
            >
              Advanced Search
            </button>
            <button
              class="btn btn-info btn-file"
              onclick="undoFilter('{{ type }}_filtering')"
            >
              Clear Search
            </button>
          </div>
          <table
            id="table"
            class="table table-striped table-bordered dt-responsive nowrap"
            cellspacing="0"
            width="100%"
          >
            <thead>
              <tr>
                {% for field in properties + fixed_columns %}
                <th>
                  {{ names.get(field, field.replace("_", " ").capitalize() ) }}
                </th>
                {% endfor %}
              </tr>
              {% for property in properties %} {% if property in
              filtering_properties %}
              <th>
                <input
                  id="search-{{ property }}"
                  type="text"
                  class="form-control"
                  style="width: 100%;"
                />
              </th>
              {% else %}
              <th>N/A</th>
              {% endif %} {% endfor %} {% for field in fixed_columns %}
              <th>N/A</th>
              {% endfor %}
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block javascripts %} {{ super() }}
<script>
  const properties = {{ properties|tojson|safe }};
  const filteringProperties = {{ filtering_properties|tojson|safe }};
  const type = "{{ type }}";
  let [table, filteringPanel] = initTable(type);
  if (["run", "service", "task", "workflow"].includes(type))
  refreshTable(3000);
</script>
{% if type == "pool" %}
<script src="{{ url_for('static', filename='logicalView.js') }}"></script>
{% elif type == "instance" %}
<script src="{{ url_for('static', filename='administration.js') }}"></script>
{% endif %} {% endblock javascripts %}
