{% extends "base_site.html" %} {% block stylesheets %} {{ super() }} {% endblock
stylesheets %} {% block content %}
<div class="right_col" role="main">
  <div id="content" class="row">
    <div class="x_panel">
      <div class="x_content">
        <form
          id="search-{{ type }}-form"
          class="form-horizontal form-label-left"
          method="post"
        >
          <div id="controls-right" class="pull-right add-id"></div>
          <center><div id="controls-center" class="add-id"></div></center>
          <div id="controls-left" class="pull-left add-id"></div>
          <table
            id="table"
            class="table table-striped table-bordered table-hover add-id"
            cellspacing="0"
            width="100%"
          ></table>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block javascripts %} {{ super() }} {% endblock
javascripts %}
