{% extends "base_site.html" %} {% block title %} Workflow Builder {% endblock
title %} {% block stylesheets %} {{ super() }} {% endblock stylesheets %} {%
block content %}
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
          <li class="active" style="width: 300px;">
            <a href="#"
              ><select id="current-workflow" class="form-control"></select
            ></a>
          </li>
          <li class="active" style="width: 300px;">
            <a href="#"
              ><select id="current-runtime" class="form-control"></select
            ></a>
          </li>
        </ul>

        <ul
          class="pagination pagination-lg"
          style="margin: 0px; padding-left: 29px; padding-top: 9px"
        >
          <li>
            <a onclick="menu('Edit Workflow')"><span class="glyphicon glyphicon-cog"></span></a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-play"></span></a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-play"></span></a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-play"></span></a>
          </li>
          <li>
            <a onclick="menu('Zoom In')"><span class="glyphicon glyphicon-zoom-in"></span></a>
          </li>
          <li>
            <a onclick="menu('Zoom Out')"><span class="glyphicon glyphicon-zoom-out"></span></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active" style="width: 300px;">
            <a href="#"
              ><select id="service-type" class="form-control"></select
            ></a>
          </li>
          <li class="active">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              onclick="openServicePanel()"
              style="margin: 0; padding: 19px"
              padding="19px 10px"
            >
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </li>
        </ul>
      </nav>
      <div class="x_panel">
        <div class="x_content">
          <div style="z-index:2; position: absolute; left: 35vw;">
            <img
              id="left-arrow"
              src="{{ url_for('static', filename='images/workflow/leftArrow.png') }}"
              style="display: none"
            />
            <img
              id="right-arrow"
              src="{{ url_for('static', filename='images/workflow/rightArrow.png') }}"
              style="display: none"
            />
          </div>
          <div
            class="btn-group"
            style="width: 20vw; z-index:2; position: absolute; top: 10vh"
          >
            <strong><p id="status"></p></strong>
            <strong><p id="current-job"></p></strong>
            <div id="progressbar" class="progress" style="display: none">
              <div
                id="progress-success"
                class="progress-bar progress-bar-success"
              >
                <span id="progress-success-span" style="color:black;"></span>
              </div>
              <div
                id="progress-failure"
                class="progress-bar progress-bar-danger"
              >
                <span id="progress-failure-span" style="color:black;"></span>
              </div>
            </div>
          </div>
          <div id="test"></div>
          <div id="network" style="height:80vh; width:100%;"></div>
          <div class="ln_solid"></div>
          <div class="form-group"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<ul id="contextMenu" class="dropdown-menu" role="menu">
  <li class="menu-entry node-selection"><a tabindex="-1" href="#">Edit</a></li>
  <li class="menu-entry node-selection"><a tabindex="-1" href="#">Run</a></li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Run with Updates</a>
  </li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Restart Workflow from Here</a>
  </li>
  <li class="menu-entry node-selection">
    <a tabindex="-1" href="#">Results</a>
  </li>
  <li class="menu-entry node-selection edge-selection">
    <a tabindex="-1" href="#">Remove from Workflow</a>
  </li>
  <li class="menu-entry edge-selection">
    <a tabindex="-1" href="#">Edit Edge</a>
  </li>
  <li class="menu-entry label-selection">
    <a tabindex="-1" href="#">Edit Label</a>
  </li>
  <li class="menu-entry label-selection">
    <a tabindex="-1" href="#">Delete Label</a>
  </li>
  <li class="dropdown-submenu menu-entry global">
    <a class="menu-submenu menu-layer" tabindex="-1" href="#"
      >Change Mode<span class="caret-right"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Create 'Success' edge</a></li>
      <li><a tabindex="-1" href="#">Create 'Failure' edge</a></li>
      <li><a tabindex="-1" href="#">Create 'Prerequisite' edge</a></li>
      <li><a tabindex="-1" href="#">Move Nodes</a></li>
    </ul>
  </li>
  <li class="menu-entry global">
    <a tabindex="-1" href="#">Create Workflow</a>
  </li>
  <li class="menu-entry global">
    <a tabindex="-1" href="#">Add to Workflow</a>
  </li>
  <li class="menu-entry global"><a tabindex="-1" href="#">Run Workflow</a></li>
  <li class="menu-entry global">
    <a tabindex="-1" href="#">Run Workflow with Updates</a>
  </li>
  <li class="menu-entry global">
    <a tabindex="-1" href="#">Stop Workflow</a>
  </li>
  <li class="menu-entry global"><a tabindex="-1" href="#">Edit Workflow</a></li>
  <li class="menu-entry global">
    <a tabindex="-1" href="#">Workflow Results</a>
  </li>
  <li class="menu-entry global"><a tabindex="-1" href="#">Workflow Logs</a></li>
  <li class="menu-entry global"><a tabindex="-1" href="#">Create Label</a></li>
  <li class="dropdown-submenu menu-entry global">
    <a class="menu-submenu menu-layer" tabindex="-1" href="#"
      >Selection<span class="caret-right"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Skip</a></li>
      <li><a tabindex="-1" href="#">Unskip</a></li>
    </ul>
  </li>
</ul>
{% endblock content %} {% block javascripts %} {{ super()}}
<script>
  let workflow = {{ workflow|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='workflowBuilder.js') }}"></script>
{% endblock javascripts %}
