<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flask - AJAX Form</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <h1>Select a department</h1><br><br>

      <div id="department_selection">
        <form action="/department" method="POST">
          {{ form.hidden_tag() }}
          {{ form.department(id="department_select", class="form-control") }}
          <br>
          {{ form.employee(id="employee_select", class="form-control") }}
          <br><br>
          <button type="button" class="btn btn-primary" id="submit-btn">Submit</button>
          <button type="button" class="btn btn-success" id="refresh-btn">Refresh</button>
        </form>
      </div>

      <br><br>

      <div id="show_selection">
        <h2>You selected:</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Department ID</th>
              <th>Department</th>
              <th>Employee ID</th>
              <th>Employee</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span id="chosen_department_id"></span></td>
              <td><span id="chosen_department"></td>
              <td><span id="chosen_employee_id"></span></td>
              <td><span id="chosen_employee"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>