<div class="modal-body">
  <form
    id="edit-access-form"
    class="form-horizontal form-label-left add-id"
    method="post"
    autocomplete="off"
  >
    {{ form.id(id='access-id', class="add-id") }} {{ form.hidden_tag() }}
    <div class="form-group">
      <label>Name</label>
      <div class="form-group">
        {{ form.name(id="access-name", class="form-control required add-id",
        placeholder="Name") }}
      </div>
      <label>Description</label>
      <div class="form-group">
        {{ form.description(id="access-description", class="form-control required
        add-id", placeholder="Description") }}
      </div>
      <fieldset class="section">
        <legend align="center" class="section">
          User and Groups Targets
        </legend>
        <div class="form-group">
          <div class="form-group">
            {{ form.users(id="access-users", class="form-control add-id") }}
          </div>
          <div class="form-group">
            {{ form.groups(id="access-groups", class="form-control add-id") }}
          </div>
        </div>
      </fieldset>
      <fieldset class="section">
        <legend align="center" class="section">
          User Interface Access
        </legend>
        <div class="form-group">
          <label>Sections</label>
          <div class="form-group">
            {{ form.menu(id="access-menu", class="form-control add-id") }}
          </div>
          <label>Pages</label>
          <div class="form-group">
            {{ form.pages(id="access-pages", class="form-control add-id") }}
          </div>
          <label>Upper Menu</label>
          <div class="form-group">
            {{ form.upper_menu(id="access-upper_menu", class="form-control add-id") }}
          </div>
        </div>
      </fieldset>
      <fieldset class="section">
        <legend align="center" class="section">
          Endpoints Access
        </legend>
        <div class="form-group">
          <label>GET Requests</label>
          <div class="form-group">
            {{ form.get_requests(id="access-get_requests", class="form-control add-id")
            }}
          </div>
          <label>POST Requests</label>
          <div class="form-group">
            {{ form.post_requests(id="access-post_requests", class="form-control
            add-id") }}
          </div>
        </div>
      </fieldset>
      <fieldset class="section">
        <legend align="center" class="section">
          Model Access Rights
        </legend>
        <div class="form-group">
          <table
            class="table table-striped table-bordered dt-responsive nowrap"
            cellspacing="0"
            width="100%"
          >
            <thead>
              <tr>
                <th>Model</th>
                <th>Instances</th>
                <th style="width: 25%;">Access Rights</th>
              </tr>
            </thead>
            <tbody>
              {% for model in form.models %}
              <tr>
                <td>
                  {{ model.capitalize() }}
                </td>
                <td>
                  {{ form[model](id="access-" + model, class="form-control add-id",
                  style="width:100%") }}
                </td>
                <td>
                  {{ form[model + "_access"](id="access-" + model + "_access",
                  class="form-control add-id no-search", **{"data-width": "200px"}) }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </fieldset>
      <center>
        <button
          type="button"
          class="btn btn-success btn-id add-id"
          value="eNMS.base.processData"
        >
          Save
        </button>
      </center>
    </div>
  </form>
</div>
