<div class="modal-body">
  <form
    id="edit-pool-form"
    class="form-horizontal form-label-left add-id"
    method="post"
    autocomplete="off"
  >
    {{ form.id(id='pool-id', class="add-id") }} {{ form.hidden_tag() }}
    <div class="form-group">
      <label>Name</label>
      <div class="form-group">
        {{ form.name(id="pool-name", class="form-control required add-id",
        placeholder="Name") }}
      </div>
      <br />
      <div class="x_title">
        <h3>Device properties</h3>
      </div>
      <table
        class="table table-striped table-bordered dt-responsive nowrap"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th>Model</th>
            <th>Instances</th>
            <th style="width: 25%;">Access Rights</th>
          </tr>
        </thead>
        <tbody>
          {% for model in form.models %}
          <tr>
            <td>
              {{ model.capitalize() }}
            </td>
            <td>
              {{ form[model](id="access-" + model, class="form-control add-id",
              style="width:100%") }}
            </td>
            <td>
              {{ form[model + "_access"](id="access-" + model + "_access",
              class="form-control add-id no-search", **{"data-width": "200px"}) }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <center>
        <button
          type="button"
          class="btn btn-success btn-id add-id"
          value="eNMS.base.processData"
        >
          Save
        </button>
      </center>
    </div>
  </form>
</div>
