<div class="modal-body">
  <form
    id="access-form"
    class="form-horizontal form-label-left add-id"
    method="post"
    autocomplete="off"
  >
    {{ form.id(id='access-id', class="add-id") }} {{ form.hidden_tag() }}
    <div class="form-group">
      <label>Name</label>
      <div class="form-">
        {{ form.name(id="access-name", class="form-control required add-id",
        placeholder="Name") }}
      </div>
      <label>Description</label>
      <div class="form-group">
        {{ form.description(id="access-description", class="form-control required
        add-id", placeholder="Description") }}
      </div>
      <fieldset class="section">
        <legend align="center" class="section">
          User Interface Access
        </legend>
        <div class="form-group">
          <label>Sections</label>
          <div class="form-group">
            {{ form.menu(id="access-menu", class="form-control add-id") }}
          </div>
          <label>Pages</label>
          <div class="form-group">
            {{ form.pages(id="access-pages", class="form-control add-id") }}
          </div>
        </div>
      </fieldset>
      <fieldset class="section">
        <legend align="center" class="section">
          Endpoints Access
        </legend>
        <div class="form-group">
          <label>GET Requests</label>
          <div class="form-group">
            {{ form.get_requests(id="access-get_requests", class="form-control add-id")
            }}
          </div>
          <label>POST Requests</label>
          <div class="form-group">
            {{ form.post_requests(id="access-post_requests", class="form-control
            add-id") }}
          </div>
          <label>DELETE Requests</label>
          <div class="form-group">
            {{ form.delete_requests(id="access-delete_requests", class="form-control
            add-id") }}
          </div>
        </div>
      </fieldset>
      <center>
        <button
          type="button"
          class="btn btn-primary btn-id add-id"
          value="eNMS.base.resetForm"
        >
          Reset
        </button>
        <button
          type="button"
          class="btn btn-success btn-id add-id"
          value="eNMS.base.processData"
        >
          Save
        </button>
      </center>
    </div>
  </form>
</div>
