<form
  id="add-services-form"
  class="form-horizontal form-label-left"
  method="post"
  autocomplete="off"
  onkeypress="return event.keyCode != 13;"
>
  {{ form.hidden_tag() }}
  <div class="modal-body">
    <center>
      <button
        type="button"
        class="btn btn-primary"
        onclick="eNMS.workflow.addServicesToWorkflow()"
        style="width: 100%;"
      >
        Add Services
      </button>
    </center>
    {{ form.mode(class="form-control required no-search") }}
    <br /><br />
    {{ form.search(id="add-services-search", class="form-control", placeholder="Search")
    }}
    <hr />
    <div id="service-tree" class="add-id" style="height: 500px;"></div>
    <input type="hidden" name="services" id="services" />
  </div>
</form>
