<form
  id="add-services-form"
  class="form-horizontal form-label-left"
  method="post"
  autocomplete="off"
>
  {{ form.csrf_token() }} {{ form.form_type() }}
  <div class="modal-body">
    <center>
      <button
        type="button"
        class="btn btn-primary"
        onclick="addServicesToWorkflow()"
        style="width:100%;"
      >
        Add Services
      </button>
    </center>
    {{ form.mode(class="form-control required no-search") }}
    <hr />
    <div id="service-tree" class="add-id" style="height: 500px"></div>
    <input type="hidden" name="services" id="services" />
  </div>
</form>
