<div class="modal-body">
  <div class="x_title">
    <h4 class="text-center">Miscellaneous</h4>
  </div>
  <br />
  <div class="btn-group-vertical" style="width:100%">
    <button
      class="btn btn-primary btn-file"
      onclick="eNMS.administration.getGitContent()"
    >
      Fetch Git Configurations
    </button>
    <button
      class="btn btn-primary btn-file"
      onclick="eNMS.administration.scanCluster()"
    >
      Scan Cluster Subnet
    </button>
  </div>
  <div class="x_title">
    <h4 class="text-center">Database</h4>
  </div>
  <br />

  <div class="btn-group-vertical" style="width:100%">
    <button
      class="btn btn-primary btn-file"
      onclick="eNMS.administration.showMigrationPanel()"
    >
      Migration
    </button>
    <button
      class="btn btn-primary btn-file"
      onclick="eNMS.base.openPanel({name: 'database_deletion'})"
    >
      Deletion
    </button>
    <button
      class="btn btn-primary btn-file"
      onclick="eNMS.administration.showImportServicePanel()"
    >
      Import Service
    </button>
  </div>
</div>
