<form id="parameters-form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
  {{ form.form_type() }}
  {% for title, properties in form.categories.items() %}
    <div class="x_title">
      <h4 class="text-center">{{ title }}</h4>
    </div><br>
    {% for property in properties %}
      {% set field, value = form[property], parameters[property] %}
      <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ field.label }}</label>
      <div class="col-md-8 col-sm-8 col-xs-12">
        {{ field(class="form-control", value=value, checked=value, placeholder=field.label.text) }}
      </div><br><br><br>
    {% endfor %}
  {% endfor %}
  <div class="form-group">
    <div class="col-md-e col-sm-9 col-xs-12 col-md-offset-5">
      <button type="button" class="btn btn-success" onclick="saveParameters()">Save Parameters</button>
    </div>
  </div>
</form>