<div class="modal-body">
  <button class="btn btn-default btn-file btn-id" value="clearConfigurations" style="width:100%;">
    Clear
  </button>
  <label class="control-label col-md-2 col-sm-2 col-xs-12">Display :</label>
  <div class="col-md-10 col-sm-10 col-xs-12">
    {{ form.display(class="form-control add-id") }}
  </div>
  <label class="control-label col-md-2 col-sm-2 col-xs-12">Compare With :</label>
  <div class="col-md-10 col-sm-10 col-xs-12">
    {{ form.compare_with(class="form-control add-id") }}
  </div>
  <hr><hr><hr><hr>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <pre id="configurations" class="add-id"></pre>
    </div>
  </div>
</div>