<form
  id="migration-form"
  data-parsley-validate
  class="form-horizontal form-label-left"
  method="post"
  autocomplete="off"
>
  {{ form.csrf_token() }} {{ form.form_type() }}
  <div class="modal-body">
    <div>
      <label>Empty Database before Import</label>
      {{ form.empty_database_before_import() }}<br /><br />
      <label>
        Directory pathname to use in HOME/projects/migrations :<br />
        Example: "10312018_backup"
      </label>
      <div class="form-group">
        <input
          class="form-control required"
          list="versions"
          id="name"
          name="name"
        />
        <datalist id="versions"></datalist>
      </div>
    </div>
    <div>
      <label>Object types to include in Import / Export :</label>
      <div class="form-group">
        {{ form.import_export_types(class="form-control required", size="10") }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-e col-sm-9 col-xs-12 col-md-offset-5">
        <button
          type="button"
          class="btn btn-success"
          onclick="migrationsImport()"
        >
          Import
        </button>
        <button
          type="button"
          class="btn btn-success"
          onclick="migrationsExport()"
        >
          Export
        </button>
      </div>
    </div>
  </div>
</form>
