<form
  id="debug-form"
  class="form-horizontal form-label-left"
  method="post"
  autocomplete="off"
>
  {{ form.hidden_tag() }}
  <div class="modal-body">
    <center>{{ form.snippets(id="debug-snippets") }}</center>
    <br /><br />
    <div class="col-md-6 col-sm-6 col-xs-12">
      <center>{{ form.code.label() }}</center>
      {{ form.code() }}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <center>{{ form.output.label() }}</center>
      {{ form.output(id="debug-output", style="width: 100%;") }}
    </div>
    <br /><br /><br /><br />
    <div class="form-group">
      <div class="col-md-e col-sm-9 col-xs-12 col-md-offset-5">
        <button
          type="button"
          class="btn btn-primary"
          onclick="eNMS.administration.runDebugCode()"
        >
          Run Code
        </button>
      </div>
    </div>
  </div>
</form>
