<div class="modal-body">
  <form
    id="connection-parameters-form"
    class="form-horizontal form-label-left add-id"
    method="post"
  >
    {{ form.hidden_tag() }}
    <label>Property used for the connection:</label>
    {{ form.address(class="form-control add-id") }}<br />
    <div class="item">
      <input
        id="accept-once"
        name="accept-once"
        class="add-id"
        type="checkbox"
        checked=""
      />
      <label>Accept only one client</label>
    </div>
    <div class="item">
      <input id="multiplexing" name="multiplexing" class="add-id" type="checkbox" />
      <label>Share session with all clients</label>
    </div>
    <div class="item">
      <input
        id="authentication"
        name="authentication"
        class="add-id"
        type="checkbox"
        checked=""
      />
      <label>Automatically authenticate</label>
    </div>
    <div class="x_title">
      <h4 class="text-center">Credentials</h4>
    </div>
    <div class="radio">
      <label>
        <input
          type="radio"
          value="device"
          id="device-credentials"
          name="credentials"
          class="add-id"
          checked
        />
        Authentication with device credentials
      </label>
    </div>
    <div class="radio">
      <label>
        <input
          type="radio"
          value="user"
          id="user-credentials"
          name="credentials"
          class="add-id"
        />
        Authentication with user credentials
      </label>
    </div>
    <div class="radio">
      <label>
        <input
          type="radio"
          value="custom"
          id="custom-credentials"
          name="credentials"
          class="add-id"
        />
        Authentication with custom credentials
      </label>
    </div>
    <br />
    <div id="credentials-fields" class="add-id" style="display: none;">
      <div class="form-group">
        {{ form.username(class="form-control", placeholder="Username") }}
      </div>
      <div class="form-group">
        {{ form.password(class="form-control", placeholder="Password") }}
      </div>
    </div>
    <div class="x_title">
      <h4 class="text-center">Protocol</h4>
    </div>
    <div class="radio">
      <label>
        <input
          type="radio"
          checked=""
          value="ssh"
          id="ssh"
          name="protocol"
          class="add-id"
        />
        SSH
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" value="telnet" id="telnet" name="protocol" class="add-id" />
        Telnet
      </label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <center>
    {% if settings["ssh"]["enabled"]["web"] %}
    <button
      type="button"
      class="btn btn-primary btn-id add-id"
      value="eNMS.inventory.webConnection"
    >
      Web Session
    </button>
    {% endif %} {% if settings["ssh"]["enabled"]["desktop"] %}
    <button
      type="button"
      class="btn btn-primary btn-id add-id"
      value="eNMS.inventory.desktopConnection"
    >
      Desktop Session
    </button>
    {% endif %}
  </center>
</div>
