<div class="modal-body">
  <nav
    class="navbar navbar-default nav-controls"
    role="navigation"
  >
    <input
      id="data-type"
      type="checkbox"
      class="add-id"
      data-onstyle="info"
      data-offstyle="primary"
    >
    <button
      type="button"
      class="btn btn-primary add-id btn-id"
      style="margin-left: 10px"
      value="eNMS.inventory.downloadNetworkData"
    >
      <span class="glyphicon glyphicon-download"></span>
    </button>
  </nav>
  <hr>
  <div id="content" class="add-id"></div>
</div>
