<form
  id="edit-event-form"
  class="form-horizontal form-label-left add-id"
  method="post"
  autocomplete="off"
>
  <div class="modal-body">
    {{ form.hidden_tag() }} {{ form.id(id='event-id', class="add-id") }}
    <label>Name</label>
    <div class="form-group">
      {{ form.name(id='event-name', class="form-control required add-id") }}
    </div>
    <label>Service</label>
    <div class="form-group">
      {{ form.service(id='event-service', class="form-control required add-id") }}
    </div>
    <br />
    <table
      class="table table-striped table-bordered dt-responsive nowrap"
      cellspacing="0"
      width="100%"
    >
      <thead>
        <tr>
          {% for property in form.properties %}
          <th>
            {{ names.get(property, property.replace("_", " ").capitalize() ) }}
          </th>
          {% endfor %}
          <th>Regex</th>
        </tr>
      </thead>
      <tbody>
        {% for property in form.properties %}
        <tr>
          <td>
            {{ names.get(property, property.replace("_", " ").capitalize() ) }}
          </td>
          <td>
            {{ form[property](id='event-' + property, class="form-control add-id") }}
          </td>
          <td>
            {{ form[property + '_regex'](id='event-' + property + '_regex',
            class="form-control add-id") }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <center>
      <button
        id="save"
        type="button"
        class="btn btn-success btn-id add-id"
        value="eNMS.base.processData"
      >
        Save
      </button>
    </center>
  </div>
</form>
