<nav
  class="navbar navbar-default nav-controls"
  role="navigation"
  style="margin-top: 5px;"
>
  <button
    type="button"
    class="btn btn-primary"
    onclick="eNMS.administration.createNewFolder()"
  >
    <span class="glyphicon glyphicon-folder-open"></span>
  </button>
  <button
    type="button"
    class="btn btn-primary"
    onclick="eNMS.administration.createNewFolder()"
  >
    <span class="glyphicon glyphicon-plus"></span>
  </button>
  <button
    type="button"
    class="btn btn-primary"
    onclick="eNMS.administration.createNewFolder()"
  >
    <span class="glyphicon glyphicon-refresh"></span>
  </button>
</nav>
<div id="files-tree" style="height: 500px;"></div>
