<div class="modal-body add-id" style="background-color: #1B1B1B; height: 100%">
  <center>
      <button
      type="button"
      class="btn btn-success btn-sm"
      onclick="showDeletionPanel({self.row_properties})"
      data-tooltip="Delete"
    >
      <span class="glyphicon glyphicon-ok"></span>
    </button>
  <button
    type="button"
    class="btn btn-info btn-sm"
    onclick="showDeletionPanel({self.row_properties})"
    data-tooltip="Delete"
  >
    <span class="glyphicon glyphicon-download"></span>
  </button>
</center>
  <div id="file-content" class="add-id" style="height: 100%"></div>
</div>
