<form
  id="{{ form_type }}-form"
  class="form-horizontal form-label-left"
  method="post"
  autocomplete="off"
>
  <div class="modal-body">
    {{ form.csrf_token() }} {{ form.form_type() }}
    <label>Match Condition</label>
    <div class="form-group">
      {{ form.operator(id="operator", class="form-control required") }}
    </div>
    <table
      class="table table-striped table-bordered dt-responsive nowrap"
      cellspacing="0"
      width="100%"
    >
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
          <th style="width: 25%">Match</th>
        </tr>
      </thead>
      <tbody>
        {% for property in form.properties %} {% set id =
        "{}-{}".format(form_type, property) %}
        <tr>
          <td>
            {{ names.get(property, property.replace("_", " ")).capitalize() }}
          </td>
          <td>
            {{ form[property](id=id, class="form-control", style="width:100%;")
            }}
          </td>
          <td>
            {{ form[property + "_filter"](id=id + "_filter",
            class="form-control no-search") }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <center>
    <button
      type="button"
      class="btn btn-success"
      onclick="filter('{{ form_type.split('_')[0] }}')"
    >
      Save
    </button>
  </center>
</form>
