<form id="filtering-form" class="add-type">
  <div class="modal-body">
    <table
      class="table table-striped table-bordered dt-responsive nowrap"
      cellspacing="0"
      width="100%"
    >
      <thead>
        <tr>
          <th style="width: 20%;">Property</th>
          <th>Value</th>
          <th style="width: 25%;">Match</th>
        </tr>
      </thead>
      <tbody>
        {% for property in form.properties %} {% set id = "{}-{}".format(form_type,
        property) %}
        <tr>
          <td>
            {{ names.get(property, property.replace("_", " ")).capitalize() }}
          </td>
          <td>
            {{ form[property](id=id, class="form-control search-relation",
            style="width:400px;") }}
          </td>
          <td>
            {{ form[property + "_filter"](id=id + "_filter", class="form-control
            no-search search-relation-dd") }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</form>
