<form id="edit-logrule-form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
  {{ form.id(id='logrule-id', class="add-id") }}
  <label>Name</label>
  <div class='form-group'>
    {{ form.name(id='logrule-name', class="form-control required") }}
  </div>
  <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
      <tr>
        {% for property in form.properties %}
          <th>{{ names[property] }}</th>
        {% endfor %}
        <th>Regex</th>
      </tr>
    </thead>
    <tbody>
      {% for property in form.properties %}
        <tr>
          <td>{{ names[property] }}</td>
          <td>{{ form[property](id='logrule-' + property, class="form-control") }}</td>
          <td>{{ form[property + '_regex'](id='logrule-' + property + '_regex', class="form-control") }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <label>Services or Workflows</label>
  <div class='form-group'>
    {{ form.jobs(id='logrule-jobs', class="form-control required", size=20) }}
  </div>
  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
      <button id="save" type="button" class="btn btn-success" onclick="processData('logrule')">Save</button>
    </div>
  </div>
</form>
