<form
  id="logs-form"
  data-parsley-validate
  class="form-horizontal form-label-left add-id"
  method="post"
>
  {{ form.csrf_token() }} {{ form.form_type() }}
  <div class="modal-body">
    {{ form.runtime(class="form-control add-id") }}
    <hr>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <pre id="log-text-${runtimeId}" class="add-id"
        style="height: 600px; border: 0; background-color: transparent; color: white;">
      </pre>
      </div>
    </div>
  </div>
</form>
