<form
  id="logs-form"
  data-parsley-validate
  class="form-horizontal form-label-left add-id"
  method="post"
  style="height: 600px; background-color: black;"
>
  {{ form.csrf_token() }} {{ form.form_type() }}
  <div class="modal-body">
    <div id="runtime-div" class="add-id">
    {{ form.runtime(class="form-control add-id") }}
    </div>
    {{ form.filter(class="form-control add-id", placeholder="Filter") }}
    <hr>
    <div class="row">
      <div>
        <pre id="log" class="add-id" style="border: 0; background-color: transparent; color: white;">
      </pre>
      </div>
    </div>
  </div>
</form>
