<form
  id="pool-objects-form"
  class="form-horizontal form-label-left add-id"
  method="post"
  autocomplete="off"
>
  {{ form.hidden_tag() }}
  <div class="modal-body">
    {% for model in form.models %}
    <label>{{ model|capitalize }}</label>
    <div class="form-group">
      {{ form[model](class="form-control add-id") }}
    </div>
    <label>Define {{ model }} from string</label>
    <div class="form-group">
      {{ form["string_" + model](class="form-control add-id") }}
    </div>
    {% endfor %}
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success btn-id add-id"
      value="eNMS.inventory.savePoolObjects"
    >
      Save
    </button>
  </div>
</form>
