<div class="modal-body">
  <form
    id="edit-pool-form"
    class="form-horizontal form-label-left add-id"
    method="post"
    autocomplete="off"
  >
    {{ form.id(id='pool-id', class="add-id") }} {{ form.hidden_tag() }}
    <div class="form-group">
      <label>Name</label>
      <div class="form-group">
        {{ form.name(id="pool-name", class="form-control required add-id",
        placeholder="Name") }}
      </div>
      <fieldset>
        <div class="item">
          {{ form.public(id="pool-public", class="add-id") }}
          <label>Public</label>
        </div>
      </fieldset>
      <label>Description</label>
      <div class="form-group">
        {{ form.description(id="pool-description", class="form-control add-id",
        placeholder="Description") }}
      </div>
      <label>Longitude</label>
      <div class="form-group">
        {{ form.longitude(id="pool-longitude", class="form-control add-id",
        placeholder="Longitude") }}
      </div>
      <label>Latitude</label>
      <div class="form-group">
        {{ form.latitude(id="pool-latitude", class="form-control add-id",
        placeholder="Latitude") }}
      </div>
      <label>Type of match</label>
      <div class="form-group">
        {{ form.operator(id="pool-operator", class="form-control required add-id") }}
      </div>
      <fieldset>
        <div class="item">
          {{ form.manually_defined(id="pool-manually_defined", class="add-id") }}
          <label>Manually defined (will not be automatically updated)</label>
        </div>
      </fieldset>
      <br />
      <div class="x_title">
        <h3>Device properties</h3>
      </div>
      <table
        class="table table-striped table-bordered dt-responsive nowrap"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
            <th style="width: 25%;">Match</th>
          </tr>
        </thead>
        <tbody>
          {% for property in form.device_properties %}
          <tr>
            <td>
              {{ names.get(property, property.replace("_", " ").capitalize() ) }}
            </td>
            <td>
              {{ form['device_' + property](id="pool-" + 'device_' + property,
              class="form-control add-id") }}
            </td>
            <td>
              {{ form['device_' + property + '_match'](id="pool-" +'device_' + property
              + '_match', class="form-control add-id") }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="x_title">
        <h3>Link properties</h3>
      </div>
      <table
        class="table table-striped table-bordered dt-responsive nowrap"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
            <th style="width: 25%;">Match</th>
          </tr>
        </thead>
        <tbody>
          {% for property in form.link_properties %}
          <tr>
            <td>
              {{ names.get(property, property.replace("_", " ").capitalize() ) }}
            </td>
            <td>
              {{ form['link_' + property](id="pool-" + 'link_' + property,
              class="form-control add-id") }}
            </td>
            <td>
              {{ form['link_' + property + '_match'](id="pool-" +'link_' + property +
              '_match', class="form-control add-id") }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="x_title">
        <h3>Custom Properties</h3>
      </div>
      <table
        class="table table-striped table-bordered dt-responsive nowrap"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th>Custom Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for property, values in form.custom_properties.items() %}
          <tr>
            <td>
              {{ values["pretty_name"] }}
            </td>
            <td>
              {{ form[property](id="pool-" + property, class="form-control add-id") }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <center>
        <button
          type="button"
          class="btn btn-success btn-id add-id"
          value="eNMS.base.processData"
        >
          Save
        </button>
      </center>
    </div>
  </form>
</div>
