<form id="pool-objects-form" data-parsley-validate class="form-horizontal form-label-left add-id" method="post" autocomplete="off">
  {{ form.list_fields() }}
  <div class="modal-body">
    <label>Devices</label>
    <div class='form-group'>
      {{ form.devices(class="form-control add-id", size=10) }}
    </div>
    <label>Links</label>
    <div class='form-group'>
      {{ form.links(class="form-control add-id", size=10) }}
    </div>
  </div>
  <div class="modal-footer">
    <button id="pool-objects-button" type="button" class="btn btn-success btn-id add-id" value="savePoolObjects">Save</button>
  </div>
</form>