<form
  id="pool-objects-form"
  class="form-horizontal form-label-left add-id"
  method="post"
  autocomplete="off"
>
  {{ form.hidden_tag() }}
  <div class="modal-body">
    <label>Devices</label>
    <div class="form-group">
      {{ form.devices(class="form-control add-id") }}
    </div>
    <label>Links</label>
    <div class="form-group">
      {{ form.links(class="form-control add-id") }}
    </div>
    <label>Define devices from string</label>
    <div class="form-group">
      {{ form.string_devices(class="form-control add-id") }}
    </div>
    <label>Define links from string</label>
    <div class="form-group">
      {{ form.string_links(class="form-control add-id") }}
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success btn-id add-id"
      value="eNMS.inventory.savePoolObjects"
    >
      Save
    </button>
  </div>
</form>
