{% from 'macros.html' import inline_field, block_field %}
{% set filtering = form_type != "pool_filtering" %}
<div class="modal-body">
  <form
    id="pool-form"
    class="form-horizontal form-label-left add-id"
    method="post"
    autocomplete="off"
  >
    <ul class="nav nav-tabs bar_tabs">
      <li class="nav-item active">
        <a class="nav-link href-id" data-toggle="tab" href="#common-properties"
          >Properties</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link href-id" data-toggle="tab" href="#device-properties"
          >Device Properties</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link href-id" data-toggle="tab" href="#link-properties"
          >Link Properties</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link href-id" data-toggle="tab" href="#custom-properties"
          >Custom Properties</a
        >
      </li>
      <li class="nav-item add-id" id="rbac-nav">
        <a class="nav-link href-id" data-toggle="tab" href="#rbac-properties"
          >Access Control</a
        >
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active add-id" id="common-properties">
        {{ form.id(id='pool-id', class="add-id") }} {{ form.hidden_tag() }}
        <div class="form-group">
          <label>Name</label>
          <div class="form-group">
            {{ form.name(id="pool-name", class="form-control required add-id",
            placeholder="Name") }}
          </div>
          <label>Creator</label>
          <div class="form-group">
            {{ form.creator(id="pool-creator", class="form-control required add-id") }}
          </div>
          <label>Description</label>
          <div class="form-group">
            {{ form.description(id="pool-description", class="form-control add-id",
            placeholder="Description") }}
          </div>
          <fieldset>
            <div class="item">
              {{ form.admin_only(id="pool-admin_only", class="add-id") }}
              <label>Admin only (pool is only visible to admin users)</label>
            </div>
          </fieldset>
          <fieldset>
            <div class="item">
              {{ form.manually_defined(id="pool-manually_defined", class="add-id") }}
              <label>Manually defined (will not be automatically updated)</label>
            </div>
          </fieldset>
        </div>
      </div>
      {% for model in form.models %}
      <div class="tab-pane fade add-id" id="{{ model }}-properties">
        <table
          class="table table-striped table-bordered dt-responsive nowrap"
          cellspacing="0"
          width="100%"
        >
          <thead>
            <tr>
              <th>Property</th>
              <th>Value</th>
              {% if filtering %}
              <th style="width: 25%;">Match</th>
              <th style="width: 5%;">Invert</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for property in form[model + "_properties"] %} {% set property_name =
            "{}_{}".format(model, property) %}
            <tr>
              <td>
                {{ names.get(property, property.replace("_", " ").capitalize() ) }}
              </td>
              <td>
                {{ form[property_name](id="pool-" + property_name, class="form-control
                add-id") }}
              </td>
              {% if filtering %}
              <td>
                {{ form[property_name + '_match'](id="pool-" + property_name + '_match',
                class="form-control add-id no-search") }}
              </td>
              <td>
                <center>
                  {{ form[property_name + '_invert'](id="pool-" + property_name +
                  '_invert', class="form-control add-id", style="width: 30px; height:
                  25px") }}
                </center>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
      <div class="tab-pane fade add-id" id="custom-properties">
        <div class="x_title">
          <h3>Custom Properties</h3>
        </div>
        <table
          class="table table-striped table-bordered dt-responsive nowrap"
          cellspacing="0"
          width="100%"
        >
          <thead>
            <tr>
              <th>Custom Property</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {% for property, values in form.custom_properties.items() %}
            <tr>
              <td>
                {{ values["pretty_name"] }}
              </td>
              <td>
                {{ form[property](id="pool-" + property, class="form-control add-id") }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade add-id" id="rbac-properties">
        {{ block_field(form, "owners") }} {% for property in
        form.rbac_properties %} {{ block_field(form, property) }} {% endfor %}
      </div>
    </div>
  </form>
</div>
