<form
  id="run_service-form"
  class="form-horizontal form-label-left add-id"
  method="post"
>
  {{ form.hidden_tag() }}
  <input type="hidden" name="targets" id="targets" class="add-id" />
  <input type="hidden" name="type" id="targets-type" class="add-id" />
  <div class="modal-body">
    {{ form.service(id="run_service-service", class="form-control add-id") }}
    <br /><br />
    <center>
      <button
        type="button"
        class="btn btn-success add-id btn-id"
        value="eNMS.automation.runServicesOnTargets"
      >
        Run
      </button>
    </center>
  </div>
</form>
