<form id="edit-service-form" data-parsley-validate id="form" class="form-horizontal form-label-left" method="post" autocomplete="off">
  <div class="modal-body">
    <div id="service-wizard" class="form_wizard wizard_horizontal add-id">
      <ul class="wizard_steps">
        <li>
          <a href="#step-1">
            <span class="step_no">1</span>
            <span class="step_descr">Step 1<br>
              <small>General</small>
            </span>
          </a>
        </li>
        <li>
          <a href="#step-2">
            <span class="step_no">2</span>
            <span class="step_descr">Step 2<br>
              <small>Advanced</small>
            </span>
          </a>
        </li>
        <li>
          <a href="#step-3">
            <span class="step_no">3</span>
            <span class="step_descr">Step 3<br>
              <small>Targets</small>
            </span>
          </a>
        </li>
        <li>
          <a href="#step-4">
            <span class="step_no">4</span>
            <span class="step_descr">Step 4<br>
              <small>Specific</small>
            </span>
          </a>
        </li>
      </ul>
      <div id="step-1">
        <div style="width: 100%; height: 50%;">
          <label>Type of Service</label>
          <div class='form-group'>
            <select class="form-control add-id" id="service-type"></select>
          </div>
          {% for field in form %}
            {% if field.widget.input_type == 'hidden' %}
              {{ field(id='service-' + field.name) }}
            {% endif %}
          {% endfor %}
          <label><label for="name">Name</label></label>
          <div class='form-group'>
            {{ form.name(id='service-name', class="form-control add-id required") }}
          </div>
          <label><label for="description">Description</label></label>
          <div class='form-group'>
            {{ form.description(id='service-description', class="form-control add-id") }}
          </div>
          <label><label for="vendor">Vendor</label></label>
          <div class='form-group'>
            {{ form.vendor(id='service-vendor', class="form-control add-id") }}
          </div>
          <label><label for="operating_system">Operating System</label></label>
          <div class='form-group'>
            {{ form.operating_system(id='service-operating_system', class="form-control add-id") }}
          </div>
        </div>
      </div>
      <div id="step-2">
        <label><label for="number_of_retries">Number of retries</label></label>
        <div class='form-group'>
          {{ form.number_of_retries(id='service-number_of_retries', class="form-control add-id") }}
        </div>
        <label><label for="time_between_retries">Time between retries (in seconds)</label></label>
        <div class='form-group'>
          {{ form.time_between_retries(id='service-time_between_retries', class="form-control add-id") }}
        </div>
        <fieldset>
          <div class="item">
            <input id="service-send_notification" name="send_notification" type="checkbox" value="y">
            <label>Send Notification</label>
          </div>
        </fieldset>
        <label><label for="send_notification_method">Send Notification Method</label></label>
        <div class='form-group'>
          {{ form.send_notification_method(id='service-send_notification_method', class="form-control add-id") }}
        </div>
        <fieldset>
          <div class="item">
            <input id="service-display_only_failed_nodes" name="display_only_failed_nodes" type="checkbox" value="y">
            <label>Display only failed nodes</label>
          </div>
        </fieldset>
        <label><label for="mail_recipient">Mail Recipients (separated by comma)</label></label>
        <div class='form-group'>
          {{ form.mail_recipient(id='service-mail_recipient', class="form-control add-id") }}
        </div>
        <label><label for="waiting_time">Waiting time (in seconds)</label></label>
        <div class='form-group'>
          {{ form.waiting_time(id='service-waiting_time', class="form-control add-id") }}
        </div>
        <fieldset>
          <div class="item">
            <input id="service-push_to_git" name="push_to_git" type="checkbox" value="y">
            <label>Push to git</label>
          </div>
        </fieldset>
      </div>
      <div id="step-3">
        <label><label for="devices">Devices</label></label>
        <div class='form-group'>
          {{ form.devices(id='service-devices', class="form-control add-id") }}
        </div>
        <label><label for="pools">Pools</label></label>
        <div class='form-group'>
          {{ form.pools(id='service-pools', class="form-control add-id") }}
        </div>
        <fieldset>
          <div class="item">
            <input id="service-multiprocessing" name="multiprocessing" type="checkbox" value="y">
            <label>Multiprocessing</label>
          </div>
        </fieldset>
        <label><label for="max_processes">Maximum number of processes</label></label>
        <div class='form-group'>
          {{ form.max_processes(id='service-max_processes', class="form-control add-id") }}
        </div>
        <label><label for="credentials">Credentials</label></label>
        <div class='form-group'>
          {{ form.credentials(id='service-credentials', class="form-control add-id") }}
        </div>
      </div>
      <div id="step-4">
        <div id="service-custom-form" class="add-id"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <center>
      <button id="save" type="button" class="btn btn-success pull-right add-id btn-id" value="processData">Save</button>
    <center>
  </div>
</form>
