<form
  id="edit-{{ form_type }}-form"
  class="form-horizontal form-label-left add-id"
  method="post"
  autocomplete="off"
>
  {{ form.id(id=form_type + '-id', class="add-id") }} {{ form.hidden_tag() }}
  <input type="hidden" id="copy" name="copy" class="add-id" />
  <div style="padding: 20px;">
    <center>
      <button
        id="{{ form_type }}-btn"
        type="button"
        style="width: 15%;"
        class="btn btn-success add-id btn-id"
        value="eNMS.base.processData"
      >
        Save
      </button>
    </center>
    <br />
    <div id="{{ form_type }}-wizard" class="form_wizard wizard_horizontal add-id">
      <ul class="wizard_steps">
        <li>
          <a href="#step-1">
            <span class="step_no">1</span>
            <span class="step_descr"
              >Step 1<br />
              <small>General</small>
            </span>
          </a>
        </li>
        <li>
          <a href="#step-2">
            <span class="step_no">2</span>
            <span class="step_descr"
              >Step 2<br />
              <small>Specific</small>
            </span>
          </a>
        </li>
        <li>
          <a href="#step-3">
            <span class="step_no">3</span>
            <span class="step_descr"
              >Step 3<br />
              <small>Targets</small>
            </span>
          </a>
        </li>
        <li>
          <a href="#step-4">
            <span class="step_no">4</span>
            <span class="step_descr"
              >Step 4<br />
              <small>Result</small>
            </span>
          </a>
        </li>
      </ul>
      <div id="step-1">
        <div
          class="accordion"
          id="accordion-step1"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="panel" style="border-color: #000; position: relative;">
            <a
              class="doc-link"
              style="position: absolute; top: 10px; right: 10px;"
              href="automation/services.html#main-parameters"
              target="_blank"
              ><i
                class="glyphicon glyphicon-info-sign fa-2x"
                style="cursor: pointer;"
              ></i
            ></a>
            <a
              class="panel-heading collapsed"
              role="tab"
              id="heading-step1"
              data-toggle="collapse"
              href="#collapse-step1"
              aria-expanded="false"
              aria-controls="collapse-step1"
            >
              <h4 class="panel-title" style="color: #000;">Main Parameters</h4>
            </a>
            <div
              id="collapse-step1"
              class="panel-collapse collapse in"
              role="tabpanel"
              aria-labelledby="heading-step1"
            >
              <div class="panel-body" style="background-color: #fafafa;">
                {{ form.scoped_name.label() }}
                <div class="form-group">
                  {{ form.scoped_name(id=form_type + '-scoped_name', class="form-control
                  readonly-when-run add-id required") }}
                </div>
                {{ form.name.label() }}
                <div class="form-group">
                  {{ form.name(id=form_type + '-name', class="form-control
                  readonly-when-run add-id required") }}
                </div>
                {{ form.type.label() }}
                <div class="form-group">
                  {{ form.type(id=form_type + '-class', class="form-control
                  readonly-when-run add-id") }}
                </div>
                <fieldset class="readonly-when-run">
                  <div class="item">
                    <input
                      id="{{ form_type }}-public"
                      name="public"
                      class="add-id"
                      type="checkbox"
                      value="y"
                    />
                    <label>Public</label>
                  </div>
                </fieldset>
                <fieldset class="readonly-when-run">
                  <div class="item">
                    <input
                      id="{{ form_type }}-shared"
                      name="shared"
                      class="add-id"
                      type="checkbox"
                      value="y"
                    />
                    <label>Shared</label>
                  </div>
                </fieldset>
                <label for="workflows">Workflows</label>
                <div class="form-group">
                  {{ form.workflows(id=form_type + '-workflows', class="form-control
                  add-id") }}
                </div>
                {{ form.description.label() }}
                <div class="form-group">
                  {{ form.description(id=form_type + '-description', class="form-control
                  readonly-when-run add-id") }}
                </div>
                {{ form.vendor.label() }}
                <div class="form-group">
                  {{ form.vendor(id=form_type + '-vendor', class="form-control
                  readonly-when-run add-id") }}
                </div>
                {{ form.operating_system.label() }}
                <div class="form-group">
                  {{ form.operating_system(id=form_type + '-operating_system',
                  class="form-control readonly-when-run add-id") }}
                </div>
                {{ form.initial_payload.label(help="common/initial_payload") }}
                <div class="form-group">
                  {{ form.initial_payload(id=form_type + '-initial_payload',
                  class="form-control add-id") }}
                </div>
                {{ form.number_of_retries.label() }}
                <div class="form-group">
                  {{ form.number_of_retries(id=form_type + '-number_of_retries',
                  class="form-control add-id") }}
                </div>
                {{ form.time_between_retries.label() }}
                <div class="form-group">
                  {{ form.time_between_retries(id=form_type + '-time_between_retries',
                  class="form-control add-id") }}
                </div>
                <label>Maximum number of retries (loop prevention mechanism)</label>
                <div class="form-group">
                  {{ form.max_number_of_retries(id=form_type + '-max_number_of_retries',
                  class="form-control add-id") }}
                </div>
                {{ form.log_level.label() }}
                <div class="form-group">
                  {{ form.log_level(id=form_type + '-log_level', class="form-control
                  add-id") }}
                </div>
              </div>
            </div>
          </div>
          <div class="panel" style="border-color: #000; position: relative;">
            <a
              class="doc-link"
              style="position: absolute; top: 10px; right: 10px;"
              href="automation/services.html#workflow-parameters"
              target="_blank"
              ><i
                class="glyphicon glyphicon-info-sign fa-2x"
                style="cursor: pointer;"
              ></i
            ></a>
            <a
              class="panel-heading collapsed"
              role="tab"
              id="heading-step1-2"
              data-toggle="collapse"
              href="#collapse-step1-2"
              aria-expanded="false"
              aria-controls="collapse-step1-2"
            >
              <h4 class="panel-title" style="color: #000;">
                Workflow Parameters
              </h4>
            </a>
            <div
              id="collapse-step1-2"
              class="panel-collapse collapse in"
              role="tabpanel"
              aria-labelledby="heading-step1-2"
            >
              <div class="panel-body" style="background-color: #fafafa;">
                {{ form.preprocessing.label(help="common/preprocessing") }}
                <div class="form-group">
                  {{ form.preprocessing(id=form_type + '-preprocessing',
                  class="form-control add-id") }}
                </div>
                <fieldset>
                  <div class="item">
                    <input
                      id="{{ form_type }}-skip"
                      name="skip"
                      class="readonly-when-run add-id"
                      type="checkbox"
                      value="y"
                    />
                    {{ form.skip.label() }}
                  </div>
                </fieldset>
                {{ form.skip_query.label(help="common/skip_query") }}
                <div class="form-group">
                  {{ form.skip_query(id=form_type + '-skip_query', class="form-control
                  readonly-when-run add-id") }}
                </div>
                {{ form.skip_value.label() }}
                <div class="form-group">
                  {{ form.skip_value(id=form_type + '-skip_value', class="form-control
                  readonly-when-run add-id") }}
                </div>
                {{ form.maximum_runs.label() }}
                <div class="form-group">
                  {{ form.maximum_runs(id=form_type + '-maximum_runs',
                  class="form-control readonly-when-run add-id") }}
                </div>
                {{ form.waiting_time.label() }}
                <div class="form-group">
                  {{ form.waiting_time(id=form_type + '-waiting_time',
                  class="form-control readonly-when-run add-id") }}
                </div>
              </div>
            </div>
          </div>
          {% if form.custom_properties %}
          <div class="panel" style="border-color: #000; position: relative;">
            <a
              class="doc-link"
              style="position: absolute; top: 10px; right: 10px;"
              href="automation/services.html#workflow-parameters"
              target="_blank"
              ><i
                class="glyphicon glyphicon-info-sign fa-2x"
                style="cursor: pointer;"
              ></i
            ></a>
            <a
              class="panel-heading collapsed"
              role="tab"
              id="heading-step1-3"
              data-toggle="collapse"
              href="#collapse-step1-3"
              aria-expanded="false"
              aria-controls="collapse-step1-3"
            >
              <h4 class="panel-title" style="color: #000;">
                Custom Properties
              </h4>
            </a>
            <div
              id="collapse-step1-3"
              class="panel-collapse collapse in"
              role="tabpanel"
              aria-labelledby="heading-step1-3"
            >
              <div class="panel-body" style="background-color: #fafafa;">
                {% for property, values in form.custom_properties.items() %} {% set
                label %} {% if "render_kw" in values and "help" in
                values.get("render_kw", {}) %}
                <label help="{{ values['render_kw']['help'] }}" for="{{ property }}">
                  {{ values["pretty_name"] }}
                </label>
                {% else %}
                <label>{{ values["pretty_name"] }}</label>
                {% endif %} {% endset %} {% if values["type"] == "boolean" %}
                <fieldset>
                  <div class="item">
                    {{ form[property](id="{}-{}".format(form_type, property),
                    class="add-id", checked=form[property].default) }} {{ label }}
                  </div>
                </fieldset>
                {% else %} {{ label }}
                <div class="form-group">
                  {{ form[property](id="{}-{}".format(form_type, property),
                  class="form-control add-id") }}
                </div>
                {% endif %} {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div id="step-2">
        {% set groups = form.groups or {"Parameters": {"commands": form.service_fields,
        "default": "expanded"}} %}
        <div
          class="accordion"
          id="accordion"
          role="tablist"
          aria-multiselectable="true"
        >
          {% for group_name, group in groups.items() %} {% set group_id = range(10000) |
          random %} {% set position = "in" if group.default == "expanded" else "" %}
          <div class="panel" style="border-color: #000; position: relative;">
            <a
              class="doc-link"
              style="position: absolute; top: 10px; right: 10px;"
              href="automation/services.html#section-specific"
              target="_blank"
              ><i
                class="glyphicon glyphicon-info-sign fa-2x"
                style="cursor: pointer;"
              ></i
            ></a>
            <a
              class="panel-heading collapsed"
              role="tab"
              id="heading-{{ group_id }}"
              data-toggle="collapse"
              href="#collapse-{{ group_id }}"
              aria-expanded="false"
              aria-controls="collapse-{{ group_id }}"
            >
              <h4 class="panel-title" style="color: #000;">{{ group_name }}</h4>
            </a>
            <div
              id="collapse-{{ group_id }}"
              class="panel-collapse collapse {{ position }}"
              role="tabpanel"
              aria-labelledby="heading-{{ group_id }}"
            >
              <div class="panel-body" style="background-color: #fafafa;">
                {% for field_name in group.commands %} {% set label %} {% if
                form[field_name].render_kw and "help" in form[field_name].render_kw %}
                <label
                  help="{{ form[field_name].render_kw['help'] }}"
                  for="{{ field_name }}"
                >
                  {{ form[field_name].label }}
                </label>
                {% else %}
                <label>{{ form[field_name].label }}</label>
                {% endif %} {% endset %} {% if field_name == "run_method" or field_name
                == "form_type" %} {% elif form[field_name].type == "BooleanField" %}
                <fieldset>
                  <div class="item">
                    {% if form[field_name].default %} {{
                    form[field_name](id="{}-{}".format(form_type, field_name),
                    class="add-id", checked=True) }} {% else %} {{
                    form[field_name](id="{}-{}".format(form_type, field_name),
                    class="add-id") }} {% endif %} {{ label }}
                  </div>
                </fieldset>
                {% elif form[field_name].type == "FieldList" %} {% for entry in
                form[field_name] %}
                <fieldset>
                  <legend style="font-weight: bold;">
                    {{ field_name | capitalize() }} {{ loop.index }}
                  </legend>
                  {% for l in entry %} {% if l.widget.input_type != 'hidden' %}
                  <label>{{ l.label }}</label>
                  <div class="form-group">
                    {{ l(id="{}-{}".format(form_type, l.name), class="form-control
                    add-id") }}
                  </div>
                  {% endif %} {% endfor %}
                </fieldset>
                {% endfor %} {% else %} {{ label }}
                <div class="form-group">
                  {{ form[field_name](id="{}-{}".format(form_type, field_name),
                  class="form-control add-id") }}
                </div>
                {% endif %} {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div id="step-3">
        <div
          class="accordion"
          id="accordion-step3"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="panel" style="border-color: #000; position: relative;">
            <a
              class="doc-link"
              style="position: absolute; top: 10px; right: 10px;"
              href="automation/services.html#devices"
              target="_blank"
              ><i
                class="glyphicon glyphicon-info-sign fa-2x"
                style="cursor: pointer;"
              ></i
            ></a>
            <a
              class="panel-heading collapsed"
              role="tab"
              id="heading-step3"
              data-toggle="collapse"
              href="#collapse-step3"
              aria-expanded="false"
              aria-controls="collapse-step3"
            >
              <h4 class="panel-title" style="color: #000;">Devices</h4>
            </a>
            <div
              id="collapse-step3"
              class="panel-collapse collapse in"
              role="tabpanel"
              aria-labelledby="heading-step3"
            >
              <div class="panel-body" style="background-color: #fafafa;">
                {{ form.run_method.label() }}
                <div class="form-group">
                  {{ form.run_method(id=form_type + '-run_method', class="form-control
                  add-id no-search") }}
                </div>
                {{ form.devices.label() }}
                <div class="form-group">
                  {{ form.devices(id=form_type + '-devices', class="form-control
                  add-id") }}
                </div>
                {{ form.pools.label() }}
                <div class="form-group">
                  {{ form.pools(id=form_type + '-pools', class="form-control add-id") }}
                </div>
                <fieldset>
                  <div class="item">
                    <input
                      id="{{ form_type }}-update_pools"
                      name="update_pools"
                      type="checkbox"
                      class="add-id"
                      value="y"
                    />
                    <label>Update pools before running</label>
                  </div>
                </fieldset>
                <label>Device Query (define targets from a python query)</label>
                {{ form.device_query.label(help="common/device_query") }}
                <div class="form-group">
                  {{ form.device_query(id=form_type + '-device_query',
                  class="form-control add-id") }}
                </div>
                {{ form.device_query_property.label() }}
                <div class="form-group">
                  {{ form.device_query_property(id=form_type + '-device_query_property',
                  class="form-control add-id") }}
                </div>
                <fieldset>
                  <div class="item">
                    <input
                      id="{{ form_type }}-multiprocessing"
                      name="multiprocessing"
                      class="add-id"
                      type="checkbox"
                      value="y"
                    />
                    {{ form.multiprocessing.label() }}
                  </div>
                </fieldset>
                {{ form.max_processes.label() }}
                <div class="form-group">
                  {{ form.max_processes(id=form_type + '-max_processes',
                  class="form-control add-id") }}
                </div>
              </div>
            </div>
          </div>
          <div class="panel" style="border-color: #000; position: relative;">
            <a
              class="doc-link"
              style="position: absolute; top: 10px; right: 10px;"
              href="automation/services.html#iteration"
              target="_blank"
              ><i
                class="glyphicon glyphicon-info-sign fa-2x"
                style="cursor: pointer;"
              ></i
            ></a>
            <a
              class="panel-heading collapsed"
              role="tab"
              id="heading-step3-2"
              data-toggle="collapse"
              href="#collapse-step3-2"
              aria-expanded="false"
              aria-controls="collapse-step3-2"
            >
              <h4 class="panel-title" style="color: #000;">
                Iteration
              </h4>
            </a>
            <div
              id="collapse-step3-2"
              class="panel-collapse collapse in"
              role="tabpanel"
              aria-labelledby="heading-step3-2"
            >
              <div class="panel-body" style="background-color: #fafafa;">
                {{ form.iteration_devices.label(help="common/iteration_devices") }}
                <div class="form-group">
                  {{ form.iteration_devices(id=form_type + '-iteration_devices',
                  class="form-control add-id") }}
                </div>
                {{ form.iteration_devices_property.label() }}
                <div class="form-group">
                  {{ form.iteration_devices_property(id=form_type +
                  '-iteration_devices_property', class="form-control add-id") }}
                </div>
                {{ form.iteration_values.label(help="common/iteration_values") }}
                <div class="form-group">
                  {{ form.iteration_values(id=form_type + '-iteration_values',
                  class="form-control add-id") }}
                </div>
                {{ form.iteration_variable_name.label() }}
                <div class="form-group">
                  {{ form.iteration_variable_name(id=form_type +
                  '-iteration_variable_name', class="form-control add-id") }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="step-4">
        <div
          class="accordion"
          id="accordion-step4"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="panel" style="border-color: #000; position: relative;">
            <a
              class="doc-link"
              style="position: absolute; top: 10px; right: 10px;"
              href="automation/services.html#python-postprocessing"
              target="_blank"
              ><i
                class="glyphicon glyphicon-info-sign fa-2x"
                style="cursor: pointer;"
              ></i
            ></a>
            <a
              class="panel-heading collapsed"
              role="tab"
              id="heading-step4"
              data-toggle="collapse"
              href="#collapse-step4"
              aria-expanded="false"
              aria-controls="collapse-step4"
            >
              <h4 class="panel-title" style="color: #000;">
                Python Postprocessing
              </h4>
            </a>
            <div
              id="collapse-step4"
              class="panel-collapse collapse in"
              role="tabpanel"
              aria-labelledby="heading-step4"
            >
              <div class="panel-body" style="background-color: #fafafa;">
                {{ form.postprocessing_mode.label() }}
                <div class="form-group">
                  {{ form.postprocessing_mode(id=form_type + '-postprocessing_mode',
                  class="form-control add-id") }}
                </div>
                {{ form.postprocessing.label(help="common/postprocessing") }}
                <div class="form-group">
                  {{ form.postprocessing(id=form_type + '-postprocessing',
                  class="form-control add-id") }}
                </div>
              </div>
            </div>
          </div>
          <div class="panel" style="border-color: #000; position: relative;">
            <a
              class="doc-link"
              style="position: absolute; top: 10px; right: 10px;"
              href="automation/services.html#validation"
              target="_blank"
              ><i
                class="glyphicon glyphicon-info-sign fa-2x"
                style="cursor: pointer;"
              ></i
            ></a>
            <a
              class="panel-heading collapsed"
              role="tab"
              id="heading-step4-2"
              data-toggle="collapse"
              href="#collapse-step4-2"
              aria-expanded="false"
              aria-controls="collapse-step4-2"
            >
              <h4 class="panel-title" style="color: #000;">
                Validation
              </h4>
            </a>
            <div
              id="collapse-step4-2"
              class="panel-collapse collapse in"
              role="tabpanel"
              aria-labelledby="heading-step4-2"
            >
              <div class="panel-body" style="background-color: #fafafa;">
                {{ form.validation_condition.label() }}
                <div class="form-group">
                  {{ form.validation_condition(id=form_type + '-validation_condition',
                  class="form-control add-id") }}
                </div>
                {{ form.conversion_method.label() }}
                <div class="form-group">
                  {{ form.conversion_method(id=form_type + '-conversion_method',
                  class="form-control add-id") }}
                </div>
                {{ form.validation_method.label() }}
                <div class="form-group">
                  {{ form.validation_method(id=form_type + '-validation_method',
                  class="form-control add-id") }}
                </div>
                {{ form.content_match.label() }}
                <div class="form-group">
                  {{ form.content_match(id=form_type + '-content_match',
                  class="form-control add-id") }}
                </div>
                <fieldset>
                  <div class="item">
                    <input
                      id="{{ form_type }}-content_match_regex"
                      name="content_match_regex"
                      class="add-id"
                      type="checkbox"
                      value="y"
                    />
                    <label>"Content Match" is a regular expression</label>
                  </div>
                </fieldset>
                {{ form.dict_match.label() }}
                <div class="form-group">
                  {{ form.dict_match(id=form_type + '-dict_match', class="form-control
                  add-id") }}
                </div>
                <fieldset>
                  <div class="item">
                    <input
                      id="{{ form_type }}-delete_spaces_before_matching"
                      name="delete_spaces_before_matching"
                      class="add-id"
                      type="checkbox"
                      value="y"
                    />
                    {{ form.delete_spaces_before_matching.label() }}
                  </div>
                </fieldset>
                <fieldset>
                  <div class="item">
                    <input
                      id="{{ form_type }}-negative_logic"
                      name="negative_logic"
                      class="add-id"
                      type="checkbox"
                      value="y"
                    />
                    {{ form.negative_logic.label() }}
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          <div class="panel" style="border-color: #000; position: relative;">
            <a
              class="doc-link"
              style="position: absolute; top: 10px; right: 10px;"
              href="automation/services.html#notification"
              target="_blank"
              ><i
                class="glyphicon glyphicon-info-sign fa-2x"
                style="cursor: pointer;"
              ></i
            ></a>
            <a
              class="panel-heading collapsed"
              role="tab"
              id="heading-step4-3"
              data-toggle="collapse"
              href="#collapse-step4-3"
              aria-expanded="false"
              aria-controls="collapse-step4-3"
            >
              <h4 class="panel-title" style="color: #000;">
                Notification
              </h4>
            </a>
            <div
              id="collapse-step4-3"
              class="panel-collapse collapse in"
              role="tabpanel"
              aria-labelledby="heading-step4-3"
            >
              <div class="panel-body" style="background-color: #fafafa;">
                <fieldset>
                  <div class="item">
                    <input
                      id="{{ form_type }}-send_notification"
                      name="send_notification"
                      type="checkbox"
                      class="add-id"
                      value="y"
                    />
                    {{ form.send_notification.label() }}
                  </div>
                </fieldset>
                <label>Send Notification Method</label>
                <div class="form-group">
                  {{ form.send_notification_method(id=form_type +
                  '-send_notification_method', class="form-control add-id") }}
                </div>
                {{ form.notification_header.label() }}
                <div class="form-group">
                  {{ form.notification_header(id=form_type + '-notification_header',
                  class="form-control add-id") }}
                </div>
                <fieldset>
                  <div class="item">
                    <input
                      id="{{ form_type }}-include_device_results"
                      name="include_device_results"
                      class="add-id"
                      type="checkbox"
                      value="y"
                    />
                    {{ form.include_device_results.label() }}
                  </div>
                </fieldset>
                <fieldset>
                  <div class="item">
                    <input
                      id="{{ form_type }}-include_link_in_summary"
                      name="include_link_in_summary"
                      class="add-id"
                      type="checkbox"
                      value="y"
                    />
                    {{ form.include_link_in_summary.label() }}
                  </div>
                </fieldset>
                {{ form.mail_recipient.label() }}
                <div class="form-group">
                  {{ form.mail_recipient(id=form_type + '-mail_recipient',
                  class="form-control add-id") }}
                </div>
                {{ form.reply_to.label() }}
                <div class="form-group">
                  {{ form.reply_to(id=form_type + '-reply_to', class="form-control
                  add-id") }}
                </div>
                <fieldset>
                  <div class="item">
                    <input
                      id="{{ form_type }}-display_only_failed_nodes"
                      name="display_only_failed_nodes"
                      class="add-id"
                      type="checkbox"
                      value="y"
                    />
                    {{ form.display_only_failed_nodes.label() }}
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
