<form
  id="import-form"
  class="form-horizontal form-label-left"
  enctype="multipart/form-data"
  method="post"
  autocomplete="off"
>
  {{ form.hidden_tag() }}
  <div class="modal-body">
    <fieldset>
      <div class="item">
        {{ form.replace() }}
        <label>Replace on import</label>
      </div>
    </fieldset>
    <label class="btn btn-default btn-file" style="width: 100%;"
      >Import Network Topology
      <input
        id="file"
        name="file"
        style="visibility: hidden; display: none;"
        type="file"
      />
    </label>
  </div>
</form>
