<div class="modal-body">
  <div>
    <h4>Usage notes:</h4>
    <ul>
      <li>
        Drag a <b>service.tgz</b> file from your computer to the window below to start uploading the service data.
      </li>
      <li>The <i>X</i> icon on a file indicates a failure on the upload or import.</li>
      <li>
        The <i>Checkmark</i> icon on a file generally indicates success, but check the
        <b>Alerts</b> to confirm.
      </li>
      <li>Please check the <b>Alerts</b> for upload and import status details.</li>
    </ul>
  </div>
  <form id="dropzone-services" class="dropzone">
    {{ form.hidden_tag() }}
  </form>
</div>
