<form
  id="edit-workflow-form"
  data-parsley-validate
  class="form-horizontal form-label-left add-id"
  method="post"
  autocomplete="off"
>
  {{ form.csrf_token() }} {{ form.form_type() }} {{ form.id(id='workflow-id',
  class="add-id") }}
  <div class="modal-body">
    <div id="workflow-wizard" class="form_wizard wizard_horizontal add-id">
      <ul class="wizard_steps">
        <li>
          <a href="#step-1">
            <span class="step_no">1</span>
            <span class="step_descr"
              >Step 1<br />
              <small>General</small>
            </span>
          </a>
        </li>
        <li>
          <a href="#step-2">
            <span class="step_no">2</span>
            <span class="step_descr"
              >Step 2<br />
              <small>Notification</small>
            </span>
          </a>
        </li>
        <li>
          <a href="#step-3">
            <span class="step_no">3</span>
            <span class="step_descr"
              >Step 3<br />
              <small>Advanced</small>
            </span>
          </a>
        </li>
        <li>
          <a href="#step-4">
            <span class="step_no">4</span>
            <span class="step_descr"
              >Step 4<br />
              <small>Devices</small>
            </span>
          </a>
        </li>
      </ul>
      <div id="step-1">
        <div style="width: 100%; height: 50%;">
          <label><label for="name">Name</label></label>
          <div class="form-group">
            {{ form.name(id='workflow-name', class="form-control add-id
            required") }}
          </div>
          <label><label for="description">Description</label></label>
          <div class="form-group">
            {{ form.description(id='workflow-description', class="form-control
            add-id") }}
          </div>
          <label><label for="vendor">Vendor</label></label>
          <div class="form-group">
            {{ form.vendor(id='workflow-vendor', class="form-control add-id") }}
          </div>
          <label><label for="operating_system">Operating System</label></label>
          <div class="form-group">
            {{ form.operating_system(id='workflow-operating_system',
            class="form-control add-id") }}
          </div>
          <label><label for="shape">Shape</label></label>
          <div class="form-group">
            {{ form.shape(id='workflow-shape', class="form-control add-id") }}
          </div>
          <label><label for="color">Color</label></label>
          <div class="form-group">
            {{ form.color(id='workflow-color', class="form-control add-id") }}
          </div>
          <label><label for="size">Size</label></label>
          <div class="form-group">
            {{ form.size(id='workflow-size', class="form-control add-id") }}
          </div>
        </div>
      </div>
      <div id="step-2">
        <fieldset>
          <div class="item">
            <input
              id="workflow-send_notification"
              name="send_notification"
              class="add-id"
              type="checkbox"
              value="y"
            />
            <label>Send notification</label>
          </div>
        </fieldset>
        <label
          ><label for="send_notification_method"
            >Send Notification Method</label
          ></label
        >
        <div class="form-group">
          {{
          form.send_notification_method(id='workflow-send_notification_method',
          class="form-control add-id") }}
        </div>
        <label
          ><label for="notification_header">Notification Header</label></label
        >
        <div class="form-group">
          {{ form.notification_header(id='workflow-notification_header',
          class="form-control add-id") }}
        </div>
        <label
          ><label for="mail_recipient"
            >Mail Recipients (separated by comma)</label
          ></label
        >
        <div class="form-group">
          {{ form.mail_recipient(id='workflow-mail_recipient',
          class="form-control add-id") }}
        </div>
        <fieldset>
          <div class="item">
            <input
              id="workflow-display_only_failed_nodes"
              name="display_only_failed_nodes"
              class="add-id"
              type="checkbox"
              value="y"
            />
            <label>Display only failed nodes</label>
          </div>
        </fieldset>
      </div>
      <div id="step-3">
        <label><label for="number_of_retries">Number of retries</label></label>
        <div class="form-group">
          {{ form.number_of_retries(id='workflow-number_of_retries',
          class="form-control add-id") }}
        </div>
        <label
          ><label for="time_between_retries"
            >Time between retries (in seconds)</label
          ></label
        >
        <div class="form-group">
          {{ form.time_between_retries(id='workflow-time_between_retries',
          class="form-control add-id") }}
        </div>
        <label
          ><label for="waiting_time">Waiting time (in seconds)</label></label
        >
        <div class="form-group">
          {{ form.waiting_time(id='workflow-waiting_time', class="form-control
          add-id") }}
        </div>
        <fieldset>
          <div class="item">
            <input
              id="workflow-push_to_git"
              name="push_to_git"
              class="add-id"
              type="checkbox"
              value="y"
            />
            <label>Push to git</label>
          </div>
        </fieldset>
      </div>
      <div id="step-4">
        <fieldset>
          <div class="item">
            <input
              id="workflow-has_targets"
              name="has_targets"
              class="add-id"
              type="checkbox"
              value="y"
            />
            <label>Has Targets</label>
          </div>
        </fieldset>
        <fieldset>
          <div class="item">
            <input
              id="workflow-use_workflow_targets"
              name="use_workflow_targets"
              class="add-id"
              type="checkbox"
              value="y"
            />
            <label>Use Workflow Targets</label>
          </div>
        </fieldset>
        <label><label for="devices">Devices</label></label>
        <div class="form-group">
          {{ form.devices(id='workflow-devices', class="form-control add-id") }}
        </div>
        <label><label for="pools">Pools</label></label>
        <div class="form-group">
          {{ form.pools(id='workflow-pools', class="form-control add-id") }}
        </div>
        <fieldset>
          <div class="item">
            <input
              id="workflow-define_devices_from_payload"
              name="define_devices_from_payload"
              class="add-id"
              type="checkbox"
              value="y"
            />
            <label>Define Devices from Payload</label>
          </div>
        </fieldset>
        <label><label for="yaql_query">YaQL Query</label></label>
        <div class="form-group">
          {{ form.yaql_query(id='workflow-yaql_query', class="form-control
          add-id") }}
        </div>
        <label
          ><label for="query_property_type">Query Property Type</label></label
        >
        <div class="form-group">
          {{ form.query_property_type(id='workflow-query_property_type',
          class="form-control add-id") }}
        </div>
        <label><label for="credentials">Credentials</label></label>
        <div class="form-group">
          {{ form.credentials(id='workflow-credentials', class="form-control
          add-id") }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <center>
      <button
        id="workflow-btn"
        type="button"
        class="btn btn-success add-id btn-id"
        value="processData"
      >
        Save
      </button>
    </center>
  </div>
</form>
