<button class="btn btn-default btn-file" onclick="clearLogs()" style="width:100%;">
  Clear
</button>
<button id="refresh-logs-button" class="btn btn-default btn-file" onclick="refreshLogs(true)" style="width:100%;">
  Trigger periodic Refresh
</button><br><br>
<label class="control-label col-md-2 col-sm-2 col-xs-12">Display :</label>
<div class="col-md-10 col-sm-10 col-xs-12">
  {{ compare_logs_form.display(class="form-control") }}
</div>
<label class="control-label col-md-2 col-sm-2 col-xs-12">Compare With :</label>
<div class="col-md-10 col-sm-10 col-xs-12">
  {{ compare_logs_form.compare_with(class="form-control") }}
</div>
<hr><hr><hr><hr>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
  <pre id="logs"></pre>
  </div>
</div>