<div id="logs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Compare results</h4>
      </div>
      <div class="modal-body">
        {% include 'logs_system.html' %}
        <button class="btn btn-default btn-file" onclick="detachWindow()" style="width:100%;">
          Detach window
        </button>
      </div>
    </div>
  </div>
</div>