{% extends "base_site.html" %}

{% block title %} Workflow Builder {% endblock title %}

{% block stylesheets %}
  {{ super() }}
 <!-- Vis CSS -->
  <link href="{{ url_for('automation_blueprint.static', filename='vis/vis-network.min.css') }}" rel="stylesheet">
  <!-- Context Menu -->
  <link href="{{ url_for('static', filename='enms/contextMenu.css') }}" rel="stylesheet">
  <!-- Difflib CSS -->
  <link href="{{ url_for('static', filename='difflib/diffview.css') }}" rel="stylesheet">
  <style>
    #main { height:90vh; }
    @media (min-width: 1000px) {
      .modal-lg {
        width: 1200px;
      }
    }
  </style>
{% endblock stylesheets %}

{% block content %}
  {% include 'service_editor.html' %}
  {% include 'workflow_modal.html' %}
  {% include 'logs_modals.html' %}
  <div id="add-job" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="title">Add Service or Workflow</h4>
        </div>
        <form id="add-job-form" data-parsley-validate class="form-horizontal form-label-left" method="post">
          {{ add_job_form.list_fields() }}
          <div class="modal-body">
            <div class="form-group">
              {{ add_job_form.add_jobs(class="form-control", size=15) }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" onclick="addJobToWorkflow()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="btn-group" style="z-index:2; position: absolute; top:10px;">  
              <strong><p id="status"></p></strong>
              <strong><p id="current-job"></p></strong>
              <strong><p id="current-device"></p></strong>
            </div>
            <div class="btn-group" style="z-index:2; position: absolute; left:35vw; top:10px;">  
              {{ workflow_builder_form.workflow(id="current-workflow", class="form-control") }}
            </div>
            <div id="network" style="height:80vh; width:100%;></div>
            <div class="ln_solid"></div>
            <div class="form-group">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <ul id="contextMenu" class="dropdown-menu" role="menu">
    <li class="node-selection"><a tabindex="-1" href="#">Edit</a></li>
    <li class="node-selection"><a tabindex="-1" href="#">Run</a></li>
    <li class="node-selection"><a tabindex="-1" href="#">Logs</a></li>
    <li class="node-selection edge-selection"><a tabindex="-1" href="#">Delete</a></li>
    <li class="dropdown-submenu global">
      <a class="menu-submenu menu-layer" tabindex="-1" href="#">Change Mode<span class="caret-right"></span></a>
      <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Create "Success" edge</a></li>
        <li><a tabindex="-1" href="#">Create "Failure" edge</a></li>
        <li><a tabindex="-1" href="#">Create "Prerequisite" edge</a></li>
        <li><a tabindex="-1" href="#">Move Nodes</a></li>
      </ul>
    </li>
    <li class="global"><a tabindex="-1" href="#">Add Service or Workflow</a></li>
    <li class="global"><a tabindex="-1" href="#">Run Workflow</a></li>
    <li class="global"><a tabindex="-1" href="#">Edit Workflow</a></li>
    <li class="global"><a tabindex="-1" href="#">Workflow Logs</a></li>
  </ul>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    let workflow = {{ workflow|tojson|safe }};
    const servicesClasses = {{ services_classes|tojson|safe }};
    const propertyTypes = {{ property_types|tojson|safe }};
  </script>
  <!-- Base -->
  <script src="{{ url_for('static', filename='enms/contextMenu.js') }}"></script>
  <!-- Services -->
  <script src="{{ url_for('automation_blueprint.static', filename='serviceEditor.js') }}"></script>
  <script src="{{ url_for('automation_blueprint.static', filename='jobCommonFunctions.js') }}"></script>
  <!-- Vis JS -->
  <script src="{{ url_for('automation_blueprint.static', filename='vis/vis.min.js') }}"></script>
  <script src="{{ url_for('automation_blueprint.static', filename='workflowBuilder.js') }}"></script>
  <!-- Difflib -->
  <script src="{{ url_for('static', filename='difflib/diffview.min.js') }}"></script>
{% endblock javascripts %}