<div class="right_col" role="main">
  <!-- begin row -->
  <div class="row">
    <!-- begin column -->
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div style="min-height:90vh;" class="x_content">
          <div class="panel-group">
            <div style="padding-bottom:5px;">
              <button class="btn btn-default btn-file" onclick="showModal()" style="width:100%;">
                Create a New Workflow
              </button>
            </div>
          </div>
          <div class="page-title">
            <div class="title_left">
              <h3>Existing Workflows</h3>
            </div>
          </div>
          <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th style="width: 20%">Name</th>
                <th style="width: 30%">Description</th>
                <th style="width: 10%">Vendor</th>
                <th style="width: 10%">Operating System</th>
                <th style="width: 5%">Number of retry</th>
                <th style="width: 5%">Time between retries</th>
                <th id="state" style="width: 15%">State</th>
                <th style="width: 5%">Logs</th>
                <th style="width: 5%">Compare</th>
                <th style="width: 5%">Run</th>
                <th style="width: 5%">Edit</th>
                <th style="width: 5%">Duplicate</th>
                <th style="width: 5%">Delete</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end column -->
  </div>
  <!-- end row -->
</div>