{% extends "base_site.html" %}

{% block title %} 3D Geographical view {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('views_blueprint.static', filename='js/leaflet/leaflet.css') }}" rel="stylesheet">
  <style>
    html, body{padding: 0; margin: 0; background-color: black;}
    #earth_div{top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
  </style> 
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="earth_div" style="width:80vw;height:80vh;padding:2px;"></div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- jQuery Smart Wizard -->
          <script src="{{ url_for('views_blueprint.static', filename='js/webgl-earth/api.js') }}"></script>
<script>
  
  function connect_to_device() {
      var id = document.getElementById('id').value
      $.ajax({
        type: "POST",
        url: "/views/putty_connection",
        dataType: "json",
        data: { id: id },
        success: function(msg){
            $('.answer').html(msg);
        }
      });
    }
  
  var options = {sky:true, atmosphere: true};
  var earth = new WE.map('earth_div', options);
  //WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(earth);
  WE.tileLayer('http://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg', {
    minZoom: 0,
    maxZoom: 5,
    attribution: 'NASA'
  }).addTo(earth);

  var markers = [];
  {% for obj, properties in node_table.items() %}  
    var marker = WE.marker(
    [
    {{ obj.latitude }}, 
    {{ obj.longitude }}
    ],
    ).addTo(earth);
    marker.bindPopup("{% for property in properties %}\
    <b>{{ names[property] }}</b>: {{ obj[property] }}<br>{% endfor %}<br>\
    <input type='hidden' name='id' id='id' value={{ obj.id }}>\
    <input type='button' value='Connect' class='btn btn-round btn-danger' onclick='return connect_to_device()'/>");
    marker.node_id = {{ obj.id }};
    console.log(marker)
    marker.element.childNodes["0"].style.backgroundImage = 'static/images/selected/{{ obj.subtype }}.gif';
    markers.push(marker);
  {% endfor %}

</script>


{% endblock javascripts %}
