{% extends "base_site.html" %}

{% block title %} 2D Geographical view {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('views_blueprint.static', filename='js/leaflet/leaflet.css') }}" rel="stylesheet">
  {% if view == 'markercluster' %}
    <link href="{{ url_for('views_blueprint.static', filename='js/leaflet-markercluster/dist/MarkerCluster.css') }}" rel="stylesheet">
    <link href="{{ url_for('views_blueprint.static', filename='js/leaflet-markercluster/dist/MarkerCluster.Default.css') }}" rel="stylesheet">
  {% endif %}
  <style>
    #mapid { height:90vh; }
  </style>
{% endblock stylesheets %}

{% set buttons %}
<form id="aform" method="post">
  <div class="btn-group-vertical" style="z-index:500; position: absolute; top: 10px; right:30px;">
    <div class="form-group">
      <select id="select-filters" class="form-control">
        {% for pool in pools %}
          <option>{{ pool.name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="button" class="btn btn-primary" onclick="showModal('filters')">Parameters</button>
    <button type="button" class="btn btn-primary" onclick="showModal('google-earth')">Google Earth</button>
    {% if view == 'leaflet' %}
      <button type="submit" class="btn btn-primary" name="view" value="markercluster">Clusterized view</button>
      <button type="submit" class="btn btn-primary" name="view" value="glearth">3D view</button>
    {% elif view == 'markercluster' %}
      <button type="submit" class="btn btn-primary" name="view" value="leaflet">2D view</button>
      <button type="submit" class="btn btn-primary" name="view" value="glearth">3D view</button>
    {% elif view == 'glearth' %}
      <button type="submit" class="btn btn-primary" name="view" value="leaflet">2D view</button>
      <button type="submit" class="btn btn-primary" name="view" value="markercluster">Clusterized view</button>
    {% endif %}
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tile layer
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a onclick="switch_layer('osm')"> Open Street Map </a></li>
        <li><a onclick="switch_layer('gm')"> Google Maps </a></li>
        <li><a onclick="switch_layer('nasa')"> NASA </a></li>
      </ul>
    </div> 
    <button type="button" class="btn btn-primary" onclick="showModal('scheduling')">Scheduling</button>
  </div>
</form>
{% endset %}

{% block content %}
  {% include 'gis_modals.html' %}
  {% include 'scheduling_modal.html' %}
  {% include 'object_modals.html' %}

  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">



            {% if view == 'glearth' %}
            <div id="earth_div" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%;">
            {% else %}
            <div id="mapid">
            {% endif %}  
              {{ buttons }}
            </div>
            <script>


              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script src="{{ url_for('static', filename='enms/scheduling.js') }}"></script>
  <script>
    var node_fields = {{ node_fields|tojson|safe }};
    var link_fields = {{ link_fields|tojson|safe }};
    var subtypes = {{ subtypes|tojson|safe }};
    var parameters = {{ parameters|tojson|safe }};
    var view = '{{ view }}';
  </script>
  <script src="{{ url_for('objects_blueprint.static', filename='object_functions.js') }}"></script>
  <script src="{{ url_for('views_blueprint.static', filename='views.js') }}"></script>
  <script src="{{ url_for('views_blueprint.static', filename='geographical_view.js') }}"></script>
  {% if view == 'glearth' %}
    <script src="{{ url_for('views_blueprint.static', filename='js/webgl-earth/api.js') }}"></script>
    <script src="{{ url_for('views_blueprint.static', filename='3d_view.js') }}"></script>
  {% else %}
    <script src="{{ url_for('views_blueprint.static', filename='js/leaflet/leaflet.js') }}"></script>
    {% if view == 'markercluster' %}
      <script src="{{ url_for('views_blueprint.static', filename='js/leaflet-markercluster/dist/leaflet.markercluster-src.js') }}"></script>
    {% endif %}
    <script src="{{ url_for('views_blueprint.static', filename='2d_view.js') }}"></script>
  {% endif %}
  <script>

    {% if view != 'glearth' %}
      // Create a new vector type with getLatLng and setLatLng methods.
      L.PolylineClusterable = L.Polyline.extend({
        _originalInitialize: L.Polyline.prototype.initialize,
        initialize: function (bounds, options) {
          this._originalInitialize(bounds, options);
          this._latlng = this.getBounds().getCenter();
        },
        getLatLng: function () { return this._latlng; },
        setLatLng: function () {}
      });

      {% for obj, properties in node_table.items() %}  
        var marker = L.marker([
          {{ obj.latitude }}, 
          {{ obj.longitude }}], 
          );

        marker.on("dblclick", function (e) {
          showObjectModal('node', '{{ obj['id'] }}');
        });

        marker.on("click", function (e) {
          e.target.setIcon(e.target.selected_icon);
          selection.push({{ obj.id }});
          $.ajax({
            type: "POST",
            url: "/views/selection",
            dataType: "json",
            data: { selection: selection },
            success: function(msg){
                $('.answer').html(msg);
            }
          });
        });
        marker.bindTooltip("{{ obj[labels['node']] }}", {
          permanent: false, 
          }
        );
        marker.node_id = {{ obj.id }};
        marker.icon = icon_{{ obj.subtype }};
        marker.selected_icon = icon_selected_{{ obj.subtype }};
        {% if obj.id not in selected_nodes %}
          marker.setIcon(marker.icon), 
        {% else %}
          marker.setIcon(marker.selected_icon), 
        {% endif %}
        markers_array.push(marker);
        {% if view == 'markercluster' %}
          markers.addLayer(marker);
        {% else %}
          marker.addTo(map);
        {% endif %}
      {% endfor %}

      {% if view == 'markercluster' %}
        map.addLayer(markers);
      {% endif %}

      map.on("boxzoomend", function(e) {
        selection = [];
        for (var i = 0; i < markers_array.length; i++) {
          if (e.boxZoomBounds.contains(markers_array[i].getLatLng())) {
            markers_array[i].setIcon(markers_array[i].selected_icon);
            selection.push(markers_array[i].node_id);
            }
          }
        $.ajax({
          type: "POST",
          url: "/views/selection",
          dataType: "json",
          data: { selection: selection },
          success: function(msg){
              $('.answer').html(msg);
          }
        });
      });
      
      map.on("contextmenu", function(e) {
        for (var i = 0; i < markers_array.length; i++) {
          markers_array[i].setIcon(markers_array[i].icon);
          }
        selection = [];
        $.ajax({
          type: "POST",
          url: "/views/selection",
          dataType: "json",
          data: { selection: selection },
          success: function(msg){
              $('.answer').html(msg);
            }
          });
        e.preventDefault();
        });
    {% for obj, properties in link_table.items() %}
      var pointA = new L.LatLng({{ obj['source']['latitude'] }}, {{ obj['source']['longitude'] }});
      var pointB = new L.LatLng({{ obj['destination']['latitude'] }}, {{ obj['destination']['longitude'] }});
      var pointList = [pointA, pointB];

      var polyline = new L.PolylineClusterable(pointList, {
        color: '{{ obj.color }}',
        weight: 3,
        opacity: 1,
        smoothFactor: 1
        });

      polyline_array.push(polyline);
      polyline.link_id = {{ obj.id }};

      polyline.on("dblclick", function (e) {
        showObjectModal('link', '{{ obj['id'] }}');
      });
  
      polyline.bindTooltip("{{ obj[labels['link']] }}", {
        permanent: false, 
        });
      
      {% if view == 'markercluster' %}
        markers.addLayer(polyline);
      {% else %}
        polyline.addTo(map);
      {% endif %}

    {% endfor %}
    {% endif %}

    {% if view == 'glearth' %}
      var options = {sky:true, atmosphere: true};
      var map = new WE.map('earth_div', options);
      var current_layer = WE.tileLayer(layers['gm']);
      current_layer.addTo(map);
      {% for obj, properties in node_table.items() %}  
        var marker = WE.marker(
        [{{ obj.latitude }}, {{ obj.longitude }}],
        {% if obj.id not in selected_nodes %}
        'static/images/3D/default/router.gif', 
        {% else %}
        'static/images/3D/selection/router.gif',
        {% endif %}
        15, 10
        ).addTo(map);

        marker.on("dblclick", function (e) {
          showObjectModal('node', '{{ obj['id'] }}');
        });

        marker.node_id = {{ obj.id }};
        markers_array.push(marker);
      {% endfor %}
      {% for obj, properties in link_table.items() %}  
        var polygonSD = WE.polygon(
        [
          [{{ obj['source']['latitude'] }}, {{ obj['source']['longitude'] }}],
          [{{ obj['destination']['latitude'] }}, {{ obj['destination']['longitude'] }}],
          [{{ obj['source']['latitude'] }}, {{ obj['source']['longitude'] }}]
        ], {color: '{{ obj.color }}', opacity: 20}
        ).addTo(map);
        var polygonDS = WE.polygon(
        [
          [{{ obj['destination']['latitude'] }}, {{ obj['destination']['longitude'] }}],
          [{{ obj['source']['latitude'] }}, {{ obj['source']['longitude'] }}],
          [{{ obj['destination']['latitude'] }}, {{ obj['destination']['longitude'] }}]
        ], {color: '{{ obj.color }}', opacity: 20}
        ).addTo(map);

        polygonSD.link_id = polygonDS.link_id = {{ obj.id }};
        polyline_array.push(polygonSD, polygonDS);

      {% endfor %}
    {% endif %}

    // when a filter is selected, apply it
    $('#select-filters').on('change', function() {
      var filterName = this.value;
      $.ajax({
        type: "POST",
        url: `/objects/pool_objects/${this.value}`,
        dataType: "json",
        success: function(objects){
          for (i = 0; i < markers_array.length; i++) {
            if (objects['nodes'].includes(markers_array[i].node_id)) {
              markers_array[i].addTo(map);
            } else {
              markers_array[i].removeFrom(map);
            }
          }
          {% if view == 'glearth' %}
            for (i = 0; i < polyline_array.length; i++) {
              try { polyline_array[i].destroy(); }
              catch(err) {};
            }
            polyline_array = [];
            for (i = 0; i < objects['links'][1].length; i++) {
              var source_latitude = objects['links'][1][i][0],
                  source_longitude = objects['links'][1][i][1],
                  destination_latitude = objects['links'][1][i][2],
                  destination_longitude = objects['links'][1][i][3],
                  color = objects['links'][1][i][4],
                  obj_id = objects['links'][0][i];
              var polygonSD = WE.polygon(
              [
                [source_latitude, source_longitude],
                [destination_latitude, destination_longitude],
                [source_latitude, source_longitude]
              ], {color: color, opacity: 20}
              ).addTo(map);
              var polygonDS = WE.polygon(
              [
                [destination_latitude, destination_longitude],
                [source_latitude, source_longitude],
                [destination_latitude, destination_longitude]
              ], {color: color, opacity: 20}
              ).addTo(map);
              polygonSD.link_id = polygonDS.link_id = obj_id;
              polyline_array.push(polygonSD, polygonDS);
            }
          {% else %}
            for (i = 0; i < polyline_array.length; i++) {
                if (objects['links'][0].includes(polyline_array[i].link_id)) {
                  polyline_array[i].addTo(map);
                } else {
                  polyline_array[i].removeFrom(map);
                }
          }
          {% endif %}
          alertify.notify(`Filter '${filterName}' applied`, 'success', 5);
        }
      });
    });
  {% if view != 'glearth' %}
    function switch_layer(layer){
      map.removeLayer(current_layer);
      current_layer = L.tileLayer(layers[layer]);
      map.addLayer(current_layer);
      }
  {% else %}
    function switch_layer(layer){
      current_layer.removeFrom(map);
      current_layer = WE.tileLayer(layers[layer]);
      current_layer.addTo(map);
      }
  {% endif %}
</script>
{% endblock javascripts %}
