{% extends "base_site.html" %}

{% block title %} 2D Geographical view {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('views_blueprint.static', filename='js/leaflet/leaflet.css') }}" rel="stylesheet">
  {% if view == 'markercluster' %}
    <link href="{{ url_for('views_blueprint.static', filename='js/leaflet-markercluster/dist/MarkerCluster.css') }}" rel="stylesheet">
    <link href="{{ url_for('views_blueprint.static', filename='js/leaflet-markercluster/dist/MarkerCluster.Default.css') }}" rel="stylesheet">
  {% endif %}
  <style>
    #mapid { height:90vh; }
  </style>
{% endblock stylesheets %}

{% set buttons %}
<form id="aform" method="post">
  <div class="btn-group-vertical" style="z-index:500; position: absolute; top: 10px; right:30px;">
    <button type="button" class="btn btn-primary" onclick="show_modal('filters')">Parameters</button>

    {% if view == 'leaflet' %}
      <button type="submit" class="btn btn-primary" name="view" value="markercluster">Clusterized view</button>
      <button type="submit" class="btn btn-primary" name="view" value="glearth">3D view</button>
    {% elif view == 'markercluster' %}
      <button type="submit" class="btn btn-primary" name="view" value="leaflet">2D view</button>
      <button type="submit" class="btn btn-primary" name="view" value="glearth">3D view</button>
    {% elif view == 'glearth' %}
      <button type="submit" class="btn btn-primary" name="view" value="leaflet">2D view</button>
      <button type="submit" class="btn btn-primary" name="view" value="markercluster">Clusterized view</button>
    {% endif %}
    
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tile layer
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a onclick="switch_layer('osm')"> Open Street Map </a></li>
        <li><a onclick="switch_layer('gm')"> Google Maps </a></li>
        <li><a onclick="switch_layer('nasa')"> NASA </a></li>
      </ul>
    </div> 
    
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Automation
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a onclick="show_modal('scheduling')">Schedule a script</a></li>
      </ul>
    </div> 
  </div>
</form>
{% endset %}

{% block content %}
{% include 'modals.html' %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <script src="{{ url_for('views_blueprint.static', filename='js/leaflet/leaflet.js') }}"></script>
            {% if view == 'markercluster' %}
            <script src="{{ url_for('views_blueprint.static', filename='js/leaflet-markercluster/dist/leaflet.markercluster-src.js') }}"></script>
            {% elif view == 'glearth' %}
            <script src="{{ url_for('views_blueprint.static', filename='js/webgl-earth/api.js') }}"></script>
            {% endif %}
          
            {% if view == 'glearth' %}
            <div id="earth_div" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%;">
            {% else %}
            <div id="mapid">
            {% endif %}  
              {{ buttons }}
            </div>
            <script>

            var layers = {
              'osm': 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
              'gm': 'http://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}&s=Ga',
              'nasa': 'http://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg'
              };
            {% if view != 'glearth' %}
              var map = L.map('mapid').setView([48, 2], 5);
              var osm_layer = L.tileLayer(layers['osm']);
              map.addLayer(osm_layer);
              var current_layer = osm_layer;
              {% if view == 'markercluster' %}
                var markers = L.markerClusterGroup();
              {% endif %}
            {% endif %}

            {% if view != 'glearth' %}
              {% for subtype in subtypes %}
                var icon_{{ subtype }} = L.icon({
                  iconUrl: 'static/images/default/{{ subtype }}.gif',
                  iconSize: [18, 12], // size of the icon
                  iconAnchor: [9, 6], // point of the icon which will correspond to marker's location
                  popupAnchor: [8, -5] // point from which the popup should open relative to the iconAnchor
                  });
                var icon_selected_{{ subtype }} = L.icon({
                  iconUrl: 'static/images/selected/{{ subtype }}.gif',
                  iconSize: [18, 12], // size of the icon
                  iconAnchor: [9, 6], // point of the icon which will correspond to marker's location
                  popupAnchor: [8, -5] // point from which the popup should open relative to the iconAnchor
                  });
              {% endfor %}
            {% endif %}
                
                {% if view != 'glearth' %}
                  // Create a new vector type with getLatLng and setLatLng methods.
                  L.PolylineClusterable = L.Polyline.extend({
                    _originalInitialize: L.Polyline.prototype.initialize,
                    
                    initialize: function (bounds, options) {
                      this._originalInitialize(bounds, options);
                      this._latlng = this.getBounds().getCenter();
                    },
                    
                    getLatLng: function () {
                      return this._latlng;
                    },
                    
                    // dummy method.
                    setLatLng: function () {}
                  });
                
                  var markers_array = [];
                  {% for obj, properties in node_table.items() %}  
                    var marker = L.marker([
                      {{ obj.latitude }}, 
                      {{ obj.longitude }}], 
                      );

                    marker.bindPopup("{% for property in properties %}\
                    <b>{{ names[property] }}</b>: {{ obj[property] }}<br>{% endfor %}<br>\
                    <input type='hidden' name='id' id='id' value={{ obj.id }}>\
                    <input type='button' value='Connect' class='btn btn-round btn-danger' onclick='return connect_to_device()'/>");
                    
                    marker.bindTooltip("{{ obj[labels['node']] }}", {
                      permanent: false, 
                      }
                    );
                    marker.node_id = {{ obj.id }};
                    
                    marker.icon = icon_{{ obj.subtype }};
                    marker.selected_icon = icon_selected_{{ obj.subtype }};
                    {% if obj.id not in selected_nodes %}
                    marker.setIcon(marker.icon), 
                    {% else %}
                    marker.setIcon(marker.selected_icon), 
                    {% endif %}
                    
                    
                    markers_array.push(marker);
                    
                    {% if view == 'markercluster' %}
                      markers.addLayer(marker);
                    {% else %}
                      marker.addTo(map);
                    {% endif %}
                  {% endfor %}
  
                  {% if view == 'markercluster' %}
                    map.addLayer(markers);
                  {% endif %}

                  map.on("boxzoomend", function(e) {
                    var selection = [];
                    for (var i = 0; i < markers_array.length; i++) {
                      if (e.boxZoomBounds.contains(markers_array[i].getLatLng())) {
                        markers_array[i].setIcon(markers_array[i].selected_icon);
                        selection.push(markers_array[i].node_id);
                        }
                      }
                      
                    $.ajax({
                      type: "POST",
                      url: "/views/selection",
                      dataType: "json",
                      data: { selection: selection },
                      success: function(msg){
                          $('.answer').html(msg);
                      }
                    });
                  });
                  
                  map.on("contextmenu", function(e) {
                    for (var i = 0; i < markers_array.length; i++) {
                      markers_array[i].setIcon(markers_array[i].icon);
                      }
                    selection = [];
                    $.ajax({
                      type: "POST",
                      url: "/views/selection",
                      dataType: "json",
                      data: { selection: selection },
                      success: function(msg){
                          $('.answer').html(msg);
                        }
                      });
                    e.preventDefault();
                    });
                {% for obj, properties in link_table.items() %}
                  var pointA = new L.LatLng({{ obj['source']['latitude'] }}, {{ obj['source']['longitude'] }});
                  var pointB = new L.LatLng({{ obj['destination']['latitude'] }}, {{ obj['destination']['longitude'] }});
                  var pointList = [pointA, pointB];
                  
                  var polyline = new L.PolylineClusterable(pointList, {
                    color: '{{ obj.color }}',
                    weight: 3,
                    opacity: 1,
                    smoothFactor: 1
                    });
                  
                  polyline.bindPopup("{% for property in properties %}\
                  <b>{{ names[property] }}</b>: {{ obj[property] }}<br>{% endfor %}");
              
                  polyline.bindTooltip("{{ obj[labels['link']] }}", {
                    permanent: false, 
                    });
                  
                  {% if view == 'markercluster' %}
                    markers.addLayer(polyline);
                  {% else %}
                    polyline.addTo(map);
                  {% endif %}

                {% endfor %}
                {% endif %}
                
                {% if view == 'glearth' %}
                var options = {sky:true, atmosphere: true};
                var earth = new WE.map('earth_div', options);

                var current_layer = WE.tileLayer(layers['gm']);
                current_layer.addTo(earth);

                var markers = [];
                {% for obj, properties in node_table.items() %}  
                  var marker = WE.marker(
                  [
                  {{ obj.latitude }}, 
                  {{ obj.longitude }}
                  ],
                  {% if obj.id not in selected_nodes %}
                  'static/images/3D/default/router.gif', 
                  {% else %}
                  'static/images/3D/selection/router.gif',
                  {% endif %}
                  15, 10
                  ).addTo(earth);
                  
                  marker.bindPopup("{% for property in properties %}\
                  <b>{{ names[property] }}</b>: {{ obj[property] }}<br>{% endfor %}<br>\
                  <input type='hidden' name='id' id='id' value={{ obj.id }}>\
                  <input type='button' value='Connect' class='btn btn-round btn-danger' onclick='return connect_to_device()'/>");
                  
                  markers.push(marker);
                {% endfor %}
                
                {% for obj, properties in link_table.items() %}  
                  var polygon = WE.polygon(
                  [
                    [{{ obj['source']['latitude'] }}, {{ obj['source']['longitude'] }}],
                    [{{ obj['destination']['latitude'] }}, {{ obj['destination']['longitude'] }}],
                    [{{ obj['source']['latitude'] }}, {{ obj['source']['longitude'] }}]
                  ], {color: '{{ obj.color }}', opacity: 20}
                  ).addTo(earth);
                  
                  var polygon = WE.polygon(
                  [
                    [{{ obj['destination']['latitude'] }}, {{ obj['destination']['longitude'] }}],
                    [{{ obj['source']['latitude'] }}, {{ obj['source']['longitude'] }}],
                    [{{ obj['destination']['latitude'] }}, {{ obj['destination']['longitude'] }}]
                  ], {color: '{{ obj.color }}', opacity: 20}
                  ).addTo(earth);

                {% endfor %}
                
                {% endif %}
              
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- jQuery Smart Wizard -->
  <script src="{{ url_for('views_blueprint.static', filename='js/smart-wizard/js/jquery.smartWizard.js') }}"></script>
  <!-- Bootstrap Datetimepicker -->
  <script src="{{ url_for('views_blueprint.static', filename='js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
  <!-- Initialize datetimepicker and SmartWizard -->
  <script>
    var dates = ['start_date', 'end_date'];
    var today = new Date();
    for (var i = 0; i < dates.length; i++) {
      $('#' + dates[i] + n).datetimepicker({
        format: 'DD/MM/YYYY HH:mm:ss',
        widgetPositioning: {
            horizontal: 'left',
            vertical: 'bottom'
        },
        useCurrent: false,
      });
      $('#' + dates[i]).data("DateTimePicker").minDate(today);
    }
    function schedule(){
      $('#wizard').smartWizard();
      $('.buttonNext').addClass('btn btn-success');
      $('.buttonPrevious').addClass('btn btn-primary');
      $('.buttonFinish').addClass('btn btn-default');
    }
  </script>

  <script>
  function show_modal(modal_name){
    $(`#${modal_name}`).modal('show');
    }

  {% if view != 'glearth' %}
    function switch_layer(layer){
      map.removeLayer(current_layer);
      current_layer = L.tileLayer(layers[layer]);
      map.addLayer(current_layer);
      }
  {% else %}
    function switch_layer(layer){
      current_layer.removeFrom(earth);
      current_layer = WE.tileLayer(layers[layer]);
      current_layer.addTo(earth);
      }
  {% endif %}
  
  function connect_to_device() {
      var id = document.getElementById('id').value
      $.ajax({
        type: "POST",
        url: "/views/putty_connection",
        dataType: "json",
        data: { id: id },
        success: function(msg){
            $('.answer').html(msg);
        }
      });
    }
</script>
{% endblock javascripts %}
