{% extends "base_site.html" %}

{% block title %} Logical view {% endblock title %}

{% block stylesheets %}
  {{ super() }}

<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node .selected {
  stroke: black;
}

.link {
  stroke: #999;
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}


  
  </style>
{% endblock stylesheets %}

{% block content %}
{% include 'gis_modals.html' %}
{% include 'scheduling_modal.html' %}

  <div id="edit-link" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="title">Edit link properties</h4>
        </div>
        <form id="edit-link-form" data-parsley-validate class="form-horizontal form-label-left" method="post">
          <div class="modal-body">
            <div class="form-group" style="height: 450px">
            {% for field in add_link_form if field.widget.input_type != 'hidden'  %}
              <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ field.label }}</label>
              <div class="col-md-8 col-sm-8 col-xs-12">
              {{ field(id= 'link-' + field.name, class="form-control") }}
              </div><br><br>
            {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" onclick="connectToDevice()">Connect</button>
            <button type="button" class="btn btn-success" onclick="editObject('link')">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="edit-node" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div role="tabpanel" data-example-id="togglable-tabs">
            <ul class="nav nav-tabs bar_tabs" role="tablist">
              <li role="netmiko-config" class="active"><a href="#netmiko-config" role="tab" data-toggle="tab" aria-expanded="true">Node properties</a>
              </li>
              <li role="napalm-config" class=""><a href="#napalm-config" role="tab" data-toggle="tab" aria-expanded="false">Logs</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade active in" id="netmiko-config">
                <form id="edit-node-form" data-parsley-validate class="form-horizontal form-label-left" method="post">
                  <div class="modal-body">
                    <div class="form-group" style="height: 450px">
                    {% for field in add_node_form if field.widget.input_type != 'hidden'  %}
                      <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ field.label }}</label>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                      {{ field(id= 'node-' + field.name, class="form-control") }}
                      </div><br><br>
                    {% endfor %}
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="connectToDevice()">Connect</button>
                    <button type="button" class="btn btn-success" onclick="editObject('node')">Submit</button>
                  </div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="napalm-config">
                <pre id="logs"></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <script src="{{ url_for('views_blueprint.static', filename='js/d3/d3.v3.min.js') }}"></script>

            <form method="post">
              <div class="btn-group-vertical" style="z-index:500; position: absolute; top: 10px; right:30px;">
                <button type="button" class="btn btn-primary" onclick="showModal('filters')">Parameters</button>
                <button type="button" class="btn btn-primary" onclick="showModal('scheduling')">Send script</button>
              </div>
            </form>

            <div align='center' id="logical_view"></div>
            <script>
              function showModal(modal_name){
                $(`#${modal_name}`).modal('show');
                }

              function connectToDevice(d) {
                  $.ajax({
                    type: "POST",
                    url: "/views/putty_connection",
                    dataType: "json",
                    data: {id: d.id},
                    success: function(msg){
                      $('.answer').html(msg);
                  }
                });
              }
              
              var selected_nodes = [];

              function sendSelection() {
                selected_id = selected_nodes.map(s => s[1].id);
                $.ajax({
                  type: "POST",
                  url: "/views/selection",
                  dataType: "json",
                  data: {selection: selected_id},
                  success: function(msg){
                    $('.answer').html(msg);
                  }
                });
              }

              var graph = {  
                "nodes":[
                  {% for obj, properties in node_table.items() %}  
                    {  
                      "x": {{ obj.id }},
                      "y": {{ obj.id }},
                      "id": {{ name_to_id[obj.name] }},
                      "name": "{{ obj.name }}",
                      "img":  "{{ url_for('views_blueprint.static', filename='images/default/' + obj.subtype + '.gif') }}",
                      "selected_img": "{{ url_for('views_blueprint.static', filename='images/selected/' + obj.subtype + '.gif') }}"
                    },
                  {% endfor %}
                ],
                "links":[  
                  {% for obj, properties in link_table.items() %}
                    {  
                      "source": {{ name_to_id[obj['source']['name']] }},
                      "target": {{ name_to_id[obj['destination']['name']] }}
                    },
                  {% endfor %}
                ]
              };

    var width = 960,

    height = 500,
    shiftKey, ctrlKey;

    var nodeGraph = null;
    var xScale = d3.scale.linear()
    .domain([0,width]).range([0,width]);
    var yScale = d3.scale.linear()
    .domain([0,height]).range([0, height]);

    var svg = d3.select("#logical_view")
    .attr("tabindex", 1)
    .on("keydown.brush", keydown)
    .on("keyup.brush", keyup)
    .each(function() { this.focus(); })
    .append("svg")
    .attr("width", width)
    .attr("height", height);

    var zoomer = d3.behavior.zoom().
        scaleExtent([0.1,10]).
        x(xScale).
        y(yScale).
        on("zoom", redraw);

    function redraw() {
        vis.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")");
    }

    var brusher = d3.svg.brush()
    .x(xScale)
    .y(yScale)
    .on("brushstart", function(d) {
        node.each(function(d) { 
            d.previouslySelected = shiftKey && d.selected; });
    })
    .on("brush", function() {
        var extent = d3.event.target.extent();

        node.classed("selected", function(d) {
            return d.selected = d.previouslySelected ^
            (extent[0][0] <= d.x && d.x < extent[1][0]
             && extent[0][1] <= d.y && d.y < extent[1][1]);
        });
    })
    .on("brushend", function() {
        d3.event.target.clear();
        d3.select(this).call(d3.event.target);
    });

    var svg_graph = svg.append('svg:g')
    .call(zoomer)
    //.call(brusher)

    var rect = svg_graph.append('svg:rect')
    .attr('width', width)
    .attr('height', height)
    .attr('fill', 'transparent')
    //.attr('opacity', 0.5)
    .attr('stroke', 'transparent')
    .attr('stroke-width', 1)
    //.attr("pointer-events", "all")
    .attr("id", "zrect")

    var brush = svg_graph.append("g")
    .datum(function() { return {selected: false, previouslySelected: false}; })
    .attr("class", "brush");

    var vis = svg_graph.append("svg:g");

    vis.attr('fill', 'red')
    .attr('stroke', 'black')
    .attr('stroke-width', 1)
    .attr('opacity', 0.5)
    .attr('id', 'vis')


    brush.call(brusher)
    .on("mousedown.brush", null)
    .on("touchstart.brush", null) 
    .on("touchmove.brush", null)
    .on("touchend.brush", null); 

    brush.select('.background').style('cursor', 'auto');

    var link = vis.append("g")
    .attr("class", "link")
    .selectAll("line");

    var node = vis.append("g")
    .attr("class", "node")
    .selectAll("circle");

    function dragended(d) {
        //d3.select(self).classed("dragging", false);
        node.filter(function(d) { return d.selected; })
        .each(function(d) { d.fixed &= ~6; })

    }


        nodeGraph = graph;

        graph.links.forEach(function(d) {
            d.source = graph.nodes[d.source];
            d.target = graph.nodes[d.target];
        });

        link = link.data(graph.links).enter().append("line")
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

        var force = d3.layout.force()
        .charge(-120)
        .linkDistance(30)
        .nodes(graph.nodes)
        .links(graph.links)
        .size([width, height])
        .start();

        function dragstarted(d) {
            d3.event.sourceEvent.stopPropagation();
            if (!d.selected && !shiftKey) {
                // if this node isn't selected, then we have to unselect every other node
                node.classed("selected", function(p) { return p.selected =  p.previouslySelected = false; });
            }

            d3.select(this).classed("selected", function(p) { d.previouslySelected = d.selected; return d.selected = true; });

            node.filter(function(d) { return d.selected; })
            .each(function(d) { d.fixed |= 2; })
        }

        function dragged(d) {
            node.filter(function(d) { return d.selected; })
            .each(function(d) { 
                d.x += d3.event.dx;
                d.y += d3.event.dy;

                d.px += d3.event.dx;
                d.py += d3.event.dy;
            })

            force.resume();
        }
        node = node.data(graph.nodes).enter().append("circle")
        .attr("r", 4)
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; })
        .on("dblclick", function(d) { d3.event.stopPropagation(); })
        .on("click", function(d) {
            if (d3.event.defaultPrevented) return;

            if (!shiftKey) {
                //if the shift key isn't down, unselect everything
                node.classed("selected", function(p) { return p.selected =  p.previouslySelected = false; })
            }

            // always select this node
            d3.select(this).classed("selected", d.selected = !d.previouslySelected);
            
            showObjectModal('node', d.name);
        })
        .on("mouseup", function(d) {
            //if (d.selected && shiftKey) d3.select(this).classed("selected", d.selected = false);
        })
        .call(d3.behavior.drag()
              .on("dragstart", dragstarted)
              .on("drag", dragged)
              .on("dragend", dragended))

        node.data(graph.nodes).enter().append("text")
          .attr("dx", 12)
          .attr("dy", ".35em")
          .text(function(d) { return d.name });


              function tick() {
                  link.attr("x1", function(d) { return d.source.x; })
                  .attr("y1", function(d) { return d.source.y; })
                  .attr("x2", function(d) { return d.target.x; })
                  .attr("y2", function(d) { return d.target.y; });

                  node.attr('cx', function(d) { return d.x; })
                  .attr('cy', function(d) { return d.y; });
              };

              force.on("tick", tick);




    function keydown() {
        shiftKey = d3.event.shiftKey || d3.event.metaKey;
        ctrlKey = d3.event.ctrlKey;


        if (shiftKey) {
            svg_graph.call(zoomer)
            .on("mousedown.zoom", null)
            .on("touchstart.zoom", null)                                                                      
            .on("touchmove.zoom", null)                                                                       
            .on("touchend.zoom", null);                                                                       

            //svg_graph.on('zoom', null);                                                                     
            vis.selectAll('g.gnode')
            .on('mousedown.drag', null);

            brush.select('.background').style('cursor', 'crosshair')
            brush.call(brusher);
        }
    }

    function keyup() {
        shiftKey = d3.event.shiftKey || d3.event.metaKey;
        ctrlKey = d3.event.ctrlKey;

        brush.call(brusher)
        .on("mousedown.brush", null)
        .on("touchstart.brush", null)                                                                      
        .on("touchmove.brush", null)                                                                       
        .on("touchend.brush", null);                                                                       

        brush.select('.background').style('cursor', 'auto')
        svg_graph.call(zoomer);
        }
        

            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- jQuery Smart Wizard -->
  <script src="{{ url_for('views_blueprint.static', filename='js/smart-wizard/js/jquery.smartWizard.js') }}"></script>
  <!-- Bootstrap Datetimepicker -->
  <script src="{{ url_for('views_blueprint.static', filename='js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
  <script>
    var dates = ['start_date', 'end_date'];
    var today = new Date();
    for (var i = 0; i < dates.length; i++) {
      $('#' + dates[i]).datetimepicker({
        format: 'DD/MM/YYYY HH:mm:ss',
        widgetPositioning: {
            horizontal: 'left',
            vertical: 'bottom'
        },
        useCurrent: false,
      });
      $('#' + dates[i]).data("DateTimePicker").minDate(today);
    }
    function schedule(){
      $('#wizard').smartWizard({
        onFinish: scheduleScript
      });
      $('.buttonNext').addClass('btn btn-success');
      $('.buttonPrevious').addClass('btn btn-primary');
      $('.buttonFinish').addClass('btn btn-default');
    }

  function showModal(modal_name){
    $(`#${modal_name}`).modal('show');
    }

    function connectToDevice(name) {
      var name = $(`#node-name`).val();
      $.ajax({
        type: "POST",
        url: `/views/connect_to_${name}`,
        success: function(msg){
          alertify.notify(`Connection to ${name}`, 'success', 5);
        }
      });
    }

    function scheduleScript() {
      $.ajax({
        type: "POST",
        url: "/tasks/scheduler",
        dataType: "json",
        data: $("#scheduling-form").serialize(),
        success: function() {
          alertify.notify('Task scheduled', 'success', 5);
        }
      });
      $("#scheduling").modal('hide');
    }

    function showObjectModal(type, name) {
      $.ajax({
        type: "POST",
        url: `/objects/get_${type}_${name}`,
        success: function(properties){
          for (const [property, value] of Object.entries(properties)) {
            $(`#${type}-${property}`).val(value);
          }
        }
      });
      if (type == "node") {
        $.ajax({
          type: "POST",
          url: `/views/get_logs_${name}`,
          success: function(logs){
            console.log(logs);
            $("#logs").text(logs);
          }
        });
      }
      $(`#edit-${type}`).modal('show');
    }

    var node_fields = [{% for field in node_fields %} '{{ field }}', {% endfor %}];
    var link_fields = [{% for field in link_fields %} '{{ field }}', {% endfor %}];

    function editObject(type) {
      var fields = type == 'node' ? node_fields : link_fields
      $.ajax({
        type: "POST",
        url: "/objects/edit_object",
        dataType: "json",
        data: $(`#edit-${type}-form`).serialize(),
        success: function(msg){
          var name = $(`#${type}-name`).val();
          alertify.notify(`Object ${name} edited !`, 'success', 5);
        }
      });
      $(`#edit-${type}`).modal('hide');
    }
  </script>
{% endblock javascripts %}
