{% extends "base_site.html" %}

{% block title %} Logical view {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <style>
  
  .node {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  .node .selected {
    stroke: black;
  }
  
  .link {
    stroke: #999;
  }
  
  .brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
  }
  
  </style>
{% endblock stylesheets %}

{% block content %}

{% include 'modals.html' %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <!-- jQuery -->
            <script src="{{ url_for('static', filename='vendors/jquery/jquery.min.js') }}"></script>
            <script src="http://d3js.org/d3.v3.min.js"></script>

            <form method="post">
              <div class="btn-group-vertical" style="z-index:500; position: absolute; top: 10px; right:30px;">
                <button type="button" class="btn btn-primary" onclick="show_modal('filters')">Parameters</button>

                <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Automation
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a onclick="show_modal('netmiko-configuration')"> Netmiko configuration </a></li>
                  <li><a onclick="show_modal('netmiko-file-transfer')"> Netmiko file transfer </a></li>
                  <li><a onclick="show_modal('napalm-getters')">NAPALM getters</a></li>
                  <li><a onclick="show_modal('napalm-configuration')">NAPALM configuration</a></li>
                  <li><a onclick="show_modal('ansible')">Ansible</a></li>
                </ul>
                </div>
              </div>
            </form>

            <div align='center' id="d3_selectable_force_directed_graph"></div>
            <script>
              function show_modal(modal_name){
                $(`#${modal_name}`).modal('show');
                }

              var width = 960,
          
              height = 500,
              shiftKey, ctrlKey;
          
              var nodeGraph = null;
              var xScale = d3.scale.linear()
              .domain([0,width]).range([0,width]);
              var yScale = d3.scale.linear()
              .domain([0,height]).range([0, height]);
          
              var svg = d3.select("#d3_selectable_force_directed_graph")
                .attr("tabindex", 1)
                .on("keydown.brush", keydown)
                .on("keyup.brush", keyup)
                .each(function() { this.focus(); })
                .append("svg")
                .attr("width", width)
                .attr("height", height);
          
              var zoomer = d3.behavior.zoom().
                scaleExtent([0.1,10]).
                x(xScale).
                y(yScale).
                on("zoom", redraw);

              function redraw() {
                vis.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")");
              }
          
              var brusher = d3.svg.brush()
              .x(xScale)
              .y(yScale)
              .on("brushstart", function(d) {
                node.each(function(d) { 
                  d.previouslySelected = shiftKey && d.selected; });
              })
              .on("brush", function() {
                var extent = d3.event.target.extent();
                node.classed("selected", function(d) {
                  return d.selected = d.previouslySelected ^
                  (extent[0][0] <= d.x && d.x < extent[1][0]
                  && extent[0][1] <= d.y && d.y < extent[1][1]);
                });
              })
              .on("brushend", function() {
                  d3.event.target.clear();
                  d3.select(this).call(d3.event.target);
              });
          
              var svg_graph = svg.append('svg:g')
              .call(zoomer)
          
              var rect = svg_graph.append('svg:rect')
                .attr('width', width)
                .attr('height', height)
                .attr('fill', 'transparent')
                .attr('stroke', 'transparent')
                .attr('stroke-width', 1)
                .attr("id", "zrect")
          
              var brush = svg_graph.append("g")
                .datum(function() { return {selected: false, previouslySelected: false}; })
                .attr("class", "brush");
          
              var vis = svg_graph.append("svg:g");
          
              vis.attr('fill', 'red')
                .attr('stroke', 'black')
                .attr('stroke-width', 1)
                .attr('opacity', 0.5)
                .attr('id', 'vis')

              brush.call(brusher)
                .on("mousedown.brush", null)
                .on("touchstart.brush", null) 
                .on("touchmove.brush", null)
                .on("touchend.brush", null); 

              brush.select('.background').style('cursor', 'auto');

              var link = vis.append("g")
                .attr("class", "link")
                .selectAll("line");

              var node = vis.append("g")
                .attr("class", "node")
                .selectAll("circle");

              function dragended(d) {
                node.filter(function(d) { return d.selected; })
                .each(function(d) { d.fixed &= ~6; })
              }
          
              var graph = {  
                "nodes":[
                  {% for obj, properties in node_table.items() %}  
                    {  
                      "x": {{ obj.id }},
                      "y": {{ obj.id }},
                      "name": "{{ obj.name }}",
                      "img":  "http://marvel-force-chart.surge.sh/marvel_force_chart_img/top_hulk.png",
                    },
                  {% endfor %}
                ],
                "links":[  
                  {% for obj, properties in link_table.items() %}  
                    {  
                      "source": {{ obj['source']['id'] }} - 1,
                      "target": {{ obj['destination']['id'] }} - 1
                    },
                  {% endfor %}
                ]
              };

                  nodeGraph = graph;
          
                  graph.links.forEach(function(d) {
                    d.source = graph.nodes[d.source];
                    d.target = graph.nodes[d.target];
                  });

                  link = link.data(graph.links).enter().append("line")
                    .attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });
          
          
                  var force = d3.layout.force()
                    .charge(-120)
                    .linkDistance(30)
                    .nodes(graph.nodes)
                    .links(graph.links)
                    .size([width, height])
                    .start();
          
                  function dragstarted(d) {
                    d3.event.sourceEvent.stopPropagation();
                    if (!d.selected && !shiftKey) {
                      // if this node isn't selected, then we have to unselect every other node
                      node.classed("selected", function(p) { return p.selected =  p.previouslySelected = false; });
                    }
                    d3.select(this).classed("selected", function(p) { d.previouslySelected = d.selected; return d.selected = true; });
                    node.filter(function(d) { return d.selected; })
                    .each(function(d) { d.fixed |= 2; })
                  }
          
                  function dragged(d) {
                    node.filter(function(d) { return d.selected; })
                    .each(function(d) { 
                      d.x += d3.event.dx;
                      d.y += d3.event.dy;
                      d.px += d3.event.dx;
                      d.py += d3.event.dy;
                    })
                    force.resume();
                  }

                  var node = node.data(graph.nodes).enter().append("circle")
                    .attr("r", 4)
                    .attr("cx", function(d) { return d.x; })
                    .attr("cy", function(d) { return d.y; })
                    .on("dblclick", function(d) { d3.event.stopPropagation(); })
                    .on("click", function(d) {
                        if (d3.event.defaultPrevented) return;
                        if (!shiftKey) {
                            //if the shift key isn't down, unselect everything
                            node.classed("selected", function(p) { return p.selected =  p.previouslySelected = false; })
                        }
  
                        // always select this node
                        d3.select(this).classed("selected", d.selected = !d.previouslySelected);
                    })
            
                    .on("mouseup", function(d) {
                        //if (d.selected && shiftKey) d3.select(this).classed("selected", d.selected = false);
                    })
                    .call(d3.behavior.drag()
                          .on("dragstart", dragstarted)
                          .on("drag", dragged)
                          .on("dragend", dragended));

                  node.append("text")
                      .attr("dx", 12)
                      .attr("dy", ".35em")
                      .text(function(d) { return d.name });

                  function tick() {
                      link.attr("x1", function(d) { return d.source.x; })
                      .attr("y1", function(d) { return d.source.y; })
                      .attr("x2", function(d) { return d.target.x; })
                      .attr("y2", function(d) { return d.target.y; });
    
                      node.attr('cx', function(d) { return d.x; })
                      .attr('cy', function(d) { return d.y; });
    
                  };
    
                  force.on("tick", tick);

          
              function keydown() {
                  shiftKey = d3.event.shiftKey || d3.event.metaKey;
                  ctrlKey = d3.event.ctrlKey;
          
                  if (shiftKey) {
                      svg_graph.call(zoomer)
                      .on("mousedown.zoom", null)
                      .on("touchstart.zoom", null)                                                                      
                      .on("touchmove.zoom", null)                                                                       
                      .on("touchend.zoom", null);                                                                       
          
                      //svg_graph.on('zoom', null);                                                                     
                      vis.selectAll('g.gnode')
                      .on('mousedown.drag', null);
          
                      brush.select('.background').style('cursor', 'crosshair')
                      brush.call(brusher);
                  }
              }

              function keyup() {
                  shiftKey = d3.event.shiftKey || d3.event.metaKey;
                  ctrlKey = d3.event.ctrlKey;
          
                  brush.call(brusher)
                  .on("mousedown.brush", null)
                  .on("touchstart.brush", null)                                                                      
                  .on("touchmove.brush", null)                                                                       
                  .on("touchend.brush", null);                                                                       

                  brush.select('.background').style('cursor', 'auto')
                  svg_graph.call(zoomer);
              }

            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- jQuery Smart Wizard -->
  <script src="{{ url_for('views_blueprint.static', filename='js/smart-wizard/js/jquery.smartWizard.js') }}"></script>
  <script>
    <!-- Initialize Smart wizard -->
    function call_wizard(){
      $('#wizard').smartWizard();
      $('.buttonNext').addClass('btn btn-success');
      $('.buttonPrevious').addClass('btn btn-primary');
      $('.buttonFinish').addClass('btn btn-default');
    }
    function call_wizard1(){
      $('#wizard1').smartWizard();
      $('.buttonNext').addClass('btn btn-success');
      $('.buttonPrevious').addClass('btn btn-primary');
      $('.buttonFinish').addClass('btn btn-default');
    }
    function call_wizard2(){
      $('#wizard2').smartWizard();
      $('.buttonNext').addClass('btn btn-success');
      $('.buttonPrevious').addClass('btn btn-primary');
      $('.buttonFinish').addClass('btn btn-default');
    }
    </script>
{% endblock javascripts %}
