{% extends "base_site.html" %}

{% block title %} Logical view {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <style>
  
  .link {
    stroke: #ccc;
  }
  
  .node text {
    pointer-events: none;
    font: 10px sans-serif;
  }
  
  </style>
{% endblock stylesheets %}

{% block content %}

{% include 'modals.html' %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <!-- jQuery -->
            <script src="{{ url_for('static', filename='vendors/jquery/jquery.min.js') }}"></script>
            <script src="http://d3js.org/d3.v3.min.js"></script>

            <form method="post">
              <div class="btn-group-vertical" style="z-index:500; position: absolute; top: 10px; right:30px;">
                <button type="button" class="btn btn-primary" onclick="show_modal('filters')">Parameters</button>

                <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Automation
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a onclick="show_modal('netmiko-configuration')"> Netmiko configuration </a></li>
                  <li><a onclick="show_modal('netmiko-file-transfer')"> Netmiko file transfer </a></li>
                  <li><a onclick="show_modal('napalm-getters')">NAPALM getters</a></li>
                  <li><a onclick="show_modal('napalm-configuration')">NAPALM configuration</a></li>
                  <li><a onclick="show_modal('ansible')">Ansible</a></li>
                </ul>
                </div>
              </div>
            </form>

            <div align='center' id="logical_view"></div>
            <script>
              function show_modal(modal_name){
                $(`#${modal_name}`).modal('show');
                }

              var graph = {  
                "nodes":[
                  {% for obj, properties in node_table.items() %}  
                    {  
                      "x": {{ obj.id }},
                      "y": {{ obj.id }},
                      "name": "{{ obj.name }}",
                      "img":  "{{ url_for('views_blueprint.static', filename='images/default/' + obj.subtype + '.gif') }}",
                      "selected_img": "{{ url_for('views_blueprint.static', filename='images/selected/' + obj.subtype + '.gif') }}"
                    },
                  {% endfor %}
                ],
                "links":[  
                  {% for obj, properties in link_table.items() %}
                    {  
                      "source": {{ obj['source']['id'] }} - 1,
                      "target": {{ obj['destination']['id'] }} - 1
                    },
                  {% endfor %}
                ]
              };
              
              var selection = [];
              
              // selection function
              function selectNode(d) {
                // we stop the propagation up the DOM tree so that the 
                // unselectAll event bound to the canvas is not triggered
                d3.event.stopPropagation();
                // add both the HTML and graph elements in the selection array
                selection.push([this, d]);
                d3.select(this).attr("xlink:href", d.selected_img);
              };
              
              function unselectAll() {
                d3.event.preventDefault();
                for (i = 0; i < selection.length; i++) {
                  console.log(selection[i]);
                  d3.select(selection[i][0]).attr("xlink:href", selection[i][1].img);
                }
              };

              var width = 960,
                  height = 500

              var svg = d3.select("#logical_view").append("svg")
                  .attr("width", width)
                  .attr("height", height)
                  .on("contextmenu", unselectAll);

              var force = d3.layout.force()
                  .gravity(0.05)
                  .distance(100)
                  .charge(-100)
                  .size([width, height]);

              force
                  .nodes(graph.nodes)
                  .links(graph.links)
                  .start();
            
              var link = svg.selectAll(".link")
                  .data(graph.links)
                .enter().append("line")
                  .attr("class", "link");
            
              var node = svg.selectAll(".node")
                  .data(graph.nodes)
                .enter().append("g")
                  .attr("class", "node")
                  .call(force.drag);
            
              node.append("image")
                  .attr("xlink:href", function(d) { return d.img; })
                  .attr("x", -8)
                  .attr("y", -8)
                  .attr("width", 16)
                  .attr("height", 16)
                  .on("click", selectNode);
            
              node.append("text")
                  .attr("dx", 12)
                  .attr("dy", ".35em")
                  .text(function(d) { return d.name });

              force.on("tick", function() {
                link.attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });

                node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

              });

            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- jQuery Smart Wizard -->
  <script src="{{ url_for('views_blueprint.static', filename='js/smart-wizard/js/jquery.smartWizard.js') }}"></script>
  <script>
    <!-- Initialize Smart wizard -->
    function call_wizard(){
      $('#wizard').smartWizard();
      $('.buttonNext').addClass('btn btn-success');
      $('.buttonPrevious').addClass('btn btn-primary');
      $('.buttonFinish').addClass('btn btn-default');
    }
    function call_wizard1(){
      $('#wizard1').smartWizard();
      $('.buttonNext').addClass('btn btn-success');
      $('.buttonPrevious').addClass('btn btn-primary');
      $('.buttonFinish').addClass('btn btn-default');
    }
    function call_wizard2(){
      $('#wizard2').smartWizard();
      $('.buttonNext').addClass('btn btn-success');
      $('.buttonPrevious').addClass('btn btn-primary');
      $('.buttonFinish').addClass('btn btn-default');
    }
    </script>
{% endblock javascripts %}
