<div id="filters" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">View options</h4>
      </div>
      <form data-parsley-validate class="form-horizontal form-label-left" method="post">
        <div class="modal-body">
          <div class="form-group">
            <h5 class="modal-title">Labels</h5><br>
            {{ view_options_form.node_label(id="node_label", class="form-control") }}<br>
            {{ view_options_form.link_label(id="link_label", class="form-control") }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="reset">Reset</button>
          <button type="submit" name="view_options" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="scheduling" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"  onmouseenter="schedule()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Schedule a script</h4>
      </div>
      <form data-parsley-validate class="form-horizontal form-label-left" method="post">
        <div class="modal-body">
          <!-- Smart Wizard -->
          <div id="wizard" class="form_wizard wizard_horizontal">
            <ul class="wizard_steps">
              <li>
                <a href="#step-1">
                  <span class="step_no">1</span>
                  <span class="step_descr"> Step 1 <br/>
                  <small>Parameters</small>
                  </span>
                </a>
              </li>
              <li>
                <a href="#step-2">
                  <span class="step_no">2</span>
                  <span class="step_descr"> Step 2 <br/>
                  <small>Scheduling</small>
                  </span>
                </a>
              </li>
            </ul>
            <div id="step-1">
              <div class="form-group">
                <label>Name</label>
                <div class='form-group'>
                  {{ scheduling_form.name(class="form-control", required=true) }}
                </div>
                <label>Script</label>
                <div class='form-group'>
                  {{ scheduling_form.scripts(class="form-control", required=true) }}
                </div>
              </div>
            </div>
            <div id="step-2">
              <div class="form-group" style="min-height: 350px">
                <label>Start date</label>
                <div class='form-group'>
                  {{ scheduling_form.start_date(id="start_date1", class="form-control") }}
                </div>
                <label>End date</label>
                <div class='form-group'>
                  {{ scheduling_form.end_date(id="end_date1", class="form-control") }}
                </div>
                <label>Frequency (seconds)</label>
                <div class='form-group'>
                  {{ scheduling_form.frequency(class="form-control") }}
                </div>
                <input type='hidden' name='script' id="script">
              </div>
            </div>
          </div>
          <!-- End SmartWizard Content -->
        </div>
      </form>
    </div>
  </div>
</div>