{% extends "base_site.html" %}

{% block title %} User overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  {% include 'user_modals.html' %}
  {% include 'user_table.html' %}
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script>
    var users = {{ users|tojson|safe }}
  </script>
  <script>
    $('#table').DataTable();



function addUser(mode, properties) {
  values = [];
  for (var i = 0; i < fields.length; i++) {
    values.push(`${properties[fields[i]]}`);
  }
  values.push(
    `<button type="button" class="btn btn-info btn-xs" onclick="showUserModal('${properties.id}')">Edit</button>`,
    `<button type="button" class="btn btn-danger btn-xs" onclick="deleteUser('${properties.id}')">Delete</button>`
  );
  if (mode == 'edit') {
    table.row($(`#${properties.id}`)).data(values);
  } else {
    var rowNode = table.row.add(values).draw(false).node();
    $(rowNode).attr("id", `${properties.id}`);
  }
}

(function() {
  for (var i = 0; i < users.length; i++) {
    addUser('create', users[i]);
  }
})();

    function showModal() {
      $('#title').text('Add a new user');
      $('#edit').modal('show');
    }

    function showUserModal(name) {
      $('#title').text('Edit user properties');
      $.ajax({
        type: "POST",
        url: `/admin/get_${name}`,
        success: function(properties){
          for (const [property, value] of Object.entries(properties)) {
            $(`#${property}`).val(value);
          }
        }
      });
      $('#edit').modal('show');
    }

    var fields = [{% for field in fields %} '{{ field }}', {% endfor %}];

    function processData() {
      var result = {};
      var mode = $('#title').text() == `Edit user properties` ? 'edit' : 'create'
      $.each($('#edit-form').serializeArray(), function() {
        result[this.name] = this.value;
      });
      var name = result.name;
      var values = [];
      for (i = 0; i < fields.length; i++) {
        values.push(`<td>${result[fields[i]]}</td>`);
      }
      values.push(`<td>
      
      </td>
      <td>
      
      </td>`);

      if ($('#edit-form').parsley().validate()) {
        $.ajax({
          type: "POST",
          url: `/admin/process_user`,
          dataType: "json",
          data: $('#edit-form').serialize(),
          success: function(result) {
            if (result == 'duplicate') {
              alertify.notify(`Cannot ${mode} user ${name}: duplicate entry`, 'error', 5);
            } else if (mode == "create") {
              alertify.notify(`User ${name} created !`, 'success', 5);
              values.unshift(`<tr id="${name}">`);
              values.push('</tr>');
              $("#user-table tbody").append(values.join(''));
            } else {
              alertify.notify(`User ${name} edited !`, 'success', 5);
              $(`#${name}`).html(values.join(''));
            }
          }
        });
        $('#edit').modal('hide');
      }
    }
  
    function deleteUser(name) {
      $(`#${name}`).remove();
      $.ajax({
        type: "POST",
        url: `/admin/delete_${name}`,
        success: function() {
          alertify.notify(`User ${name} deleted`, 'error', 5);
        }
      });
    }
  </script>
{% endblock javascripts %}
