{% extends "base_site.html" %}

{% block title %} Sign in {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
  <div class="login_wrapper">
    <section class="login_content">
      <form method="post">
        <h1>Login Form</h1>
        
        {% for field in form if field.widget.input_type != 'hidden'  %}
          <div>
            {{ field(class="form-control", placeholder=field.label.text) }}
          </div>
        {% endfor %}

        <div>
          <button type="submit" class="btn btn-default submit" name="login">Log in</button>
        </div>

        <div class="separator">
        New to site?
        <a href="create_account" class="to_register"> Create Account </a>

        </div>
      </form>
    </section>
  </div>
{% endblock body %}

