<div class="right_col" role="main">
  <!-- begin row -->
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="btn-group" style="z-index:500; position: absolute; left:35vw; top:10px;">  
            {{ workflow_editor_form.workflow(id="workflow-name", class="form-control") }}
          </div>
          <div class="panel-group" style="z-index:500; position: absolute; top: 10px; right:10px;">
            <div class="panel panel-primary panel-transparent">
              <div class="panel-heading">Modes</div>
              <div class="panel-body">
                <div class="btn-group-vertical btn-block" >
                  <button id="edge_mode" type="button" class="btn btn-success" style="width:150px;" onclick="switchMode('success')">Success edge</button>
                  <button id="edge_mode" type="button" class="btn btn-danger" style="width:150px;" onclick="switchMode('failure')">Failure edge</button>
                  <button id="edge_mode" type="button" class="btn btn-primary" style="width:150px;" onclick="switchMode('node')">Move node</button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" style="z-index:500; position: absolute; top: 10px; left:10px;">
            <div class="panel panel-primary panel-transparent">
              <div class="panel-heading">Edit Workflow</div>
              <div class="panel-body">
                <div class="btn-group-vertical btn-block" >
                  <button id="edge_mode" type="button" class="btn btn-primary" style="width:150px;" onclick="deleteSelection()">Delete selection</button>
                  <button type="button" class="btn btn-primary" onclick="showModal('scheduling')">Add a task</button>
                  <button type="button" class="btn btn-primary" onclick="startScript()">Set as start</button>
                </div>
              </div>
            </div>
          </div>
          <div id="network" style="height:600px; width:100%;></div>
          <div class="ln_solid"></div>
          <div class="form-group">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
<ul id="contextMenu" class="dropdown-menu" role="menu">
  <li><a tabindex="-1" href="#">Edit</a></li>
  <li><a tabindex="-1" href="#">Logs</a></li>
  <li><a tabindex="-1" href="#">Compare</a></li>
</ul>