{% extends "base_site.html" %}

{% block title %} Workflow editor {% endblock title %}

{% block stylesheets %}
  {{ super() }}
 <!-- Vis CSS -->
  <link href="{{ url_for('workflows_blueprint.static', filename='vis/vis-network.min.css') }}" rel="stylesheet">
  <!-- Context Menu -->
  <link href="{{ url_for('static', filename='enms/contextMenu.css') }}" rel="stylesheet">
  <!-- Difflib CSS -->
  <link href="{{ url_for('tasks_blueprint.static', filename='difflib/diffview.css') }}" rel="stylesheet">
  <style>
    #main { height:90vh; }
    @media (min-width: 1000px) {
      .modal-lg {
        width: 1200px;
      }
    }
  </style>
{% endblock stylesheets %}

{% block content %}
  {% include 'scheduling_modal.html' %}
  {% include 'task_modals.html' %}
  {% include 'workflow_editor_modal.html' %}
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="btn-group" style="z-index:500; position: absolute; left:35vw; top:10px;">  
              {{ workflow_editor_form.workflow(id="workflow-name", class="form-control") }}
            </div>
            <div id="network" style="height:80vh; width:100%;></div>
            <div class="ln_solid"></div>
            <div class="form-group">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <ul id="contextMenu" class="dropdown-menu" role="menu">
    <li class="node-selection"><a tabindex="-1" href="#">Edit</a></li>
    <li class="node-selection"><a tabindex="-1" href="#">Logs</a></li>
    <li class="node-selection"><a tabindex="-1" href="#">Compare</a></li>
    <li class="node-selection"><a tabindex="-1" href="#">Set as start</a></li>
    <li class="node-selection"><a tabindex="-1" href="#">Set as end</a></li>
    <li class="dropdown-submenu global">
      <a class="menu-submenu menu-task" tabindex="-1" href="#">Add task<span class="caret-right"></span></a>
      <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Add new task</a></li>
        <li><a tabindex="-1" href="#">Add existing task</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu global">
      <a class="menu-submenu menu-layer" tabindex="-1" href="#">Change mode<span class="caret-right"></span></a>
      <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Create success edge</a></li>
        <li><a tabindex="-1" href="#">Create failure edge</a></li>
        <li><a tabindex="-1" href="#">Move nodes</a></li>
      </ul>
    </li>
    <li><a tabindex="-1" href="#">Delete selection</a></li>
  </ul>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    let workflow = {{ workflow|tojson|safe }};
  </script>
  <!-- Base -->
  <script src="{{ url_for('static', filename='enms/commonFunctions.js') }}"></script>
  <script src="{{ url_for('static', filename='enms/contextMenu.js') }}"></script>
  <!-- Task management -->
  <script src="{{ url_for('tasks_blueprint.static', filename='scheduleTask.js') }}"></script>
  <script src="{{ url_for('tasks_blueprint.static', filename='taskCommonFunctions.js') }}"></script>
  <!-- Vis JS -->
  <script src="{{ url_for('workflows_blueprint.static', filename='vis/vis.min.js') }}"></script>
  <script src="{{ url_for('workflows_blueprint.static', filename='workflowEditor.js') }}"></script>
  <!-- Difflib -->
  <script src="{{ url_for('tasks_blueprint.static', filename='difflib/diffview.min.js') }}"></script>
{% endblock javascripts %}