{% extends "base_site.html" %}

{% block title %} Workflow editor {% endblock title %}

{% block stylesheets %}
  {{ super() }}
 <!-- Vis CSS -->
  <link href="{{ url_for('workflows_blueprint.static', filename='vis/vis-network.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  {% include 'inner_task_scheduling_modal.html' %}
  {% include 'editor_panels.html' %}
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    var workflow = {{ workflow|tojson|safe }};
  </script>
  <!-- Task scheduling -->
  <script src="{{ url_for('tasks_blueprint.static', filename='scheduleTask.js') }}"></script>
  <!-- Vis JS -->
  <script src="{{ url_for('workflows_blueprint.static', filename='vis/vis.js') }}"></script>
  <script>
    var container = document.getElementById('network');
    var dsoptions = {
      edges: {
        font: {
          size: 12
        }
      },
      nodes: {
        shape: 'box',
        font: {
          bold: {
            color: '#0077aa'
          }
        }
      },
      manipulation: {
        enabled: false,
        addNode: function (data, callback) {
          // filling in the popup DOM elements
          console.log(data);
        },
        editNode: function (data, callback) {
          // filling in the popup DOM elements
          console.log('edit', data);
        },
        addEdge: function (data, callback) {
          if (data.from != data.to) {
            data.type = edge_type;
            saveEdge(data);
            console.log('test');
            network.addEdgeMode();
          }
        }
      }
    };

    // Create a DataSet with data (enables two way data binding)
    nodes = new vis.DataSet(workflow.inner_tasks.map(taskToNode));
    edges = new vis.DataSet(workflow.edges.map(edgeToEdge));
    data = {nodes: nodes, edges: edges};
    network = new vis.Network(container, data, dsoptions);
    network.setOptions( { physics: false } );

    function scheduleTask() {
      if (workflow && $("#scheduling-form").parsley().validate()) {
        $.ajax({
          type: "POST",
          url: `/tasks/scheduler/inner_task/${workflow.id}`,
          dataType: "json",
          data: $("#scheduling-form").serialize(),
          success: function(task) {
            $("#scheduling").modal('hide');
            nodes.add(taskToNode(task));
            saveNode(task);
          }
        });
      } else {
        alertify.notify('Some fields are missing', 'error', 5);
      }
    }

    if (workflow) {
      $("#workflow-name").val(workflow.id);
    } else {
      $.ajax({
        type: "POST",
        url: `/workflows/get/${$("#workflow-name").val()}`,
        success: function(wf) {
          workflow = wf;
        }
      });
    }

    function saveNode(task) {
      $.ajax({
        type: "POST",
        url: `/workflows/add_node/${workflow.id}/${task.id}`,
        success: function(task) {
          alertify.notify("Task added to the workflow", 'success', 5);
        }
      });
    }

    function deleteNode(id) {
      $.ajax({
        type: "POST",
        url: `/workflows/delete_node/${workflow.id}/${id}`,
        success: function(task) {
          alertify.notify("Task delete from the workflow", 'success', 5);
        }
      });
    }

    function saveEdge(edge) {
      $.ajax({
        type: "POST",
        url: `/workflows/add_edge/${workflow.id}/${edge.type}/${edge.from}/${edge.to}`,
        success: function(edge) {
          alertify.notify("Edge added to the workflow", 'success', 5);
          edges.add(edgeToEdge(edge));
        }
      });
    }

    function deleteEdge(edgeId) {
      console.log(edgeId);
      $.ajax({
        type: "POST",
        url: `/workflows/delete_edge/${workflow.id}/${edgeId}`,
        success: function(edge) {
          alertify.notify("Edge deleted the workflow", 'success', 5);
        }
      });
    }

    function taskToNode(task) {
      return {
        id: task.id,
        label: task.name,
        type: task.type,
        x: task.x,
        y: task.y,
        color: task.id == workflow.start_task ? "green" : "#D2E5FF"
      };
    }

    function edgeToEdge(edge) {
      return {
        id: edge.id,
        label: edge.type,
        type: edge.type,
        from: edge.source.id,
        to: edge.destination.id,
        color: {color: edge.type == 'success' ? 'green' : 'red'},
        arrows: {to: {enabled: true}}
      };
    }

    function showModal(modal_name){
      $(`#${modal_name}`).modal('show');
    }

    function startScript() {
      start = nodes.get(network.getSelectedNodes()[0]);
      console.log(start, typeof(start));
      if (start.length == 0) {
        alertify.notify("You must select a script first.", 'error', 5);
      } else {
        if (workflow.start_task) {
          nodes.update({id: workflow.start_task, color: "#D2E5FF"});
        }
        $.ajax({
          type: "POST",
          url: `/workflows/set_as_start/${workflow.id}/${start.id}`,
          success: function() {
            nodes.update({id: start.id, color: "green"});
            workflow.start_task = start.id
            alertify.notify("Start script updated", 'success', 5);
          }
        });
        alertify.notify(`Script ${start.label} set as start`, 'success', 5);
      }
    }

    // when a workflow is selected, apply it
    $('#workflow').on('change', function() {
      $.ajax({
        type: "POST",
        url: `/workflows/get/${this.value}`,
        dataType: "json",
        success: function(workflow){
          var nodes = new vis.DataSet([]);
          for (var i = 0; i < workflow.tasks; i++) {
            var task = workflow[i];
            nodes.push({
              id: task.id,
              label: task.name,
            });
          }
          var data = {nodes: new vis.DataSet(nodes)};
          network.setData(data);
        alertify.notify(`Workflow '${workflow.name}' displayed`, 'success', 5);
        }
      });
    });

    network.on( 'doubleClick', function(properties) {
        var ids = properties.nodes;
        var node = nodes.get(ids)[0];
        if(typeof node !== "undefined") {
          showTaskModal(node.id);
        }
    });

    function deleteSelection() {
      network.getSelectedNodes().map(node => deleteNode(node));
      network.getSelectedEdges().map(edge => deleteEdge(edge));
      network.deleteSelected();
      alertify.notify("Selected objects deleted", 'success', 5);
    }

    function switchMode(mode) {
      console.log(mode);
      if (mode == "success" || mode == "failure") {
        edge_type = mode;
        network.addEdgeMode();
        alertify.notify(`Mode: creation of ${mode} edge`, 'success', 5);
      } else {
        network.addNodeMode();
        alertify.notify("Mode: node motion", 'success', 5);
      }
    }

    function runWorkflow() {
      $.ajax({
        type: "POST",
        url: `/workflows/run_${workflow.id}`,
        contentType: 'application/json;charset=UTF-8',
        success: function(){
          alertify.notify("Workflow successfully started", 'success', 5);
        }
      });
    }

    function showTaskModal(id) {
      $.ajax({
        type: "POST",
        url: `/tasks/get/${id}`,
        success: function(task){
          console.log(task);
          for (var [property, value] of Object.entries(task)) {
            if ($(`#${property}`).length) {
              input = Array.isArray(value) ? value.map(s => s.id) : value
              console.log(input);
              $(`#${property}`).val(input);
            }
          }
        }
      });
      $('#scheduling').modal('show');
    }

    // when a filter is selected, apply it
    $('#workflow-name').on('change', function() {
      $.ajax({
        type: "POST",
        url: `/workflows/get/${this.value}`,
        dataType: "json",
        success: function(wf) {
          savePositions()
          workflow = wf;
          nodes = new vis.DataSet(workflow.inner_tasks.map(taskToNode));
          edges = new vis.DataSet(workflow.edges.map(edgeToEdge));
          data = {nodes: nodes, edges: edges};
          network = new vis.Network(container, data, dsoptions);
          network.setOptions( { physics: false } );
          nodes.map(n => network.moveNode(n.id, n.x, n.y));
        }
      });
    });

    function savePositions() {
      $.ajax({
        type: "POST",
        url: "/workflows/save_positions",
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(network.getPositions(), null, '\t'),
        success: function() { }
      });
    }

    $(window).bind('beforeunload', function() {
      savePositions()
    });
  </script>
{% endblock javascripts %}
