{% extends "base_site.html" %}

{% block title %} Service creation {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class='form-group'>
          <select class="form-control required" id="services"></select>
        </div>
        <div class='form-group'>
          <select class="form-control required" id="service-instance"></select>
        </div>
        <div class="x_panel">
          <div class="x_content">
            <form data-parsley-validate id="form" class="form-horizontal form-label-left" method="post">
              <div class="form-group" style="height: 650px">
                <label>Name</label>
                <div class="form-group">
                  <input class="form-control" id="name" type="text">
                </div>
                <div id="html-form"></div>
                <div class="ln_solid"></div>
                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="button" class="btn btn-success" onclick="saveService()">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    const servicesClasses = {{ services_classes|tojson|safe }};
  </script>
  <script src="{{ url_for('services_blueprint.static', filename='customServices.js') }}"></script>
{% endblock javascripts %}
