<form data-parsley-validate id="netmiko_validation-form" name="send" class="form-horizontal form-label-left" method="post">
  <div class="col-md-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <div class="form-group" style="height: 650px">
          {% for field in form if field.widget.input_type != 'hidden'  %}     
            {% if 'regex' in field.name %}
              <fieldset>
              <div class="item">
                {{ field(id="netmiko_validation-" + field.name) }}
                <label for="netmiko_validation-" + field.name>{{ field.label.text }}</label>
              </div>
              </fieldset>
            {% else %}
              <label>{{ field.label.text }}</label>
              <div class='form-group'>
                {% set validate = " required" if field.name == "name" else "" %}
                {{ field(id="netmiko_validation-" + field.name, class="form-control" + validate, placeholder=field.label.text) }}
              </div>
            {% endif %}
          {% endfor %}
          <div class="ln_solid"></div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">
            <button class="btn btn-primary" type="reset">Reset</button>
            <button id="netmiko_validation-button" type="button" class="btn btn-success" onclick="createScript('netmiko_validation')">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>