{% extends "base_site.html" %}

{% block title %} Geographical View {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('views_blueprint.static', filename='leaflet/leaflet.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='enms/contextMenu.css') }}" rel="stylesheet">
  <link href="{{ url_for('views_blueprint.static', filename='leaflet-markercluster/leaflet.markercluster.min.css') }}" rel="stylesheet">
  {% if view_type == 'site' %}
    <link href="{{ url_for('static', filename='vis/vis-network.min.css') }}" rel="stylesheet">
  {% endif %}
  <link href="{{ url_for('views_blueprint.static', filename='view.css') }}" rel="stylesheet">
  <style>
    #map { height:85vh; }
    #network { height:85vh; }
  </style>
{% endblock stylesheets %}

{% block content %}
  {% include 'link_modal.html' %}
  {% include 'device_automation_modal.html' %}
  {% include 'device_modal.html' %}
  {% include 'pool_modal.html' %}
  {% include 'connection_parameters_modal.html' %}
  <ul id="contextMenu" class="dropdown-menu" role="menu">
    <li class="menu dropdown-submenu geo-menu">
      <a class="menu-submenu menu-layer" tabindex="-1" href="#">Dimension<span class="caret-right"></span></a>
      <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">2D</a></li>
        <li><a tabindex="-1" href="#">Clustered 2D</a></li>
        <li><a tabindex="-1" href="#">3D</a></li>
      </ul>
    </li>
    <li class="menu dropdown-submenu geo-menu">
      <a class="menu-submenu menu-layer" tabindex="-1" href="#">Tile layer<span class="caret-right"></span></a>
      <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Open Street Map</a></li>
        <li><a tabindex="-1" href="#">Google Maps</a></li>
        <li><a tabindex="-1" href="#">NASA</a></li>
      </ul>
    </li>
    <li class="menu dropdown-submenu geo-menu">
      <a class="menu-submenu menu-layer" tabindex="-1" href="#">Type of Marker<span class="caret-right"></span></a>
      <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Image</a></li>
        <li><a tabindex="-1" href="#">Circle</a></li>
        <li><a tabindex="-1" href="#">Circle Marker</a></li>
      </ul>
    </li>
    <li class="menu network-menu insite-menu"><a tabindex="-1" href="#">Display sites</a></li>
    <li class="menu rc-site-menu"><a tabindex="-1" href="#">Pool properties</a></li>
    <li class="menu rc-site-menu"><a tabindex="-1" href="#">Enter site</a></li>
    <li class="menu rc-device-menu"><a tabindex="-1" href="#">Device properties</a></li>
    <li class="menu rc-device-menu"><a tabindex="-1" href="#">Connect</a></li>
    <li class="menu rc-device-menu"><a tabindex="-1" href="#">Automation</a></li>
    <li class="menu rc-link-menu"><a tabindex="-1" href="#">Link properties</a></li>
  </ul>
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            {% if view_type == 'site' %}
              <div align='center' id="network"></div>
            {% endif %}
            <div class="flip-container">
              <div class="flipper">
                {% set earth_front = parameters.default_view == "3D" %}
                <div class="{{ "front" if earth_front else "back" }}" id="earth"></div>
                <div class="{{ "back" if earth_front else "front" }}" id="map"></div>
              </div>
            </div>
            <div class="btn-group" style="z-index:500; position: absolute; left:35vw; top:10px;">  
              <strong><p class="btn btn-danger" style="min-width:100px; display: none;" id="name-box"></p></strong>
            </div>
            {% if view_type == 'network' %}
              <div class="btn-group-vertical" style="width: 50vw; z-index:500; position: absolute; top: 10px; right:10vw;">
                <form id="pool-restriction-form" method="post">
                  {{ pool_restriction_form.list_fields() }}
                  <div class="form-group">
                    {{ pool_restriction_form.pools(id="restrict-pool", class="form-control") }}
                  </div>
                </form>
              </div>
            {% endif %}
            {{ buttons }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    const propertyTypes = {{ property_types|tojson|safe }};
    let subtype_sizes = {{ subtype_sizes|tojson|safe }};
    let link_colors = {{ link_colors|tojson|safe }};
    let parameters = {{ parameters|tojson|safe }};
    let view = '{{ view }}';
  </script>
  <script src="{{ url_for('static', filename='enms/contextMenu.js') }}"></script>
  <script src="{{ url_for('static', filename='vis/vis.min.js') }}"></script>
  <script src="{{ url_for('inventory_blueprint.static', filename='objectCommonFunctions.js') }}"></script>
  <script src="{{ url_for('views_blueprint.static', filename='webgl-earth/api.min.js') }}"></script>
  <script src="{{ url_for('views_blueprint.static', filename='leaflet/leaflet.min.js') }}"></script>
  <script src="{{ url_for('views_blueprint.static', filename='leaflet-markercluster/leaflet.markercluster.min.js') }}"></script>
  <script src="{{ url_for('views_blueprint.static', filename='commonView.js') }}"></script>
  {% if view_type == 'network' %}
    <script src="{{ url_for('views_blueprint.static', filename='networkView.js') }}"></script>
  {% else %}
    <script src="{{ url_for('views_blueprint.static', filename='logicalView.js') }}"></script>
    <script src="{{ url_for('views_blueprint.static', filename='siteView.js') }}"></script>
  {% endif %}
{% endblock javascripts %}