{% extends "base_site.html" %}

{% block title %} Calendar {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <!-- FullCalendar -->
  <link href="{{ url_for('tasks_blueprint.static', filename='fullcalendar/fullcalendar.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
{% include 'scheduling_modal.html' %}
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_content">
          <div id='calendar'></div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- FullCalendar -->
  <script src="{{ url_for('tasks_blueprint.static', filename='fullcalendar/fullcalendar.min.js') }}"></script>
  <!-- jQuery Smart Wizard -->
  <script src="{{ url_for('views_blueprint.static', filename='js/smart-wizard/js/jquery.smartWizard.js') }}"></script>
  <!-- Bootstrap Datetimepicker -->
  <script src="{{ url_for('views_blueprint.static', filename='js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
  <!-- Initialize datetimepicker and SmartWizard -->
  <script>
    var dates = ['start_date', 'end_date'];
    var today = new Date();
    for (var i = 0; i < dates.length; i++) {
      $('#' + dates[i]).datetimepicker({
        format: 'DD/MM/YYYY HH:mm:ss',
        widgetPositioning: {
            horizontal: 'left',
            vertical: 'bottom'
        },
        useCurrent: false,
      });
      $('#' + dates[i]).data("DateTimePicker").minDate(today);
    }

    function schedule(){
      $('#wizard').smartWizard({
        onFinish: scheduleScript
      });
      $('.buttonNext').addClass('btn btn-success');
      $('.buttonPrevious').addClass('btn btn-primary');
      $('.buttonFinish').addClass('btn btn-default');
    }

    function  init_calendar() {
      if( typeof ($.fn.fullCalendar) === 'undefined'){ return; }

      var date = new Date(),
        d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear(),
        started,
        categoryClass;

      var calendar = $('#calendar').fullCalendar({
        header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listMonth'
        },
        selectable: true,
        selectHelper: true,
        eventClick: function(calEvent, jsEvent, view) {
          $.ajax({
            type: "POST",
            url: `/tasks/get_${calEvent.title}`,
            dataType: 'json',
            success: function(properties){
              for (const [property, value] of Object.entries(properties)) {
                $(`#${property}`).val(value);
              }
            }
          });
          $('#scheduling').modal('show');

        },
        editable: true,
        events: [
        {% for task, task_time in tasks.items() %}
          {
          title: '{{ task.name }}',
          description: `{{ task.description }}`,
          start: new Date({{ task_time }})
          }, 
        {% endfor %}
        ]
      });
    };

    function scheduleScript() {
      $.ajax({
        type: "POST",
        url: "/tasks/scheduler",
        dataType: "json",
        data: $("#scheduling-form").serialize(),
        success: function() {
          alertify.notify('Task edited', 'success', 5);
        }
      });
      $("#scheduling").modal('hide');
    }
    $(document).ready(function() {
      init_calendar();
    });
  </script>
{% endblock javascripts %}
