{% extends "base_site.html" %}

{% block title %} Calendar {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <!-- FullCalendar -->
  <link href="{{ url_for('tasks_blueprint.static', filename='fullcalendar/fullcalendar.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_content">
            <div id='calendar'></div>
          </div>
        </div>
      </div>
    </div>

    <!-- calendar modal -->
    <div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="main-title">Task</h4>
          </div>

          <div class="modal-body">
            <div id="testmodal2" style="padding: 5px 20px;">
              <form id="antoform2" class="form-horizontal calender" role="form">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Name</label>
                  <div class="col-sm-9">
                    <input readonly type="text" class="form-control" id="title" name="title">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Description</label>
                  <div class="col-sm-9">
                    <textarea readonly class="form-control" style="height:150px;" id="descr" name="descr"></textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
  </div>
{% endblock content %}


{% block javascripts %}
  {{ super() }}
  <!-- FullCalendar -->
  <script src="{{ url_for('tasks_blueprint.static', filename='fullcalendar/fullcalendar.min.js') }}"></script>
  <script>
      function  init_calendar() {
        
      if( typeof ($.fn.fullCalendar) === 'undefined'){ return; }
      console.log('init_calendar');
        
      var date = new Date(),
        d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear(),
        started,
        categoryClass;

      var calendar = $('#calendar').fullCalendar({
        header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listMonth'
        },
        selectable: true,
        selectHelper: true,
        select: function(start, end, allDay) {
        $('#fc_create').click();

        started = start;
        ended = end;

        $(".antosubmit").on("click", function() {
          var title = $("#title").val();
          if (end) {
          ended = end;
          }

          categoryClass = $("#event_type").val();

          if (title) {
          calendar.fullCalendar('renderEvent', {
            title: title,
            start: started,
            end: end,
            allDay: allDay
            },
            true // make the event "stick"
          );
          }

          $('#title').val('');

          calendar.fullCalendar('unselect');

          $('.antoclose').click();

          return false;
        });
        },
        eventClick: function(calEvent, jsEvent, view) {
        $('#fc_edit').click();
        $('#title').val(calEvent.title);
        $('#descr').val(calEvent.description);

        categoryClass = $("#event_type").val();

        $(".antosubmit2").on("click", function() {
          calEvent.title = $("#title").val();
          calEvent.description = $("#descr").val();

          calendar.fullCalendar('updateEvent', calEvent);
          $('.antoclose2').click();
        });

        calendar.fullCalendar('unselect');
        },
        editable: true,
        events: [
        {% for task, task_time in tasks.items() %}
          {
          title: '{{ task.name }}',
          description: `{{ task.description }}`,
          start: new Date({{ task_time }})
          }, 
        {% endfor %}
        ]
      });
      
    };
    $(document).ready(function() {
      init_calendar();
    });
  </script>
{% endblock javascripts %}
