{% extends "base_site.html" %}

{% block title %} Task management {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('tasks_blueprint.static', filename='difflib/diffview.css') }}" rel="stylesheet">
  <style>
    @media (min-width: 1000px) {
      .modal-lg {
        width: 1200px;
      }
    }
  </style>
{% endblock stylesheets %}

{% block content %}
  {% include 'scheduling_modal.html' %}
<div id="show-logs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="title"></h4>
      </div>
      <div class="modal-body">
        <pre id="logs"></pre>
      </div>
    </div>
  </div>
</div>
<div id="compare-logs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Compare results</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label>First node</label>
            {{ compare_form.first_node(class="form-control") }}
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label>First script</label>
            {{ compare_form.first_script(class="form-control") }}
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label>First version</label>
            {{ compare_form.first_version(class="form-control") }}
          </div>

        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label>Second node</label>
            {{ compare_form.second_node(class="form-control") }}
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label>Second script</label>
            {{ compare_form.second_script(class="form-control") }}
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <label>Second version</label>
            {{ compare_form.second_version(class="form-control") }}
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div style="width: 100%; margin: 0 auto;" id="view" class="col-md-12 col-sm-12 col-xs-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_content">
          <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th style="width: 20%">Name</th>
                <th style="width: 10%">Creation time</th>
                <th>Creator</th>
                <th>Frequency</th>
                <th style="width: 10%">Status</th>
                <th style="width: 10%">Logs</th>
                <th style="width: 10%">Compare</th>
                <th style="width: 10%">Edit</th>
                <th style="width: 10%">Action</th>
                <th style="width: 10%">Delete</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <!-- end project list -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- Difflib -->
  <script src="{{ url_for('tasks_blueprint.static', filename='difflib/diffview.js') }}"></script>
  <!-- Scheduling: wizard / bootstrap datetimepicker -->
  <script src="{{ url_for('static', filename='enms/scheduling.js') }}"></script>
  <!-- Task management -->
  <script>
    var fields = {{ fields|tojson|safe }}
    var tasks = {{ tasks|tojson|safe }}
  </script>
  <script src="{{ url_for('tasks_blueprint.static', filename='task_management.js') }}"></script>
{% endblock javascripts %}
