<div class="right_col" role="main">
  <!-- begin row -->
  <div class="row">
    <!-- begin column -->
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="min-height: 90vh">
        <div class="x_content">
          <form id="import-form" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" >
            <label class="btn btn-default btn-file" style="width:100%;">Import network topology
              <input id="file" name="file" style="visibility:hidden; display:none" type="file">
            </label>
          </form>
          <label class="btn btn-default btn-file" style="width:100%;">
            <a href="export_topology" style="color: black;">Export network topology</a>
          </label>
          <div class="panel-group">
            <div style="padding-bottom:5px;">
              <button class="btn btn-default btn-file" onclick="showModal('device')" style="width:100%;">
                Add a new device
              </button>
            </div>
          </div>
          <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                {% for field in fields %}
                  <th>{{ names[field] }}</th>
                {% endfor %}
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end column -->
  </div>
  <!-- end row -->
</div>