<div class="left_col scroll-view">
  <br>
  <div class="navbar nav_title" style="border:0;">
    <center>
      <h3 style="font-size:30px; color:#30C2A5">eNMS</h3>
    </center>
  </div>
  <div class="clearfix"></div>
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i>Home<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/table_log">Logs</a></li>
          </ul>
        </li>
        {% if current_user.allowed('Admin Section') %}
          <li><a><i class="fa fa-users"></i>Admin<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/table_user">User Management</a></li>
              <li><a href="/table_instance">Instance Management</a></li>
              <li><a href="/administration">Administration Panel</a></li>
              <li><a href="/advanced">Advanced</a></li>
            </ul>
          </li>
        {% endif %}
        {% if current_user.allowed('View') %}
          <li><a><i class="fa fa-sitemap"></i>Inventory<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/table_device">Device Management</a></li>
              <li><a href="/table_configuration">Configuration Management</a></li>
              <li><a href="/table_link">Link Management</a></li>
              <li><a href="/table_pool">Pool Management</a></li>
              <li><a href="/import_export">Import & Export</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-map-marker"></i>Views<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/network_view">Network View</a></li>
              <li><a href="/site_view">Site View</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-clock-o"></i>Automation<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/table_service">Service Management</a></li>
              <li><a href="/table_workflow">Workflow Management</a></li>
              <li><a href="/workflow_builder">Workflow Builder</a></li>
              <li><a href="/table_logrule">Log Automation</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-clock-o"></i>Scheduling<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/table_task">Task Management</a></li>
              <li><a href="/calendar">Calendar</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
