{% extends "base_site.html" %}

{% block title %} Logs Management {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div style="min-height:80vh;" class="x_content">
            <div class="tab-content">
              <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th style="width: 15%">Source IP</th>
                    <th>Content</th>
                    <th style="width: 10%">Delete</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    var fields = {{ fields|tojson|safe }};
    var logs = {{ logs|tojson|safe }};
  </script>
  <script src="{{ url_for('logs_blueprint.static', filename='logManagement.js') }}"></script>
{% endblock javascripts %}
