{% extends "base_site.html" %}

{% block title %} Logs Automation {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div id="edit-logrule" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="title-logrule"></h4>
        </div>
        <div class="x_panel">
          <div class="x_content">
            <form id="edit-logrule-form" data-parsley-validate class="form-horizontal form-label-left" method="post" autocomplete="off">
              {{ log_automation_form.id(id='logrule-id') }}
              {{ log_automation_form.list_fields() }}
              <label>Name</label>
              <div class='form-group'>
                {{ log_automation_form.name(id='logrule-name', class="form-control required") }}
              </div>
              <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    {% for property in log_automation_form.properties %}
                      <th>{{ names[property] }}</th>
                    {% endfor %}
                    <th>Regex</th>
                  </tr>
                </thead>
                <tbody>
                  {% for property in log_automation_form.properties %}
                    <tr>
                      <td>{{ names[property] }}</td>
                      <td>{{ log_automation_form[property](id='logrule-' + property, class="form-control") }}</td>
                      <td>{{ log_automation_form[property + '_regex'](id='logrule-' + property + '_regex', class="form-control") }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <label>Services or Workflows</label>
              <div class='form-group'>
                {{ log_automation_form.jobs(id='logrule-jobs', class="form-control required", size=20) }}
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="button" class="btn btn-success" onclick="processData('logrule')">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content" style="height:800px;">
            <div class="panel-group">
              <div style="padding-bottom:5px;">
                <button class="btn btn-default btn-file" onclick="showCreateModal('logrule')" style="width:100%;">
                  Create a New Log Rule
                </button>
              </div>
            </div>
            <div class="page-title">
              <div class="title_left">
                <h3>Existing Log Rules</h3>
              </div>
            </div>
            <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th style="width: 15%">Name</th>
                  <th style="width: 10%">Source IP</th>
                  <th>Content</th>
                  <th style="width: 10%">Edit</th>
                  <th style="width: 10%">Delete</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    const propertyTypes = {{ property_types|tojson|safe }};
    var fields = {{ fields|tojson|safe }};
    var logRules = {{ log_rules|tojson|safe }};
  </script>
  <script src="{{ url_for('logs_blueprint.static', filename='logAutomation.js') }}"></script>
{% endblock javascripts %}
