{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Total Devices</span>
        <div class="count">{{ counters['Device'] }}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Total Links</span>
        <div class="count">{{ counters['Link'] }}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Services</span>
        <div class="count">{{ counters['Service'] }}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Workflows</span>
        <div class="count">{{ counters['Workflow'] }}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Tasks</span>
        <div class="count">{{ counters['Task'] }}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
        <div class="count">{{ counters['User'] }}</div>
      </div>
    </div>
    <!-- /top tiles -->
    <div class="row">
      {% for type, type_properties in properties.items() %}
        {% set properties = device_properties if type == 'device' else link_properties %}
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h4 class="text-center">{{ type|capitalize }}s</h4>
            </div>
            <div class="x_content">
              <div class="form-group">
                <select id="{{ type }}-properties" class="form-control">
                  {% for property in type_properties %}
                    {% if property == default_properties[property] %}
                      <option selected="selected">Type</option>
                    {% else %}
                      <option>{{ names[property] }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div id="{{ type }}" style="height:350px;"></div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- ECharts -->
  <script src="{{ url_for('static', filename='echarts/echarts.min.js') }}"></script>
  <script>
    var defaultProperties = {{default_properties|tojson|safe}};
    var counters = {{counters|tojson|safe}};
  </script>
  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock javascripts %}
