<div class="right_col" role="main">
  <!-- begin row -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content" style="height:800px;">
          <div role="tabpanel" data-example-id="togglable-tabs">
            <ul class="nav nav-tabs bar_tabs" role="tablist">
              <li role="presentation" class="active"><a href="#rule-creation" role="tab" data-toggle="tab" aria-expanded="true">Rule creation</a>
              <li role="presentation" class=""><a href="#rule-management" role="tab" data-toggle="tab" aria-expanded="false">Rule management</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade active in" id="rule-creation">
                <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Source</th>
                      <th>Content</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="rule-management">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>