{% extends "base_site.html" %}

{% block title %} Logs automation {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  {% include 'log_automation_modal.html' %}
  {% include 'log_automation_table.html' %}
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    var fields = {{ fields|tojson|safe }};
    var logRules = {{ log_rules|tojson|safe }};
  </script>
  <script src="{{ url_for('static', filename='logAutomation.js') }}"></script>
{% endblock javascripts %}
