{% extends "base_site.html" %}
{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div style="min-height:90vh;" class="x_content">
            <div class="page-title">
              {% if type != "configuration" %}
              <div class="title_left">
                <button class="btn btn-default btn-file" onclick="showTypePanel('{{ type }}')" style="width:100%;">
                  Create a new {{ type }}
                </button>
              </div>
              {% endif %}
              {% if type in ("configuration", "device", "link") %}
                <div class="title_right">
                  <button class="btn btn-default btn-file" onclick="showFilteringPanel('{{ type }}')" style="width:100%;">
                    Filter
                  </button>
                </div>
              {% endif %}
            </div>
            <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  {% for field in properties + fixed_columns %}
                    <th>{{ names[field] }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
      <script src="{{ url_for('inventory_blueprint.static', filename='objectCommonFunctions.js') }}"></script>
  <script>

    let table = initTable("{{ type }}", {{ fixed_columns|tojson|safe }});
    {% if type == "instance" %}
      /**
      * Get Cluster Status.
      */
      function getClusterStatus() {
        call("/admin/get_cluster_status", function(cluster) {
          table.ajax.reload(null, false);
          setTimeout(getClusterStatus, 15000);
        });
      }
      getClusterStatus();
    {% endif %}
    
  </script>
{% endblock javascripts %}