ip vrf {{ VRF_name }}
rd {{ ASN_PE }}:235
route-target import {{ ASN_PE }}:410
route-target export {{ ASN_PE }}:400
maximum route 10000 80
                            
interface {{ IF_PE2 }}.{{ VLAN_ID2 }}
des -- Automation test --
encapsulation dot1Q {{ VLAN_ID2 }}
ip vrf forwarding {{ VRF_name }}
ip address {{ ip_address }} {{ subnet_mask }}

interface Loopback {{ loopback }}
ip vrf forwarding {{ VRF_name }}
ip address {{ loopback_ip }} 255.255.255.255

router bgp {{ ASN_PE }}
address-family ipv4 vrf {{ VRF_name }}
network {{ loopback_ip }} mask 255.255.255.255
neighbor {{ neighbor_ip }} remote-as {{ ASN_CE }}
neighbor {{ neighbor_ip }} activate
neighbor {{ neighbor_ip }} send-community both
neighbor {{ neighbor_ip }} as-override
exit-address-family
