{% extends "base_site.html" %}

{% block title %} Logs overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content" style="height:550px;">
            <div role="tabpanel" data-example-id="togglable-tabs">
              <ul class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#logs" role="tab" data-toggle="tab" aria-expanded="true">Logs</a>
                </li>
                <li role="presentation" class=""><a href="#docs" role="tab" data-toggle="tab" aria-expanded="false">Filters</a>
                </li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="logs">
                  <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        {% for property in form.properties %}
                          <th>{{ names[property] }}</th>
                        {% endfor %}
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody id="log-body">
                      {% for log in logs %}
                        <tr id="{{ log['source'] }}-{{ log['content'] }}">
                          {% for property in form.properties %}
                            <td>{{ log[property] }}</td>
                          {% endfor %}
                          <td>
                            <button type="button" class="btn btn-danger btn-xs" onclick="deleteObject('{{ log['source'] }}', '{{ log['content'] }}')">Delete</button>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="docs">
                  <form id="form" data-parsley-validate class="form-horizontal form-label-left" method="post">
                    <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          {% for property in form.properties %}
                            <th>{{ names[property] }}</th>
                          {% endfor %}
                          <th>Regex</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for property in form.properties %}
                          <tr>
                            <td>{{ names[property] }}</td>
                            <td>{{ form[property](class="form-control") }}</td>
                            <td>{{ form[property + 'regex'](class="form-control") }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="button" class="btn btn-success" onclick="filterLogs()">Filter</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    $('#log-table').DataTable();

    function filterLogs() {
      $.ajax({
        type: "POST",
        url: "/filter_logs",
        data: $('#form').serialize(),
        success: function(logs) {
          $("#log-body").empty();
          for (i = 0; i < logs.length; i++) {
            log = ['<tr>'];
            for (j = 0; j < logs[i].length; j++) {
              log.push(`<td>${logs[i][j]}</td>`);
            }
            log.push('</tr>');
            $("#log-body").append(log.join(''));
          }
          alertify.notify(`Logs successfully filtered !`, 'success', 5);
        }
      });
    }

    function deleteLog(source, content) {
      $(`#${source}-${content}`).remove();
      $.ajax({
        type: "POST",
        url: `/delete_log_${source}_${content}`,
        success: function(msg){
          alertify.notify("Log deleted", 'error', 5);
        }
      });
    }
  </script>
{% endblock javascripts %}
