{% extends "base_site.html" %}

{% block title %} Logs overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content" style="height:800px;">
            <div role="tabpanel" data-example-id="togglable-tabs">
              <ul class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#logs" role="tab" data-toggle="tab" aria-expanded="true">Logs</a>
                </li>
                <li role="presentation" class=""><a href="#docs" role="tab" data-toggle="tab" aria-expanded="false">Filters</a>
                </li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="logs">
                  <table id="log-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        {% for property in form.properties %}
                          <th>{{ names[property] }}</th>
                        {% endfor %}
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody id="log-body">
                      {% for log in logs %}
                        <tr>
                          {% for property in form.properties %}
                            <td>{{ log[property] }}</td>
                          {% endfor %}
                          <td>
                            <button type="button" class="btn btn-danger btn-xs" onclick="deleteLog('{{ log.id }}')">Delete</button>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="docs">
                  <form id="form" data-parsley-validate class="form-horizontal form-label-left" method="post">
                    <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          {% for property in form.properties %}
                            <th>{{ names[property] }}</th>
                          {% endfor %}
                          <th>Regex</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for property in form.properties %}
                          <tr>
                            <td>{{ names[property] }}</td>
                            <td>{{ form[property](class="form-control") }}</td>
                            <td>{{ form[property + 'regex'](class="form-control") }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="button" class="btn btn-success" onclick="filterLogs()">Filter</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    var fields = {{ fields|tojson|safe }}
    var logs = {{ logs|tojson|safe }}
  </script>
  <script>
    var table = $('#log-table').DataTable();

    function addPool(properties) {
      values = [];
      for (var i = 0; i < fields.length; i++) {
        values.push(`${properties[fields[i]]}`);
      }
      values.push(`<button type="button" class="btn btn-danger btn-xs" onclick="deleteLog('${properties.id}')">Delete</button>`);
      table.row.add(values).draw(false);
    }


    function filterLogs() {
      $.ajax({
        type: "POST",
        url: "/filter_logs",
        data: $('#form').serialize(),
        success: function(logs) {
          table.clear();
          for (var i = 0; i < logs.length; i++) {
            log = [];
            for (var j = 0; j < logs[i].length; j++) {
              log.push(`${logs[i][j]}`);
            }
            table.row.add(log).draw(false);

          }
          alertify.notify(`Logs successfully filtered !`, 'success', 5);
        }
      });
    }

    function deleteLog(id) {
      $(`#${id}`).remove();
      $.ajax({
        type: "POST",
        url: `/delete_log/${id}`,
        success: function(msg){
          alertify.notify("Log deleted", 'error', 5);
        }
      });
    }
  </script>
{% endblock javascripts %}
