<div class="left_col scroll-view">
  <br>
  <div class="navbar nav_title" style="border:0;">
    <center>
      <h3 style="font-size:30px; color:#30C2A5">eNMS</h3>
    </center>
  </div>
  <div class="clearfix"></div>
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i>Home<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/dashboard">Dashboard</a></li>
          </ul>
        </li>
        {% if current_user.allowed('Admin Section') %}
          <li><a><i class="fa fa-users"></i>Admin<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/admin/user_management">User Management</a></li>
              <li><a href="/admin/administration">Administration Panel</a></li>
              <li><a href="/admin/database">Database</a></li>
              <li><a href="/admin/instance_management">Instance Management</a></li>
            </ul>
          </li>
        {% endif %}
        {% if current_user.allowed('View') %}
          <li><a><i class="fa fa-sitemap"></i>Inventory<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/inventory/device_management">Device Management</a></li>
              <li><a href="/inventory/configuration_management">Configuration Management</a></li>
              <li><a href="/inventory/link_management">Link Management</a></li>
              <li><a href="/inventory/pool_management">Pool Management</a></li>
              <li><a href="/inventory/import_export">Import & Export</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-map-marker"></i>Views<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/views/geographical_view">Geographical View</a></li>
              <li><a href="/views/logical_view">Logical View</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-clock-o"></i>Automation<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/automation/service_management">Service Management</a></li>
              <li><a href="/automation/workflow_management">Workflow Management</a></li>
              <li><a href="/automation/workflow_builder">Workflow Builder</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-clock-o"></i>Scheduling<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/scheduling/task_management">Task Management</a></li>
              <li><a href="/scheduling/calendar">Calendar</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-clock-o"></i>Logs<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/logs/log_management">Log Management</a></li>
              <li><a href="/logs/log_automation">Log Automation</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
