<div class="left_col scroll-view">
  <br>
  <div class="navbar nav_title" style="border:0;">
    <center>
      <h3 style="font-size:35px; color:#30C2A5">eNMS</h3>
    </center>
  </div>
  <div class="clearfix"></div>
  <br>
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>Menu</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i>Home<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/log_management">Log Management</a></li>
            <li><a href="/log_automation">Log Automation</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-users"></i>Admin<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/admin/user_management">User Management</a></li>
            <li><a href="/admin/administration">Administration Panel</a></li>
            <li><a href="/admin/parameters">Parameters</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-sitemap"></i>Inventory<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/objects/device_management">Device Management</a></li>
            <li><a href="/objects/link_management">Link Management</a></li>
            <li><a href="/objects/pool_management">Pool Management</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-map-marker"></i>Views<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/views/geographical_view">Geographical View</a></li>
            <li><a href="/views/logical_view">Logical View</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-clock-o"></i>Microservices<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/services/service_management">Service Management</a></li>
            <li><a href="/services/service_editor">Service Editor</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-clock-o"></i>Workflows<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/workflows/workflow_management">Workflow Management</a></li>
            <li><a href="/workflows/workflow_editor/">Workflow Editor</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-clock-o"></i>Task Management<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/tasks/task_management/service">Service Tasks</a></li>
            <li><a href="/tasks/task_management/workflow">Workflow Tasks</a></li>
            <li><a href="/tasks/calendar">Calendar</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
