{% extends "base_site.html" %}

{% block title %} Sign up {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
  <div class="login_wrapper">
    <section class="login_content">
      <form method="post">
        <h1>Create Account</h1>
        
        {% for field in form if field.widget.input_type != 'hidden'  %}
          <div>
            {{ field(class="form-control", placeholder=field.label.text) }}
          </div>
        {% endfor %}
        
        <div>
          <button type="submit" class="btn btn-default submit" name="create_account">Sign up</button>
        </div>

        <div class="separator">
        Already a member ?
        <a href="login" class="to_register"> Log in </a>

        </div>
      </form>
    </section>
  </div>
{% endblock body %}

