{% extends "base_site.html" %}

{% block title %} User management {% endblock title %}

{% block stylesheets %}
  {{ super() }}
 <!-- Vis CSS -->
  <link href="{{ url_for('workflows_blueprint.static', filename='vis/vis-network.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  {% include 'editor_modals.html' %}
  {% include 'editor_panels.html' %}
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    var scripts = {{ scripts|tojson|safe }};
    var edges = {{ edges|tojson|safe }};
    console.log(workflows, scripts, edges);
  </script>
  <!-- Vis JS -->
  <script src="{{ url_for('workflows_blueprint.static', filename='vis/vis.js') }}"></script>
  <script>
    function showModal(modal_name){
      $(`#${modal_name}`).modal('show');
      }

    var container = document.getElementById('network');
    var dsoptions = {
      edges: {
        font: {
          size: 12
        }
      },
      nodes: {
        shape: 'box',
        font: {
          bold: {
            color: '#0077aa'
          }
        }
      },
      manipulation: {
        enabled: false,
        addNode: function (data, callback) {
          // filling in the popup DOM elements
          console.log(data);
        },
        editNode: function (data, callback) {
          // filling in the popup DOM elements
          console.log('edit', data);
        },
        addEdge: function (data, callback) {
          data.arrows = {to: {enabled: true}};
          data.type = edge_type;
          data.label = edge_type;
          color = edge_type == 'success' ? 'green' : 'red'
          data.color = { color: color }
          if (data.from != data.to) {
            edges.add(data);
          }
          network.addEdgeMode();
          saveWorkflow()
        }
      }
    };

    // when a filter is selected, apply it
    $('#workflow').on('change', function() {
      $.ajax({
        type: "POST",
        url: `/workflows/get/${this.value}`,
        dataType: "json",
        success: function(workflow){
        console.log(workflow);
        alertify.notify(`Workflow '${workflow.name}' displayed`, 'success', 5);
        }
      });
    });
    var nodes = new vis.DataSet();
    var edges = new vis.DataSet();

    // Create a DataSet with data (enables two way data binding)
    var data = {nodes: nodes, edges: edges};
    var network = new vis.Network(container, data, dsoptions);

    network.on( 'doubleClick', function(properties) {
        var ids = properties.nodes;
        var node = nodes.get(ids)[0];
        if(typeof node !== "undefined") {
          showObjectModal(node.type, node.label);
        }
    });

    // use force-based algorithm upon loading the graph, stop after it has stabilized
    network.on("stabilizationIterationsDone", function () {
        network.setOptions( { physics: false } );
    });

    function addNodes() {
      var scripts = $('#scripts').val();
      console.log(scripts);
      for (var i = 0; i < scripts.length; i++) {
        if (!nodes.map(s => s.label).includes(scripts[i])) {
          nodes.add({
            id: scripts[i],
            label: scripts[i],
            type: $("#script_type").val()
          })
        } else {
          alertify.notify(`Cannot add ${scripts[i]}: already in the workflow`, 'error', 5);
        }
        $('#add-script').modal('hide');
      }
      saveWorkflow()
      alertify.notify("Scripts successfully added to the workflow", 'success', 5);
    }

    function deleteSelection() {
      network.deleteSelected()
      saveWorkflow()
      alertify.notify("Selected objects deleted", 'success', 5);
    }

    function switchMode(mode) {
      if (mode == "success" || mode == "failure") {
        edge_type = mode;
        network.addEdgeMode();
        alertify.notify(`Mode: creation of ${mode} edge`, 'success', 5);
      } else {
        network.addNodeMode();
        alertify.notify("Mode: node motion", 'success', 5);
      }
    }

    var start = null;
    function startScript() {
      start = nodes.get(network.getSelectedNodes()[0]);
      nodes.update({id: start.id, color: "green"});
      alertify.notify(`Script ${start.label} set as start`, 'success', 5);
      saveWorkflow()
    }

    function saveWorkflow() {
      ajax_data = {
        'nodes':  nodes.get({fields: ['id', 'label']}),
        'edges': edges.get({fields: ['to', 'from', 'type']}),
        'start': start
      }
      $.ajax({
        type: "POST",
        url: `/workflows/save_${workflow.id}`,
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(ajax_data, null, '\t'),
        success: function(msg){
          alertify.notify("Workflow saved", 'success', 5);
        }
      });
    }

    function runWorkflow() {
      $.ajax({
        type: "POST",
        url: `/workflows/run_${workflow.id}`,
        contentType: 'application/json;charset=UTF-8',
        success: function(){
          alertify.notify("Workflow successfully started", 'success', 5);
        }
      });
    }
    var types = [{% for type in type_to_form %} "{{ type }}", {% endfor %}];
    for (i = 0; i < types.length; i++) {
      $(`#${types[i]}-button`).text("Update");
    }

    // when a filter is selected, apply it
    $('#script_type').on('change', function() {
      $.ajax({
        type: "POST",
        url: `/scripts/script_type_${this.value}`,
        dataType: "json",
        success: function(scripts){
          $("#scripts").empty();
          $.each(scripts, function(_, s) {
            $("#scripts").append(`<option value="${s.id}">${s.name}</option>`);
          });
        }
      });
    });

    function showObjectModal(type, id) {
      $('#title').text(`Edit properties`);
      $.ajax({
        type: "POST",
        url: `/scripts/get/${type}/${id}`,
        success: function(properties){
          for (const [property, value] of Object.entries(properties)) {
            $(`#${type}-${property}`).val(value);
          }
        }
      });
      $(`#edit-${type}`).modal('show');
    }

    function createScript(type) {
      $.ajax({
        type: "POST",
        url: `/scripts/create_script_${type}`,
        dataType: "json",
        data: $(`#${type}-form`).serialize(),
        success: function() {
          alertify.notify("Script updated", 'success', 5);
        }
      });
    }

    function editObject(type) {
      $.ajax({
        type: "POST",
        url: `/scripts/edit_${type}`,
        dataType: "json",
        data: $(`#${type}-form`).serialize(),
        success: function(msg){
          alertify.notify('Script edited', 'success', 5);
        }
      });
      $(`#edit-${type}`).modal('hide');
    }
  </script>
{% endblock javascripts %}
