{% extends "base_site.html" %}

{% block title %} User management {% endblock title %}

{% block stylesheets %}
  {{ super() }}
 <!-- Vis CSS -->
  <link href="{{ url_for('workflows_blueprint.static', filename='vis/vis-network.min.css') }}" rel="stylesheet">
  <!-- Vis JS -->
  <script src="{{ url_for('workflows_blueprint.static', filename='vis/vis.js') }}"></script>
{% endblock stylesheets %}

{% block content %}
  <div id="add-script" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add script</h4>
        </div>
          <div class="modal-body">
            <div class="form-group">
            {{ form.scripts(id="scripts", class="form-control", size=15)}}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="reset">Reset</button>
            <button type="submit" name="view_options" class="btn btn-success" onclick="addNodes()">Submit</button>
          </div>
      </div>
    </div>
  </div>
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="btn-group-vertical" style="z-index:500; position: absolute; top: 10px; left:30px;">
              <button id="edge_mode" type="button" class="btn btn-primary" style="width:150px;" onclick="edgeMode()">Create edge</button>
              <button id="edge_mode" type="button" class="btn btn-primary" style="width:150px;" onclick="deleteSelection()">Delete selection</button>
              <button type="button" class="btn btn-primary" onclick="showModal('add-script')">Add script</button>
              <button type="button" class="btn btn-primary" onclick="startScript()">Set as start</button>
              <button type="button" class="btn btn-success" onclick="saveWorkflow()">Save changes</button>
              <button type="button" class="btn btn-danger" onclick="runWorkflow()">Run workflow</button>
            </div> 
            <div id="network" style="height:600px; width:100%;></div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <script>
    function showModal(modal_name){
      $(`#${modal_name}`).modal('show');
      }

    var container = document.getElementById('network');
    var dsoptions = {
      manipulation: {
        enabled: false,
        addNode: function (data, callback) {
          // filling in the popup DOM elements
          console.log(data);
        },
        editNode: function (data, callback) {
          // filling in the popup DOM elements
          console.log('edit', data);
        },
        addEdge: function (data, callback) {
          console.log('add edge', data);
          data.arrows = {to: {enabled: true}};
          if (data.from != data.to) {
            edges.add(data);
          }
          // after each adding you will be back to addEdge mode
          network.addEdgeMode();
        }
    }};

    var workflow_nodes = [
      {% for node in workflow.scripts %}
        {
          id: '{{ node.id }}',
          label: '{{ node.name }}',
          {% if workflow.start_script == node %}
            color: 'green',
          {% endif %}
        },
      {% endfor %}
    ];

    var workflow_edges = [
      {% for edge in workflow.edges %}
        {
          from: '{{ edge['source']['id'] }}',
          to: '{{ edge['destination']['id'] }}',
          arrows: {to: {enabled: true}}
        },
      {% endfor %}
    ];

    var nodes = new vis.DataSet(workflow_nodes);
    var edges = new vis.DataSet(workflow_edges);

    // Create a DataSet with data (enables two way data binding)
    var data = {nodes: nodes, edges: edges};
    var network = new vis.Network(container, data, dsoptions);

    function addNodes() {
      var scripts = $('#scripts').val();
      for (var i = 0; i < scripts.length; i++) {
        nodes.add({
          id: scripts[i],
          label: scripts[i]
        })
        $('#add-script').modal('hide');
      }
      updateMode();
    }

    function deleteSelection() {
      network.deleteSelected()
    }

    function updateMode() {
      if ($('#edge_mode').text() == "Create edge") {
        network.addNodeMode()
      } else {
        network.addEdgeMode();
      }
    }

    function edgeMode() {
      if ($('#edge_mode').text() == "Create edge") {
        $('#edge_mode').text("Move node");
        network.addEdgeMode()
      } else {
        $('#edge_mode').text("Create edge")
        network.addNodeMode();
      }
    }

    var start = null;
    function startScript() {
      start = nodes.get(network.getSelectedNodes()[0]);
      nodes.update({id: start.id, color: "green"});
    }

    function saveWorkflow() {
      ajax_data = {
        'nodes':  nodes.get({fields: ['id', 'label']}),
        'edges': edges.get({fields: ['to', 'from']}),
        'start': start
      }
      $.ajax({
        type: "POST",
        url: "/workflows/save_" + "{{ workflow.name }}",
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(ajax_data, null, '\t'),
        success: function(msg){
            $('.answer').html(msg);
        }
      });
    }

    function runWorkflow() {
      $.ajax({
        type: "POST",
        url: "/workflows/run_" + "{{ workflow.name }}",
        contentType: 'application/json;charset=UTF-8',
        success: function(msg){
            $('.answer').html(msg);
        }
      });
    }
    </script>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
