{% extends "base_site.html" %}

{% block title %} User overview {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div id="edit" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit user</h4>
        </div>
        <form id="edit-form" data-parsley-validate class="form-horizontal form-label-left" method="post">
          <div class="modal-body">
            <div class="form-group" style="height: 450px">
              {% for field in form if field.widget.input_type != 'hidden'  %}
                <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ field.label }}</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                  {{ field(id=field.name, class="form-control") }}
                </div><br><br>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="reset">Reset</button>
            <button type="button" class="btn btn-success" onclick="editUser()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="right_col" role="main">
    <!-- begin row -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content" style="height:550px;">
            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  {% for field in fields %}
                    <th>{{ names[field] }}</th>
                  {% endfor %}
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                  <tr id="{{ user.name }}">
                    {% for field in fields %}
                      <td>{{ user[field] }}</td>
                    {% endfor %}
                  <td>
                    <button type="button" class="btn btn-info btn-xs" onclick="showUserModal('{{ user['name'] }}')">Edit</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" onclick="deleteUser('{{ user['name'] }}')">Delete</button>
                  </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Datatables -->
  <script src="{{ url_for('static', filename='vendors/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables/dataTables.bootstrap.min.js') }}"></script>
  <script>
    $('#datatable-responsive').DataTable();

    function showUserModal(name) {
      $.ajax({
        type: "POST",
        url: `/users/get_${name}`,
        success: function(properties){
          for (const [property, value] of Object.entries(properties)) {
            $(`#${property}`).val(value);
          }
        }
      });
      $('#edit').modal('show');
    }
  
    function editUser(name) {
      var result = {};
      var fields = [{% for field in fields %} '{{ field }}', {% endfor %}];
      $.each($('#edit-form').serializeArray(), function() {
        result[this.name] = this.value;
      });
      console.log(result)
      var name = result.name;
      var values = [];
      for (i = 0; i < fields.length; i++) {
        values.push(`<td>${result[fields[i]]}</td>`);
      }
      values.push(`<td>
      <button type="button" class="btn btn-info btn-xs" onclick="showUserModal('${name}')">Edit</button>
      </td>
      <td>
      <button type="button" class="btn btn-danger btn-xs" onclick="deleteUser('${name}')">Delete</button>
      </td>`);
      console.log(values, name)
      $(`#${name}`).html(values.join(''));

      $.ajax({
        type: "POST",
        url: "/users/edit_user",
        dataType: "json",
        data: $('#edit-form').serialize(),
        success: function(msg){
          $('.answer').html(msg);
        }
      });
      $('#edit').modal('hide');
    }
  
    function deleteUser(name) {
      $(`#${name}`).remove();
      $.ajax({
        type: "POST",
        url: `/users/delete_${name}`,
        success: function(msg){
          $('.answer').html(msg);
        }
      });
    }
  </script>
{% endblock javascripts %}
