.tile_count {
  padding-top: 10px;
  text-align: center;
}

.tile_count .tile_stats_count .count {
  font-weight: 550;
  font-size: 35px;
  text-align: center;
}

.tile_count .tile_stats_count span {
  font-size: 15px;
}
