<<<<<<< HEAD
.tile_count {
  padding-top: 10px;
  text-align: center;
}

.tile_count .tile_stats_count .count {
  font-weight: 600;
  font-size: 55px;
  text-align: center;
}

.tile_count .tile_stats_count span {
  font-size: 15px;
}

legend.section {
  width: inherit;
  padding: 0 10px;
  border-bottom: none;
  margin-bottom: 5px;
}

fieldset.section {
  border: 1px groove #ddd;
  padding: 5px;
  margin: 0 0 1.5em 0;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}
=======
.tile_count {
  padding-top: 10px;
  text-align: center;
}

.tile_count .tile_stats_count .count {
  font-weight: 600;
  font-size: 55px;
  text-align: center;
}

.tile_count .tile_stats_count span {
  font-size: 15px;
}
>>>>>>> master
