body {
  margin: 0;
  background: #747676;
  color: #fff;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  background: #35363a;
}

.login_content {
  background: #35363a;
  border: 1px solid #35363a;
  border-radius: 7%;
  margin: 5% auto;
  max-width: 450px;
  padding: 30px 70px;
  text-align: center;
}

.login_content h1 {
  line-height: 20px;
  margin: 10px 0 40px;
}

.login_content form input {
  margin: 0 0 20px;
}

.login_content form input:focus {
  background-color: #1b1b1d
  border: 1px solid #99b5d6;
}
