body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #002240;
  color: #73879c;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
}

.left_column {
  background: #002240;
  height: 100%;
  float: left;
}

.nav-md .left_column {
  width: 230px;
}

.nav-sm .left_column {
  width: 70px;
}

.right_column {
  background: #ffffff;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
}

.nav-sm .right_column {
  left: 70px;
  width: calc(100% - 70px);
}

.nav-md .right_column {
  left: 230px;
  width: calc(100% - 230px);
}

/* Don't display menu under 800 px */
@media (max-width: 1000px) {
  .left_column {
    width: 0px;
    display: none;
  }

  .nav-sm .right_column {
    left: 0px;
    width: 100%;
  }

  .nav-md .right_column {
    left: 0px;
    width: 100%;
  }
}

.main_frame {
  background: #ffffff;
  width: 100%;
  padding: 10px 17px;
}

.header {
  height: 60px;
  width: 100%;
}

.x_title h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-sm .hidden-small {
  visibility: hidden;
}

.nav-sm .nav.side-menu li a {
  text-align: center !important;
  font-weight: 400;
  font-size: 10px;
  padding: 10px 5px;
}

.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
  border-right: 5px solid #1abb9c;
}

.nav-sm .nav.side-menu li.active-sm ul ul,
.nav-sm ul.nav.child_menu ul {
  position: static;
  width: 200px;
  background: 0 0;
}

.nav-sm > .nav.side-menu > li.active-sm > a {
  color: #1abb9c !important;
}

.nav-sm .nav.side-menu li a i.toggle-up {
  display: none !important;
}

.nav-sm .menu_section h3,
.nav-sm .menu_section span.fa,
.nav-sm .profile {
  display: none;
}

.nav-sm .nav.side-menu li a i {
  font-size: 25px !important;
  text-align: center;
  width: 100% !important;
  margin-bottom: 5px;
}

.nav-sm ul.nav.child_menu {
  left: 100%;
  position: absolute;
  top: 0;
  width: 210px;
  z-index: 4000;
  background: #3e5367;
  display: none;
}

.nav-sm ul.nav.child_menu li {
  padding: 0 10px;
}

.nav-sm ul.nav.child_menu li a {
  text-align: left !important;
}

.menu_section {
  margin-bottom: 35px;
}

.menu_section h3 {
  padding-left: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 1px 1px #000;
}

.menu_section > ul {
  margin-top: 10px;
}

.main_menu span.fa {
  float: right;
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  min-width: inherit;
  color: #c4cfda;
}

.active a span.fa {
  text-align: right !important;
  margin-right: 4px;
}

.nav-sm .menu_section {
  margin: 0;
}

.nav-sm li li span.fa {
  display: inline-block;
}

.nav_menu {
  float: left;
  background: #ededed;
  border-bottom: 1px solid #d9dee4;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

@media (min-width: 480px) {
  .nav_menu {
    position: static;
  }
}

/* Change background color upper menu item on hover */
.top_nav .nav .open > a,
.top_nav .nav > li > a:hover {
  background: #d9dee4;
}

a {
  color: #5a738e;
}

.top_nav .navbar-right {
  margin: 0;
  width: 70%;
  float: right;
}

.top_nav .navbar-right li {
  display: inline-block;
  float: right;
  position: static;
}

@media (min-width: 480px) {
  .top_nav .navbar-right li {
    position: relative;
  }
}

.top_nav .dropdown-menu li {
  width: 100%;
}

.top_nav .dropdown-menu li a {
  width: 100%;
  padding: 12px 20px;
}

.top_nav li a i {
  font-size: 15px;
}

.nav.side-menu > li {
  position: relative;
  display: block;
  cursor: pointer;
}

.nav.side-menu > li > a {
  margin-bottom: 6px;
}

.nav.side-menu > li > a:hover {
  color: #e3ebf3 !important;
}

.nav.side-menu > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background: 0 0;
}

.nav.child_menu {
  display: none;
}

.nav.child_menu li.active,
.nav.child_menu li:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

.nav.child_menu li {
  padding-left: 36px;
}

.nav-md ul.nav.child_menu li:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 8px;
  left: 23px;
  margin-top: 15px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  border-radius: 50%;
}

.nav-md ul.nav.child_menu li:after {
  border-left: 1px solid #425668;
  bottom: 0;
  content: "";
  left: 27px;
  position: absolute;
  top: 0;
}

.nav.top_menu > li > a,
.nav > li > a {
  position: relative;
  display: block;
}

.nav.child_menu > li > a,
.nav.side-menu > li > a {
  color: #e7e7e7;
  font-weight: 500;
}

.nav li li.current-page a,
.nav.child_menu li li a.active,
.nav.child_menu li li a:hover {
  color: #fff;
}

.nav.child_menu li li.active,
.nav.child_menu li li:hover {
  background: 0 0;
}

.nav > li > a {
  padding: 13px 15px 12px;
}

.nav.side-menu > li.active,
.nav.side-menu > li.current-page {
  border-right: 5px solid #1abb9c;
}

.nav li.current-page {
  background: rgba(255, 255, 255, 0.05);
}

.nav li li li.current-page {
  background: 0 0;
}

.navbar-brand,
.navbar-nav > li > a {
  color: #ecf0f1 !important;
  margin-left: 0 !important;
}

.nav.side-menu > li.active > a {
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  background: linear-gradient(#334556, #2c4257), #002240;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

.navbar-brand,
.navbar-nav > li > a {
  font-weight: 500;
  line-height: 32px;
}

.nav.navbar-nav > li > a {
  color: #515356 !important;
}

.nav.top_menu > li > a {
  padding: 10px 15px;
  color: #34495e !important;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}

.toggle {
  float: left;
  margin: 0;
  padding-top: 16px;
  width: 40px;
}

.toggle a {
  padding: 15px 15px 0;
  margin: 0;
  cursor: pointer;
}

.toggle a i {
  font-size: 26px;
}

.nav.child_menu > li > a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  padding: 9px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

.accordion .panel {
  margin-bottom: 5px;
  border-radius: 0;
  border-bottom: 1px solid #efefef;
}

.accordion .panel-heading {
  background: #e3ebf3;
  padding: 13px;
  width: 100%;
  display: block;
}

.accordion .panel:hover {
  background: #e3ebf3;
}

.x_title {
  border-bottom: 2px solid #e6e9ed;
  padding: 1px 5px 6px;
}

/* Alerts mechanism */
ul.msg_list li {
  background: #f7f7f7;
  width: 96% !important;
}

ul.msg_list li a .time {
  font-style: italic;
  font-weight: 700;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.dropdown-menu.msg_list span {
  white-space: normal;
}

.dropdown-menu {
  box-shadow: none;
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 9998;
  border: 1px solid #d9dee4;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown-menu > li > a {
  color: #5a738e;
}

.navbar-nav .open .dropdown-menu {
  position: absolute;
  background: #fff;
  margin-top: 0;
  border: 1px solid #d9dee4;
  -webkit-box-shadow: none;
  right: 0;
  left: auto;
  width: 220px;
}

.navbar-nav .open .dropdown-menu.msg_list {
  width: 300px;
}

.badge {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  left: 32px;
  top: 4px;
  background: #35bee7 !important;
  border: 1px solid #35bee7 !important;
  color: #fff;
}

.user-profile img {
  width: 29px;
  height: 29px;
  margin-right: 10px;
}

.main_menu {
  padding-top: 5px;
}

.main_menu .fa {
  width: 26px;
  opacity: 0.99;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
}

.btn,
.buttons,
.modal-footer .btn + .btn,
button {
  margin-bottom: 0px;
  margin-right: 0px;
}

.btn-group .btn,
.btn-group-vertical .btn {
  margin-bottom: 0;
  margin-right: 0;
}

.input-group {
  margin-bottom: 0px;
}

/* Form styling */
.form-control {
  border-radius: 0;
  width: 100%;
}

.form-horizontal .control-label {
  padding-top: 8px;
}

legend {
  font-size: 18px;
  color: inherit;
  padding-bottom: 7px;
}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.form-group {
  margin-bottom: 10px;
}

/* Buttons styling */

.btn {
  border-radius: 3px;
}

.btn-success {
  background: #26b99a;
  border: 1px solid #169f85;
}

.btn-success:hover {
  background: #169f85;
}

.btn-dark {
  color: #e9edef;
  background-color: #4b5f71;
  border-color: #364b5f;
}

.btn-dark:hover {
  color: #fff;
  background-color: #394d5f;
  border-color: #394d5f;
}

/* Separator for the right-click menu */
.divider {
  border-bottom: 1px solid #ddd;
  margin: 10px;
}

.dropdown-menu a {
  cursor: pointer;
}

.form-group .btn {
  margin-bottom: -6px;
}

.input-group-btn .btn {
  margin-bottom: 0;
}

.input-group.date .input-group-addon {
  border-radius: 0 !important;
  background-color: #ffff !important;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.wizard_horizontal ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 0 0 20px;
}

.wizard_horizontal ul.wizard_steps li {
  display: table-cell;
  text-align: center;
}

.wizard_horizontal ul.wizard_steps li a,
.wizard_horizontal ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  opacity: 1;
  color: #666;
}

.wizard_horizontal ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 4px;
  background: #ccc;
  top: 20px;
  width: 100%;
  z-index: 4;
  left: 0;
}

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
  background: #ccc;
}

.wizard_horizontal ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5;
}

.step_no,
.wizard_horizontal ul.wizard_steps li a.selected:before {
  background: #34495e;
  color: #fff;
}

.wizard_horizontal ul.wizard_steps li a.done .step_no,
.wizard_horizontal ul.wizard_steps li a.done:before {
  background: #1abb9c;
  color: #fff;
}

.wizard_horizontal ul.wizard_steps li:first-child a:before {
  left: 50%;
}

.wizard_horizontal ul.wizard_steps li:last-child a:before {
  right: 50%;
  width: 50%;
  left: auto;
}

.progress.progress_sm,
.progress.progress_sm .progress-bar {
  height: 10px !important;
}

.step_no {
  background: #34495e;
  color: #fff;
}

.form_wizard .loader,
.form_wizard .msgBox {
  display: none;
}

.progress-bar-success {
  background-color: #26b99a;
}

.progress.progress_sm {
  border-radius: 0;
  margin-bottom: 18px;
}

.progress.vertical.progress_wide {
  width: 35px;
}

.fc-state-default {
  background: #f5f5f5;
  color: #73879c;
}

.fc-state-active,
.fc-state-down {
  color: #333;
  background: #ccc;
}

.dropzone {
  min-height: 300px;
  border: 1px solid #e5e5e5;
}

.dropdown-submenu > .dropdown-menu {
  left: 100%;
  top: auto;
  transform: translate(0, -60%);
}

.caret-right {
  float: right;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-left: 5px solid;
  border-left-color: #999;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  margin-top: 5px;
  margin-right: -8px;
}

/* Display of the buttons of the top menu */
.nav-item {
  min-width: 100px;
  display: inline-block;
  text-align: center;
}

/* Prevent alertify.js alerts from going off screen */
.ajs-message {
  word-wrap: break-word;
}

/* View
We cannot use 100% because main_frame is not set to 100%
80px = 60px (header) + 2*10px (main_frame vertical padding)
*/

#map {
  height: calc(100vh - 80px);
}

/* Cross-browser control alignment in the middle */
.nav-controls {
  border-radius: 10px;
  margin: auto;
  padding: 7px 7px;
  margin-bottom: 5px;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
}

.glyphicon-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* For tooltips positioning with target key */
.overlay {
  position: absolute;
  height: 20%;
  width: 98%;
}
