#network {
  height: calc(100vh - 80px);
}

/* Cross-browser compatibility for width: fit-content needed */
.controls {
  z-index: 999999;
  position: absolute;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  left: 50%;
  transform: translate(-50%, 0);
}

.navbar-custom {
  float: left;
  padding: 7px 7px;
}

.controls_mode {
  float: left;
  padding-right: 10px;
}
