#network {
  height: calc(100vh - 80px);
}

.controls {
  margin: auto;
  display: table;
}

.navbar-custom {
    float: left;
    padding: 7px 7px;
}

.controls_mode {
    float: left;
    padding-right: 10px;
}
