{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<form action="" method="post" class="form form-group" enctype=multipart/form-data style="width:100%">

<div class="col-md-3">      
    <div class="panel panel-default" style="height: 500px">
        <div class="panel-heading">Select devices</div>
        <div class="panel-body">
    {{ form.csrf_token }}

{{ form.assigned(id="assigned", class="form-control") }}
<br><br>
<button data-target="#confirm" data-toggle="modal" type="button" class="btn btn-primary btn-lg btn-block">Send script</button>

        </div>
    </div>
</div>

<div class="col-md-9">      
    <div class="panel panel-default" style="height: 500px">
        <div class="panel-heading">Script</div>
        <div class="panel-body">
        {{ form.script(id="script", class="form-control", size='20') }}
        </div>
    </div>
</div>

</form>

</div>

<!-- bootstrap modal summary of all parameters and user confirmation to send -->
<div class="bootstrap">
    <div class="modal fade" id="confirm" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type=
                    "button"><span>&times;</span></button>

                    <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                </div>

                <div class="modal-body">
                    aaa
                </div>

                <div class="modal-footer">
                    <!-- close the modal without sending the script -->
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button> 
                    
                    <!-- send the script -->
                    <input type="submit" name ="send" value="send" class="btn btn-primary btn-lg btn-block">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

