{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<form action="" method="post" class="form form-group" enctype=multipart/form-data style="width:100%">

<div class="col-md-3">      
    <div class="panel panel-default" style="height: 500px">
        <div class="panel-heading">Select devices</div>
        <div class="panel-body">
    {{ form.csrf_token }}

{{ form.devices(id="Devices", class="form-control", size='20') }}<br>
<button data-target="#confirm" data-toggle="modal" type="button" class="btn btn-primary btn-lg btn-block">Send script</button>

        </div>
    </div>
</div>

<div class="col-md-9">      
    <div class="panel panel-default" style="height: 500px">
        <div class="panel-heading">Script</div>
        <div class="panel-body">
        {{ form.script(id="script", class="form-control", rows='20') }}
        </div>
    </div>
</div>

</form>

</div>

{% endblock %}

