{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<form action="" method="post" class="form form-group" enctype=multipart/form-data style="width:100%">

<div class="col-md-3">      
    <div class="panel panel-default" style="height: 500px">
        <div class="panel-heading">Netmiko parameters</div>
        <div class="panel-body">
            {{ form.csrf_token }}
        
            Select a driver :<br>
            {{ form.driver(id="driver", class="form-control") }}<br>
            
            Username :<br>
            {{ form.username(id="username", class="form-control") }}<br>
            
            Password :<br>
            {{ form.password(id="password", class="form-control") }}<br>
            
            Secret password (optional):<br>
            {{ form.secret(id="secret", class="form-control") }}<br>
            
            Global delay factor :
            {{ form.global_delay_factor(id="global_delay_factor", class="form-control") }}<br>
            
            YAML file used for Jinja2 :
            {{ form.file() }}

        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-default" style="height: 500px">
        <div class="panel-heading">Script (list of commands or Jinja2 template)</div>
        <div class="panel-body">
        {{ form.raw_script(id="raw_script", class="form-control", rows='20') }}
        </div>
    </div>
</div>

<div class="col-md-3">      
    <div class="panel panel-default" style="height: 500px">
        <div class="panel-heading">Select devices</div>
        <div class="panel-body">
        
            {{ form.csrf_token }}
            {{ form.devices(id="Devices", class="form-control", size='20') }}<br>
            <input type="submit" name="send" value="send" class="btn btn-primary btn-lg btn-block">

        </div>
    </div>
</div>

</form>

{% endblock %}

