<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span> eNMS </span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="{{ url_for('users_blueprint.static', filename='images/afourmy.jpg') }}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span> Welcome, </span>
      <h2> {{ current_user.username }} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
      
        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/dashboard_control">Dashboard control</a></li>
          </ul>
        </li>
        
        <li><a><i class="fa fa-users"></i> Users <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/users/overview">Overview</a></li>
            <li><a href="/users/manage_users">Manage users</a></li>
            <li><a href="/users/tacacs_server">Configure TACACS server</a></li>
          </ul>
        </li>
        
        <li><a><i class="fa fa-sitemap"></i> Objects <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/objects/objects">Overview</a></li>
            <li><a href="/objects/object_creation">Object creation</a></li>
            <li><a href="/objects/object_deletion">Object deletion</a></li>
            <li><a href="/objects/object_filtering">Object filtering</a></li>
          </ul>
        </li>
        
        <li><a><i class="fa fa-map-marker"></i> Views <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/views/geographical_view">Geographical view</a></li>
            <li><a href="/views/logical_view">Logical view</a></li>
            <li><a href="/views/google_earth_export">Google Earth export</a></li>
          </ul>
        </li>
        
        <li><a><i class="fa fa-clock-o"></i> Scripts <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/scripts/overview">Overview</a></li>
            <li><a href="/scripts/netmiko_configuration">Netmiko Configuration script</a></li>
            <li><a href="/scripts/napalm_configuration">Napalm Configuration script</a></li>
            <li><a href="/scripts/getters">Napalm Getters script</a></li>
            <li><a href="/scripts/file_transfer">File transfer script</a></li>
            <li><a href="/scripts/ansible">Ansible script</a></li>
          </ul>
        </li>

        <li><a><i class="fa fa-clock-o"></i> Workflows <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/workflow/overview">Overview</a></li>
            <li><a href="/workflow/workflow_creation">Workflow manager</a></li>
          </ul>
        </li>

        <li><a><i class="fa fa-clock-o"></i> Tasks <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/tasks/task_management">Task management</a></li>
            <li><a href="/tasks/calendar">Calendar</a></li>
          </ul>
        </li>
        
        <li><a><i class="fa fa-users"></i> Logs <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/logs/overview">Overview</a></li>
            <li><a href="/logs/syslog_server">Configure Syslog server</a></li>
          </ul>
        </li>
        
        <li><a><i class="fa fa-copyright"></i> About <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/project">Project</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

</div>
